backup-workflows-HE4xaoe6sSjfWKyf.json
{"createdAt":"2024-05-28T00:30:07.522Z","updatedAt":"2024-05-28T00:43:48.000Z","id":"HE4xaoe6sSjfWKyf","name":"Backup Workflows","active":true,"nodes":[{"parameters":{"options":{}},"id":"92afaf56-6aae-4387-b5bf-210ad92c9dda","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[760,720]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"31745450-a892-4267-8c93-9d25bd5ef410","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[960,720]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"01681bd1-0548-46e3-8ac8-4b967a2357d7","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[1160,720]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"estevesm","mode":"list","cachedResultName":"estevesm","cachedResultUrl":"https://github.com/estevesm"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/estevesm/n8n-workflows"},"filePath":"="},"id":"b957bd67-ccbf-4595-99fd-1753ef7f8ef7","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1360,720],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"kuvuSIgvMAemtueZ","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"c680a391-84ab-4c04-a859-fe59f9832e38","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1560,720]},{"parameters":{"filters":{}},"id":"df77872d-8b1d-49c0-94d8-2005f16810be","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1760,720],"credentials":{"n8nApi":{"id":"TphI1RgaVJHsDugD","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"b717a9f4-a84a-4810-aed2-43eb03ee2c6c","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1960,720]},{"parameters":{"batchSize":1,"options":{}},"id":"2b0b89be-aff8-4d8c-9671-77408b0698c0","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[2200,720]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"fada825e-0a8c-41e7-ad3e-918f19166d82","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[2439.2528427493457,629.8065175238871]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"estevesm","mode":"list","cachedResultName":"estevesm","cachedResultUrl":"https://github.com/estevesm"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/estevesm/n8n-workflows"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"1bda4214-726c-453d-a2ad-6309b01845d5","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2659.2528427493457,429.8065175238871],"credentials":{"githubOAuth2Api":{"id":"kuvuSIgvMAemtueZ","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"estevesm","mode":"list","cachedResultName":"estevesm","cachedResultUrl":"https://github.com/estevesm"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/estevesm/n8n-workflows"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"a50ba04c-c4a9-4580-bfbf-e854b1d6610e","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2659.2528427493457,829.8065175238871],"credentials":{"githubOAuth2Api":{"id":"kuvuSIgvMAemtueZ","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"id":"0c2ce4dc-4deb-4c8c-bc7d-1b7166df120b","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[560,720]}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"39646395-b5c8-421e-aaaa-5e07cebb1998","triggerCount":1,"tags":[]}