lembretes-grupos-living-9mgvbkxgpRrQQRpO.json
{"createdAt":"2024-05-09T19:49:01.019Z","updatedAt":"2024-05-09T19:59:20.000Z","id":"9mgvbkxgpRrQQRpO","name":"Lembretes Grupos Living","active":true,"nodes":[{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"F141ea19bb9ca40c981694b3c825d73f6S"},{}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{$input.item.json.body.participantPhone}}\",\n  \"message\": \"vc me chamou ?....\"\n}","options":{}},"id":"8bdbf7d7-7487-4a99-a84d-779d5c968963","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,260]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"85f71014-bb6f-47b3-ae8b-fea740f0e640","leftValue":"={{$input.item.json.body.text.message}}","rightValue":"/tasks","operator":{"type":"string","operation":"contains"}},{"id":"87ee749f-0c01-452f-8668-2392fcc58766","leftValue":"={{$input.item.json.body.text.message}}","rightValue":"#fdsfsdfdsfsd","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"id":"00f4887b-2def-490e-bdb6-713a9f9400ed","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[600,280]},{"parameters":{"httpMethod":"POST","path":"groupMobileLiving","options":{"responseData":""}},"id":"5f9bf707-d1c8-4f27-8a74-d7f05d8f3cb8","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[320,280],"webhookId":"eb129173-2f02-435a-b627-0f5b6091ef43"}],"connections":{"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9dd0d747-c945-4e67-8f26-a2806dd1d268","triggerCount":1,"tags":[]}