manage-z-api-AqZjTmmN05Pk3Pus.json
{"createdAt":"2024-05-10T16:53:19.833Z","updatedAt":"2024-05-14T22:13:58.000Z","id":"AqZjTmmN05Pk3Pus","name":"Manage Z-API","active":false,"nodes":[{"parameters":{"workflowId":"QW3iNaLk6pTZ0ZCi","options":{}},"id":"a61ddc00-ccab-437c-9931-a2dbe0876fcd","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1720,660]},{"parameters":{},"id":"60407996-98e9-4b23-a7cb-0a5c28452538","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-140,340]},{"parameters":{"jsCode":"return [\n  {\n    \"headers\": {\n      \"host\": \"hom-n8n.ctel.living-consultoria.com.br\",\n      \"x-real-ip\": \"129.159.57.114\",\n      \"x-forwarded-for\": \"129.159.57.114\",\n      \"x-forwarded-proto\": \"https\",\n      \"connection\": \"upgrade\",\n      \"content-length\": \"824\",\n      \"content-type\": \"application/json\",\n      \"origin\": \"https://api.z-api.io\",\n      \"server\": \"Z-API\",\n      \"user-agent\": \"Mozilla/5.0 (iPad; CPU OS 16_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/111.0.5563.101 Mobile/15E148 Safari/604.1\",\n      \"z-api-token\": \"ECF5B6F24C278CF3BFB55D3C\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"isStatusReply\": false,\n      \"chatLid\": null,\n      \"connectedPhone\": \"5521981123644\",\n      \"waitingMessage\": false,\n      \"isEdit\": false,\n      \"isGroup\": true,\n      \"isNewsletter\": false,\n      \"instanceId\": \"3CEEA0A6BCD2D0E49FB9D6E96DCD545E\",\n      \"messageId\": \"AB7F0DAE67C4FE53A2\",\n      \"phone\": \"120363295629232541-group\",\n      \"fromMe\": false,\n      \"momment\": 1715264433071,\n      \"status\": \"RECEIVED\",\n      \"chatName\": \"WinePOC-n8n GPT\",\n      \"senderPhoto\": \"https://pps.whatsapp.net/v/t61.24694-24/55963733_409938569556193_4756501359186935808_n.jpg?ccb=11-4&oh=01_Q5AaIPYrvNwO3r5qav4Q02EqBrhA2mpyKrhVnfYJYRtl1gB6&oe=6649F05A&_nc_sid=e6ed6c&_nc_cat=111\",\n      \"senderName\": \"Esteves Marques\",\n      \"photo\": null,\n      \"broadcast\": false,\n      \"participantPhone\": \"5521974894586\",\n      \"participantLid\": null,\n      \"messageExpirationSeconds\": 0,\n      \"forwarded\": false,\n      \"type\": \"ReceivedCallback\",\n      \"fromApi\": false,\n      \"text\": {\n        \"message\": \"menu\"\n      }\n    },\n    \"webhookUrl\": \"https://hom-n8n.ctel.living-consultoria.com.br/webhook/winepoc-zapi\",\n    \"executionMode\": \"production\"\n  }\n]"},"id":"40c89808-6413-4dc0-b6f8-3b1a0191d936","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[40,340]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5008112c-a903-40eb-b926-e9c70921fc7b","leftValue":"={{ $json.message }}","rightValue":"/?","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"b61f3194-095d-4ee6-92f0-8c1ad25b5700","leftValue":"={{ $json.message }}","rightValue":"/info","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"8fdaf786-1ad9-46ae-bca6-aaec81fb2a03","leftValue":"={{ $json.message }}","rightValue":"/menu","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"e77321cf-f9eb-4d68-8eb5-18584beccfe7","name":"Comando Ou Mensagem","type":"n8n-nodes-base.if","typeVersion":2,"position":[660,340]},{"parameters":{"databaseId":106050,"tableId":297059,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2129437,"value":"1"}]}}},"id":"8358b603-9598-44dc-b7b9-c9c38ad3f80b","name":"Obter Endpoint Ativo","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[240,340],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e7ee0b8b-c066-45a1-9c77-0b79db53c92c","name":"isGroup","value":"={{ $('Code').item.json.body.isGroup }}","type":"string"},{"id":"05d2c260-4d9a-4981-8389-b2f12e01ef81","name":"message","value":"={{ $('Code').item.json.body.text.message }}","type":"string"}]},"options":{}},"id":"b8702a0f-06cc-42ad-a95c-4b26897573af","name":"Separar Campos Input","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[460,340],"alwaysOutputData":true},{"parameters":{"jsCode":"return {\n  \"msg\": \"Dados do fluxo atual desta linha:\\n\\n*Sistema*: \" + $('Obter Endpoint Ativo').first().json.Sistema + \"\\n*Endpoint*: \" + $('Obter Endpoint Ativo').first().json.Endpoint\n}"},"id":"59512549-8b21-469d-b08f-1fdd160047c2","name":"Mensagem Info","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,140]},{"parameters":{"jsCode":"return {\n  \"phone\": \"5521974894586\",\n  \"message\": \"Selecione uma das opções:\",\n  \"optionList\": {\n    \"title\": \"Opções disponíveis\",\n    \"buttonLabel\": \"Abrir lista de opções\",\n    \"options\": [\n      {\n        \"id\": \"1\",\n        \"title\": \"Alterar Sistema Ativo\",\n        \"description\": \"Seta para qual fluxo o telefone irá atuar\"\n      },\n      {\n        \"id\": \"2\",\n        \"title\": \"Altera o Endpoint do Sistema\",        \n        \"description\": \"Modifica o enpoint do sistema selecionado\"\n      },\n      {\n        \"id\": \"3\",\n        \"title\": \"Incluir Sistema\",        \n        \"description\": \"Inclui um novo sistema e seu endpoint\"\n      }\n    ]\n  }\n}"},"id":"58d6753e-6aa3-4016-b1ac-a8636417051b","name":"Mensagem Menu","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,320]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"5521974894586"},{"name":"message","value":"={{ $json.msg }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"bf4e323a-9e23-49f9-b646-e55a374eb550","name":"Z-API Text","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,140]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-option-list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $json.phone }}"},{"name":"message","value":"={{ $json.message }}"},{"name":"optionList","value":"={{ $json.optionList }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"15ff4742-fddc-4be2-830e-37551adb4876","name":"Z-API Option List","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,320]},{"parameters":{"jsCode":"return {\n  \"msg\": \"Segue a lista de comandos disponíveis:\\n\\n*/?*: Mostra esta lista de comandos\\n*/info*: Mostra o sistema e o endpoint na qual esta linha está configurada\\n*/menu*: Mostra as opções de configurações para esta linha\"\n}"},"id":"30013db1-4d61-4e0f-b7a1-6f8fd63ea302","name":"Mensagem Help","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,-40]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Separar Campos Input').item.json.message }}","rightValue":"/?","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Help"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"3dfff47e-f461-4f18-b22a-53af2162877a","leftValue":"={{ $('Separar Campos Input').item.json.message }}","rightValue":"/info","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Info"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"07556be4-72e5-4143-bb62-e01b911ff2a3","leftValue":"={{ $('Separar Campos Input').item.json.message }}","rightValue":"/menu","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Menu"}]},"options":{}},"id":"757da6c8-881e-4be0-a5c7-efe3f6cd92a6","name":"Switch Comandos","type":"n8n-nodes-base.switch","typeVersion":3,"position":[960,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b7c20e88-4ef6-47e1-a41b-5a51435c2cd7","leftValue":"={{ $('Separar Campos Input').item.json.message }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"60a4cf40-9299-4c69-96be-65f54c860516","name":"Opção ou Mensagem","type":"n8n-nodes-base.if","typeVersion":2,"position":[960,640]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.message }}","rightValue":"/","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Opção"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"833b7b70-83e5-4fc5-89c7-11c41e895d1a","leftValue":"={{ $json.message }}","rightValue":"/","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comando"}]},"options":{}},"id":"b54d0bab-a038-4718-9e10-4d3518ebbd44","name":"Verifica Opções","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1200,760]},{"parameters":{"method":"POST","url":"={{ $('Obter Endpoint Ativo').item.json.Endpoint }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Code').item.json.body }}","options":{"redirect":{"redirect":{}}}},"id":"c92aaaa3-5b38-457e-949b-1d24733bdc2a","name":"Repassa mensagem para o webhook","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,520]}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Obter Endpoint Ativo","type":"main","index":0}]]},"Comando Ou Mensagem":{"main":[[{"node":"Switch Comandos","type":"main","index":0}],[{"node":"Opção ou Mensagem","type":"main","index":0}]]},"Obter Endpoint Ativo":{"main":[[{"node":"Separar Campos Input","type":"main","index":0}]]},"Separar Campos Input":{"main":[[{"node":"Comando Ou Mensagem","type":"main","index":0}]]},"Mensagem Info":{"main":[[{"node":"Z-API Text","type":"main","index":0}]]},"Mensagem Menu":{"main":[[{"node":"Z-API Option List","type":"main","index":0}]]},"Mensagem Help":{"main":[[{"node":"Z-API Text","type":"main","index":0}]]},"Switch Comandos":{"main":[[{"node":"Mensagem Help","type":"main","index":0}],[{"node":"Mensagem Info","type":"main","index":0}],[{"node":"Mensagem Menu","type":"main","index":0}]]},"Opção ou Mensagem":{"main":[[{"node":"Repassa mensagem para o webhook","type":"main","index":0}],[{"node":"Verifica Opções","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"26f79bc8-7857-45e9-8a22-eafa5e6667ae","triggerCount":0,"tags":[]}