manage-z-api---v2-st0IxP2p2fth4MV0.json
{"createdAt":"2024-05-16T13:37:29.208Z","updatedAt":"2024-05-22T22:48:18.000Z","id":"st0IxP2p2fth4MV0","name":"Manage Z-API - V2","active":true,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5008112c-a903-40eb-b926-e9c70921fc7b","leftValue":"={{ $('Webhook').item.json.body.text.message }}","rightValue":"/?","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"b61f3194-095d-4ee6-92f0-8c1ad25b5700","leftValue":"={{ $('Webhook').item.json.body.text.message }}","rightValue":"/info","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"8fdaf786-1ad9-46ae-bca6-aaec81fb2a03","leftValue":"={{ $('Webhook').item.json.body.text.message }}","rightValue":"/menu","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"ba72bd19-3c0d-4989-b9ae-d6475798b955","name":"Comando Ou Mensagem","type":"n8n-nodes-base.if","typeVersion":2,"position":[880,380]},{"parameters":{"jsCode":"return {\n  \"msg\": \"Dados do fluxo atual desta linha:\\n\\n*Sistema*: \" + $('Obter Configuração do Fluxo Ativo').first().json.Sistema + \"\\n*Endpoint*: \" + $('Obter Configuração do Fluxo Ativo').first().json.Endpoint\n}"},"id":"e282098b-4274-4f0d-97ef-1fd6d6db1102","name":"Mensagem Info","type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,140]},{"parameters":{"jsCode":"return {\n  \"phone\": $('Webhook').item.json.body.phone,\n  \"message\": \"O menu abaixo representa uma lista de opções de configuração apenas do BOT. Estas não são opções do sitema para qual o fluxo/endpoint está configurado. \\n\\nSelecione uma das opções:\",\n  \"optionList\": {\n    \"title\": \"Opções disponíveis\",\n    \"buttonLabel\": \"Abrir lista de opções\",\n    \"options\": [\n      {\n        \"id\": \"1\",\n        \"title\": \"Alterar Sistema Ativo\",\n        \"description\": \"Seta para qual fluxo o telefone irá atuar\"\n      },\n      {\n        \"id\": \"2\",\n        \"title\": \"Alterar o Endpoint do Sistema\",        \n        \"description\": \"Modifica o enpoint do sistema selecionado\"\n      },\n      {\n        \"id\": \"3\",\n        \"title\": \"Incluir Sistema\",        \n        \"description\": \"Inclui um novo sistema e seu endpoint\"\n      }\n    ]\n  }\n}"},"id":"c04f54f3-5d68-4019-990a-bdd7109296f3","name":"Mensagem Menu","type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,320]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Webhook').item.json.body.phone }}"},{"name":"message","value":"={{ $json.msg }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"4d367fd3-359f-4a1f-89ec-b2f3bd53de3a","name":"Z-API Text","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,140]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-option-list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $json.phone }}"},{"name":"message","value":"={{ $json.message }}"},{"name":"optionList","value":"={{ $json.optionList }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"ac5dec11-78c5-4db6-9171-f0358ca2e90d","name":"Z-API Option List","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,320]},{"parameters":{"jsCode":"return {\n  \"msg\": \"Segue a lista de comandos disponíveis:\\n\\n*/?*: Mostra esta lista de comandos\\n*/info*: Mostra o sistema e o endpoint na qual esta linha está configurada\\n*/menu*: Mostra as opções de configurações para esta linha\"\n}"},"id":"1dea55e1-f8b1-4be6-812b-2d67a08c396c","name":"Mensagem Help","type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,-40]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b7c20e88-4ef6-47e1-a41b-5a51435c2cd7","leftValue":"={{ $('Webhook').item.json.body.text.message }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e9a52dcd-7532-4dd7-90ff-17fcc8076db1","name":"Opção ou Mensagem","type":"n8n-nodes-base.if","typeVersion":2,"position":[1680,780]},{"parameters":{"method":"POST","url":"={{ $('Obter Configuração do Fluxo Ativo').item.json.Endpoint }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Webhook').item.json.body }}","options":{"redirect":{"redirect":{}}}},"id":"81635ef1-f8f5-4133-b5f0-d13ca2f0f0dd","name":"Repassa mensagem para o webhook","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1920,620]},{"parameters":{},"id":"95e622e6-4aa3-450c-9cf9-e568ef3eeadc","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1180,-280]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"d1ab7a58-7132-48be-8b57-3c4dccf726d4","leftValue":"={{ $('Webhook').item.json.body.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"241d2b76-9e32-4c10-af34-81dba4bc97cb","name":"Mensagem de Grupo","type":"n8n-nodes-base.if","typeVersion":2,"position":[-220,-20]},{"parameters":{"databaseId":106050,"tableId":299209,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2145852,"value":"1"}]}}},"id":"d2467780-7656-48af-87d5-8b8f95999ee1","name":"Obter Configuração do Fluxo Ativo","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-560,-20],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5008112c-a903-40eb-b926-e9c70921fc7b","leftValue":"={{ $('Obter Configuração do Fluxo Ativo').item.json.Keywords.find(x=> x.value == $('Webhook').item.json.body.text.message) }}","rightValue":0,"operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"id":"cf1abc7f-abdd-4689-8454-f59987773c5e","name":"É Palavra Chave?","type":"n8n-nodes-base.if","typeVersion":2,"position":[880,-380]},{"parameters":{"method":"POST","url":"={{ $('Obter Configuração do Fluxo Ativo').item.json.Endpoint }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Webhook').item.json.body }}","options":{"redirect":{"redirect":{}}}},"id":"fb60d664-3ec2-4380-8a3b-96bb39712e10","name":"Repassa para o webhook","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,-500]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"7b12a68f-91dd-43af-9127-519e629adc77","leftValue":"={{ $('Webhook').item.json.body.text.message }}","rightValue":"#bot","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"0ca8d8ff-2a14-4535-95a3-a2fc6b88f994","name":"Palavra Reservada","type":"n8n-nodes-base.if","typeVersion":2,"position":[600,-540]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Webhook').item.json.body.phone }}"},{"name":"message","value":"={{ $json.msgGrupo }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"80c40434-fe83-4bfa-a433-2f8beff76e19","name":"Avisa no Grupo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,-700]},{"parameters":{"amount":2},"id":"5d5c6559-21c3-472a-96da-19cbe26bf5de","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1420,-700],"webhookId":"8e4af3cb-f9f9-43b6-a33a-b3f6761c71c5"},{"parameters":{"jsCode":"return {\n  \"msgGrupo\": \"Opa \" + $('Webhook').first().json.body.senderName + \" !\\nVou lhe chamar no privado para que a gente possa conversar sem atrapalhar o grupo. 👍\",\n  \"msgPrivada\": \"Olá, vi que você me chamou.\\nDeixa eu lhe passar algumas informaçoes.\\n\\nNo momento eu estou com o fluxo *\" + $('Obter Configuração do Fluxo Ativo').first().json.Sistema + \"* (_\" + $('Obter Configuração do Fluxo Ativo').first().json.Descricao + \"_).\\n\\nSe você quiser acessar as minhas configurações envie o comando */menu*, caso contrário, qualquer mensagem enviada a partir de agora será uma interação com o sistema *\" + $('Obter Configuração do Fluxo Ativo').first().json.Sistema + \"*.\"\n}"},"id":"12a0cc4a-4aa2-4a1c-9f01-d573e7098b9f","name":"Formata Mensagens","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,-700]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Webhook').item.json.body.participantPhone }}"},{"name":"message","value":"={{ $('Formata Mensagens').item.json.msgPrivada }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"5af89833-8877-4ba5-9746-47791a252c50","name":"Mensagem Privada","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,-700]},{"parameters":{"method":"POST","url":"={{ $('Obter Configuração do Fluxo Ativo').item.json.Endpoint }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Webhook').item.json.body }}","options":{"redirect":{"redirect":{}}}},"id":"7dfacf43-0bdb-4f8f-8b75-4897253ec539","name":"Repassa toda mensagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2220,1400]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.listResponseMessage.title }}","rightValue":"Incluir Sistema","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Incluir Sistema"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"833b7b70-83e5-4fc5-89c7-11c41e895d1a","leftValue":"={{ $('Webhook').item.json.body.listResponseMessage.title }}","rightValue":"Alterar o Endpoint do Sistema","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Alterar o Endpoint"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"54a3e3f0-0cae-472d-b9be-9f9d7392b2fa","leftValue":"={{ $('Webhook').item.json.body.listResponseMessage.title }}","rightValue":"Alterar Sistema Ativo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Alterar Sistema Ativo"}]},"options":{"fallbackOutput":"extra"}},"id":"874f3690-7ba8-47b8-858a-7134392bd006","name":"Verifica Opções","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1920,1140]},{"parameters":{"jsCode":"return {\n  \"phone\": $('Webhook').item.json.body.phone,\n  \"message\": \"Para incluir um novo sistema, utilize o formulário abaixo:\\n\\nhttps://baserow.io/form/HkK_QyM6Svuuo6enGoqBEhFS-Tew1WArAtdZZQquvsE\"\n}"},"id":"4cd8bae4-971d-428a-81a3-0fa41bc78158","name":"Inclui Sistema","type":"n8n-nodes-base.code","typeVersion":2,"position":[2220,860]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $json.phone }}"},{"name":"message","value":"={{ $json.message }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"558134cf-bf54-445c-a7ad-da00d9ed98bd","name":"Envia Mensagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2540,1040]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"0e6401a5-3438-445c-896b-120eccda7f86","leftValue":"={{ $json.body.event_type }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"0807ee77-7170-4de3-be51-18ae10e3a685","name":"Baserow Ou Whatsapp","type":"n8n-nodes-base.if","typeVersion":2,"position":[-860,-180]},{"parameters":{"databaseId":106050,"tableId":299209,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2145850,"value":"={{ $json.body.items[0].Sistema }}"}]}}},"id":"01240c88-d6c2-4d63-b903-824a2ead08a1","name":"Atualiza Endpoint - Busca Registro","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-560,-340],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":106050,"tableId":299209,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2145854,"fieldValue":"={{ $('Webhook').item.json.body.items[0].Endpoint }}"}]}},"id":"c5de0414-b88f-47bc-897e-fdfe47de37d7","name":"Atualiza Registro","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-220,-340],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"jsCode":"return {\n  \"phone\": $('Webhook').item.json.body.phone,\n  \"message\": \"Para alterar o sistema ativo, utilize o formulário abaixo:\\n\\nhttps://baserow.io/form/HkK_QyM6Svuuo6enGoqBEhFS-Tew1WArAtdZZQquvsE\"\n}"},"id":"e45b38d6-57c7-4266-8bb9-f5593edd7730","name":"Alterar Sistema Ativo","type":"n8n-nodes-base.code","typeVersion":2,"position":[2220,1220]},{"parameters":{"jsCode":"return {\n  \"phone\": $('Webhook').item.json.body.phone,\n  \"message\": \"Para alterar o sistema ativo, utilize o formulário abaixo:\\n\\n\" + $('Obter Configuração do Fluxo Ativo').item.json.UpdateLink.url\n}"},"id":"1b4f2071-f22c-4516-a466-4d509b1f0059","name":"Alterar Endpoint","type":"n8n-nodes-base.code","typeVersion":2,"position":[2220,1040]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.text.message }}","rightValue":"/?","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Help"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"3dfff47e-f461-4f18-b22a-53af2162877a","leftValue":"={{ $('Webhook').item.json.body.text.message }}","rightValue":"/info","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Info"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"07556be4-72e5-4143-bb62-e01b911ff2a3","leftValue":"={{ $('Webhook').item.json.body.text.message }}","rightValue":"/menu","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Menu"}]},"options":{}},"id":"a6aba4ae-7be3-4927-9db6-49a11764e55d","name":"Switch Comandos","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1180,140]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"156575f1-2ec7-445d-a99a-767c763b72c4","leftValue":"={{ $('Obter Configuração do Fluxo Ativo').item.json.Keywords.find(x=> x.value == $('Webhook').item.json.body.text.message) }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"3fa76299-b166-4854-b0df-48c597fab3a4","name":"Palavra Chave","type":"n8n-nodes-base.if","typeVersion":2,"position":[1440,640]},{"parameters":{"httpMethod":"POST","path":"manage-zapi-v2","options":{}},"id":"cc5fa1b9-9686-4ba6-b418-f93f13b0e252","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1160,-180],"webhookId":"197ce4de-a779-4cd3-8794-416ee569ca22"}],"connections":{"Comando Ou Mensagem":{"main":[[{"node":"Switch Comandos","type":"main","index":0}],[{"node":"Palavra Chave","type":"main","index":0}]]},"Mensagem Info":{"main":[[{"node":"Z-API Text","type":"main","index":0}]]},"Mensagem Menu":{"main":[[{"node":"Z-API Option List","type":"main","index":0}]]},"Mensagem Help":{"main":[[{"node":"Z-API Text","type":"main","index":0}]]},"Opção ou Mensagem":{"main":[[{"node":"Repassa mensagem para o webhook","type":"main","index":0}],[{"node":"Verifica Opções","type":"main","index":0}]]},"Mensagem de Grupo":{"main":[[{"node":"Palavra Reservada","type":"main","index":0}],[{"node":"Comando Ou Mensagem","type":"main","index":0}]]},"Obter Configuração do Fluxo Ativo":{"main":[[{"node":"Mensagem de Grupo","type":"main","index":0}]]},"É Palavra Chave?":{"main":[[{"node":"Repassa para o webhook","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Palavra Reservada":{"main":[[{"node":"Formata Mensagens","type":"main","index":0}],[{"node":"É Palavra Chave?","type":"main","index":0}]]},"Avisa no Grupo":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Mensagem Privada","type":"main","index":0}]]},"Formata Mensagens":{"main":[[{"node":"Avisa no Grupo","type":"main","index":0}]]},"Verifica Opções":{"main":[[{"node":"Inclui Sistema","type":"main","index":0}],[{"node":"Alterar Endpoint","type":"main","index":0}],[{"node":"Alterar Sistema Ativo","type":"main","index":0}],[{"node":"Repassa toda mensagem","type":"main","index":0}]]},"Inclui Sistema":{"main":[[{"node":"Envia Mensagem","type":"main","index":0}]]},"Baserow Ou Whatsapp":{"main":[[{"node":"Atualiza Endpoint - Busca Registro","type":"main","index":0}],[{"node":"Obter Configuração do Fluxo Ativo","type":"main","index":0}]]},"Atualiza Endpoint - Busca Registro":{"main":[[{"node":"Atualiza Registro","type":"main","index":0}]]},"Alterar Endpoint":{"main":[[{"node":"Envia Mensagem","type":"main","index":0}]]},"Alterar Sistema Ativo":{"main":[[{"node":"Envia Mensagem","type":"main","index":0}]]},"Switch Comandos":{"main":[[{"node":"Mensagem Help","type":"main","index":0}],[{"node":"Mensagem Info","type":"main","index":0}],[{"node":"Mensagem Menu","type":"main","index":0}]]},"Palavra Chave":{"main":[[{"node":"Repassa mensagem para o webhook","type":"main","index":0}],[{"node":"Opção ou Mensagem","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Baserow Ou Whatsapp","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c099a847-f9f4-4654-975d-b584f0dcd83c","triggerCount":1,"tags":[]}