poc-grupo-VzXtCOv57bDS2ptK.json
{"createdAt":"2024-05-07T14:52:06.782Z","updatedAt":"2024-05-08T13:09:57.000Z","id":"VzXtCOv57bDS2ptK","name":"POC Grupo","active":true,"nodes":[{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"F141ea19bb9ca40c981694b3c825d73f6S"},{}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{$input.item.json.body.participantPhone}}\",\n  \"message\": \"Opa tudo bem, vi que ficou interessado em comprar o Vinho malbeck xptro R$ 1000. Vamos continuar com sua compra...\"\n}","options":{}},"id":"895655de-7700-45aa-9eb1-83b7ae15dbb2","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,220]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"85f71014-bb6f-47b3-ae8b-fea740f0e640","leftValue":"={{$input.item.json.body.text.message}}","rightValue":"eu quero","operator":{"type":"string","operation":"contains"}},{"id":"87ee749f-0c01-452f-8668-2392fcc58766","leftValue":"={{$input.item.json.body.text.message}}","rightValue":"#malbec1000","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"id":"4361633f-e04e-4e5c-83f2-70e8deb972ea","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[600,340]},{"parameters":{"httpMethod":"POST","path":"group/message/receive","options":{"responseData":""}},"id":"3e247ee2-2664-4ab0-ba57-29cc0943239f","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[320,280],"webhookId":"a5ff3461-ab6b-498a-8b8f-774d421e9ca0"}],"connections":{"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"37aa057d-e827-4872-b092-0c248b938345","triggerCount":1,"tags":[{"createdAt":"2024-05-08T13:09:55.886Z","updatedAt":"2024-05-08T13:09:55.886Z","id":"qtbabSxOGEvlIduf","name":"homolog"}]}