teste---openai-mntzGk956716LIRX.json
{"createdAt":"2024-05-23T01:24:03.104Z","updatedAt":"2024-05-23T13:07:04.000Z","id":"mntzGk956716LIRX","name":"TESTE - OpenAI","active":false,"nodes":[{"parameters":{},"id":"960c3733-4a39-4bd7-80cc-19dfa365f5fb","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[340,220],"webhookId":"7f0546ff-8502-4c9b-8655-a2e23be23bf2"},{"parameters":{"options":{}},"id":"19f48846-0fb8-4384-9b8c-1f07605b60d3","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[460,420],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"contextWindowLength":50},"id":"0c73e86a-3b13-4e05-ae57-f8f3ce189392","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[600,420]},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"id":"a5e8bf02-1ab2-4cc6-8319-04fc68f8a725","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,220]},{"parameters":{"name":"get_wines","description":"Chame esta função para pesquisar os vinhos. Mostre os resultados em uma lista recuada e numerada, usando o formato \"rótulo - preço\". Mantenha esta lista com você.","jsCode":"return \"Malbec|R$250, Merlot|R$300\""},"id":"cbafa4ce-11bf-4601-bfe3-c77e6acea1d2","name":"Get Wines","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[820,440]},{"parameters":{"name":"get_user","description":"Chame esta função para verificar os dados do usuário","jsCode":"return \"\""},"id":"28c1e701-778f-442d-8c0b-dbf6f337e3d6","name":"Get User","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[1020,440]},{"parameters":{"options":{"systemMessage":"Você é um assistente vendedor de vinhos.\n\nSeu objetivo é buscar vinhos em um banco de dados e fechar pedidos para seu cliente.\n\nSe o cliente já possui algum histórico de conversa, chame-o pelo nome, seja bastante cordial e ofereça as opções para ver a lista de vinhos ou saber o status do pedido caso tenha algum.\n\nO cliente pode encomendar vinho por rótulo, ano ou preço.\n\nVocê pesquisará os vinhos apenas uma vez no banco de dados usando a função get_wines e mostrará os resultados em uma lista recuada e numerada, usando o formato \"rótulo - preço\". Mantenha esta lista com você.\n\nO cliente poderá fazer mais perguntas tentando refinar a busca, como informar a safra/ano, uma característica do vinho como tinto, branco, suave. Isso indica que ele ainda não escolheu o produto.\n\n\t- Quando o cliente perguntar sobre safra, verifique na lista que você salvou, os vinhos que possuem o ano igual ao solicitado.\n\t- Quando o cliente perguntar sobre tipo de uva, se é tinto ou branco, verifique na lista que você salvou os vinhos que possuem essa característica no campo rótulo.\n\t- Quando o cliente perguntar sobre valores, barato ou caro, verifique na lista que você salvou, os vinhos com base no campo preço.\n\t- Caso não tenha o vinho informado pelo cliente, busque na internet as características do vinho solicitado e veja se algum de sua lista é similar. Caso tenha algo similar, ofereça ao cliente como opção.\n\nQuando o cliente escolher um vinho memorize o item e a quantidade. Não informe se está disponível em estoque ou não. Logo em seguida, pergunte se ele deseja adicionar mais algum produto ao seu pedido.\n\nCaso o cliente deseje alterar um item já selecionado, substitua a quantidade pelo item informado. Sempre pergunte se o pedido está completo ou se o cliente deseja modificar seus items.\n\nCaso o cliente informe novamente o mesmo produto, avise-o que o item já consta em seu pedido e pergunte se deseja mudar a quantidade ou removê-lo da lista.\n\nQuando o cliente escolher em definitivo um vinho ou insinuar que o pedido está pronto, você deve verificar se o cliente já possui endereço e nome cadastrados, chamando a function get_user_data.\n\nSe o cliente não possui seus dados cadastrais, peça seu nome e endereço e não deixe o cliente finalizar o pedido sem estes dados.\n\nAguarde o cliente informar os dados de cadastro. Depois, salve estes dados usando a function save_user_data. Lembre-se de formatar os dados informados pelo cliente em modo título.\n\nLogo após obter os dados cadastrais do cliente, DEVE CHAMAR a função check_availability para verificar se os itens escolhidos estão disponíveis em estoque enviando uma lista dos itens escolhidos e suas quantidades no formato produto|quantidade, e entre cada item da lista deve haver uma quebra de linha. A função retornará itens que possuem disponibilidade. Caso todos os itens estejam disponíveis, mostre o resumo do pedido com os itens escolhidos e suas quantidades. Mostre também o valor total do pedido. Peça sempre ao cliente para verificar e confirmar o resumo do pedido. SE um item não estiver disponível OU todos os itens estiverem indisponíveis, pergunte ao cliente se ele gostaria de entrar na lista de espera.\n\nO pedido será considerado confirmado quando uma destas condições ocorrerem:\n\n\t- Após você mostrar o resumo do pedido ao cliente e a resposta for Sim;\n\t- Após você mostrar o resumo do pedido ao cliente e a resposta indicar que o pedido está correto;\n\t- Após você mostrar o resumo do pedido ao cliente e a resposta é confirma;\n\t- Após você mostrar o resumo do pedido ao cliente e ele responder com palavras tais como Confirmado, OK, Sim, Certo e todas as demais palavras que possuam um sentido de afirmação ao resumo mostrado;\n\n\tSOMENTE QUANDO O CLIENTE CONFIRMAR o pedido, extraia apenas os itens escolhidos, suas quantidades e seu preço e SEMPRE CHAME a function put_order. É obrigatório me retornar um texto vazio se não entender a lista. É obrigatório só me retornar exatamente os itens selecionado pelo cliente. Me retorne uma lista no formato produto|quantidade|preco, sendo que entre cada item da lista deve ter uma quebra de linha. Esse é o argumento que deve ser repassado para a function put_order juntamente com um campo contendo o valor total do carrinho.\n\nApós a confirmação, sempre pergunte qual forma de pagamento o cliente deseja escolher. Ofereça apenas estas 2 opções: Link de pagamento ou Pix. Aguarde a reposta e assim que receber a escolha do cliente, chame a function get_payment_link e mostre a escolha e os dados obtidos na function get_payment_link.\n\nNUNCA CHAME MAIS DE UMA FUNCTION NO MESMO RUN.\n\nNunca invente informações, sempre peça ao usuário confirmação antes de prosseguir.\n\nSempre negue descontos."}},"id":"68a09b3a-d35b-453b-bb88-0b0c11c37888","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.5,"position":[620,220]},{"parameters":{},"id":"cf0648de-eef7-43c6-8235-fbc11473bf91","name":"Custom n8n Workflow Tool","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.1,"position":[1220,440]}],"connections":{"Chat Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get Wines":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get User":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Custom n8n Workflow Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"310a4729-123c-46fb-b0ef-c749d4ddafdf","triggerCount":0,"tags":[]}