winepoc---botatende-com-openai-25arWTHXWi0ZQKPX.json
{"createdAt":"2024-05-14T18:28:11.758Z","updatedAt":"2024-05-15T13:30:13.000Z","id":"25arWTHXWi0ZQKPX","name":"WinePOC - Botatende com OpenAI","active":true,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"85462951-b2ed-48cc-92bc-85acc872a1b4","leftValue":"={{ $json.whatsapp }}","rightValue":"={{ $('Webhook').item.json.body.phone }}","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"188881da-3ef6-4461-9ede-5cba209ad4fb","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[-4900,2500]},{"parameters":{"databaseId":107311,"tableId":288182,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2061130,"value":"={{ $json.body.phone }}"}]}}},"id":"d6fa1d7f-93c6-434d-a84d-2c8ef217fc8f","name":"GetUser","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-5140,2500],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":107311,"tableId":288182,"fieldsUi":{"fieldValues":[{"fieldId":2061130,"fieldValue":"={{ $('Webhook').item.json.body.phone }}"}]}},"id":"44cb95d9-d847-4c6b-8e11-a60e2d6127b3","name":"CreateUser","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-4660,2620],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"5a5ca5e1-3c9a-4f24-bf86-95b8352dab0c","name":"Criar Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3840,2660],"alwaysOutputData":true,"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{},"id":"62a81fc8-9f8c-493c-85d9-703aa99919e9","name":"Merge User","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-4380,2500],"alwaysOutputData":true,"executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"968ee1b3-fb37-4e94-8282-d1875dce9811","leftValue":"={{ $json.thread_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"99db2866-dd63-4e96-b3eb-1c9ff11f4047","name":"Possui Thread","type":"n8n-nodes-base.if","typeVersion":2,"position":[-4020,2500],"alwaysOutputData":false},{"parameters":{"amount":2},"id":"b5f33ed6-b08b-4bc5-b2c6-2ebacc2067a0","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1560,2280],"webhookId":"2aa1e546-fe85-429b-a055-7e5a1282dc2e"},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $json.body.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"asst_WFAGWLqHBtmcQaMNQGOVJdmf"}]},"options":{}},"id":"ae7431dc-0e8f-42a0-a590-ec3d3c9d91b5","name":"Run Assistant","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2240,2480],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/runs/{{ $json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"67871618-1445-45ab-a277-c6f8e32cb154","name":"Get Run Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2020,2480],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"12a5740e-ff1b-40d0-8e4d-ea9b20902d12","name":"tool_calls","value":"={{ $json.required_action.submit_tool_outputs.tool_calls }}","type":"array"}]},"options":{}},"id":"f983b963-4b4a-4845-8b29-093f017fbaf2","name":"Captura Tool Calls","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1540,1920]},{"parameters":{"fieldToSplitOut":"tool_calls","include":"allOtherFields","options":{"destinationFieldName":"properties"}},"id":"3447ee5e-5590-4c84-aaa3-2084addda1ac","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1320,1920]},{"parameters":{"options":{}},"id":"95fb3f5c-0059-485d-93f5-0df56e80c08b","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1100,1920]},{"parameters":{"method":"POST","url":"https://chatbot.smart.botatende.com/api/integrations/send-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ASUXZjJDMNxSjaFOWcsyNnhos7fC4ONLak5g0FsblcYojmym3KqNwogBsJqduFio"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.data[0].content[0].text.value }}"},{"name":"phone","value":"={{ $('Webhook').item.json.body.phone }}"}]},"options":{}},"id":"404ed869-66bc-49bd-93aa-5861a75f568b","name":"Envia Whatsapp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1100,2480]},{"parameters":{"databaseId":107311,"tableId":288426,"returnAll":true,"additionalOptions":{}},"id":"8fc651c6-4bea-4ad2-a225-8a6e3c372172","name":"Get Wines","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-300,1680],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"databaseId":107311,"tableId":288182,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2061130,"value":"={{ $('Webhook').item.json.body.phone }}"}]}}},"id":"b97adf31-05f0-4f81-bbbd-81e3786ad197","name":"Get User","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-300,1900],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":107311,"tableId":288182,"rowId":"={{ $('GetUser').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2061131,"fieldValue":"={{ $json.properties.function.arguments.parseJson().nome }}"},{"fieldId":2061133,"fieldValue":"={{ $json.properties.function.arguments.parseJson().endereco }}"}]}},"id":"bd170bfb-e41a-44a4-a6f0-a12ac980405c","name":"Save User","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-300,2100],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Tipo Mensagem').item.json.thread_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"assistant"},{"name":"content","value":"={{ $json.mensagem[0] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"60d8712c-d7b3-4651-a2ef-638d02176630","name":"Criar Mensagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2480,2500],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Possui Thread').item.json.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"7f6e98f2-9c65-4609-9a8f-8fe2b4ef9193","name":"List Runs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2580,2160],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Possui Thread').item.json.thread_id }}/runs/{{ $json.first_id }}/cancel","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"77b51b43-596f-4551-8653-594a5852afe3","name":"Cancel Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2320,2160],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Run Assistant').item.json.thread_id }}/runs/{{ $('Run Assistant').item.json.id }}/submit_tool_outputs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"tool_outputs","value":"={{ $json.tool_outputs }}"}]},"options":{}},"id":"ec3474fd-80b2-4292-a73c-3f98b8fc185f","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-300,1360],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"tool_outputs","options":{}},"id":"66605848-8b06-4563-b5f9-4a7b3d63a51f","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-520,1360]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/messages?order-desc","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"777437a6-0a47-4dbd-ba9d-f1b048c4f069","name":"Get Resposta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1320,2480],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.Rotulo }}, {{ $json.Ano }}, {{ $json.Preço }}","type":"string"}]},"options":{}},"id":"82671777-bc11-43f3-a566-edaf7d54858d","name":"Output Wines","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-80,1680]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{"outputFormat":"separateItems"}},"id":"aa920364-e9f6-47aa-82cc-17c31cf4bf8e","name":"Summarize Action","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[840,1900]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"f1ad9be2-e937-4457-b39e-e2a5eb88dbfa","name":"Output Get User","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-80,1900]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"66f51bba-2c2a-44e9-b481-aece3a91b28b","name":"Output Save User","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-80,2100]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"3502007b-a22a-40ba-ba49-8e308da21bc1","name":"Output Put Order","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[540,2220]},{"parameters":{"jsCode":"return {\n  \"link\": \"https://www.userede.com.br/\",\n  \"pix\": \"00020126660014BR.GOV.BCB.PIX0111113593027940229obrigado pela doação no teste52040000530398654040.015802BR5924Victor Hugo Rabelo Neves6009SAO PAULO62140510ZUISFrvsME6304B76F\"\n}"},"id":"52d5c6bd-dd8f-4698-a529-5e8d7663d140","name":"Link de Pagamento","type":"n8n-nodes-base.code","typeVersion":2,"position":[-300,2500]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"d74c3855-fccb-4cad-b5d4-9035b147f739","name":"Output Payment Link","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-80,2500]},{"parameters":{"assignments":{"assignments":[{"id":"12adba31-058a-4496-ab9e-28513217a50a","name":"tool_call_id","value":"={{ $('Split Out').item.json.properties.id }}","type":"string"},{"id":"7b78e22a-8dff-4d5f-8123-4a9ef23d9fa9","name":"output","value":"={{ $json.concatenated_data }}","type":"string"}]},"options":{}},"id":"bafba715-63d5-4fbc-ae09-37395507e839","name":"Prepare tools output","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-740,1560]},{"parameters":{"fieldToSplitOut":"cart","options":{}},"id":"2d1d3156-2336-4788-9c80-816832ad0e59","name":"Split Cart Itens","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-80,2300]},{"parameters":{"assignments":{"assignments":[{"id":"dc5b36f1-0d31-4bd4-8ac9-b089850811bf","name":"cart","value":"={{ $json.properties.function.arguments.parseJson().itens.split(\"\\n\") }}","type":"array"}]},"options":{}},"id":"3168ed08-f10e-42b0-b1ac-a2e12931ed9a","name":"Input Put Order","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-300,2300]},{"parameters":{"options":{"reset":false}},"id":"f11a0d80-6e2d-4aaf-953e-e3f3d720f574","name":"Loop Over Cart Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,2300]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.properties.function.name }}","rightValue":"get_wines","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_wines"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"bca3495b-7a44-4afd-a12b-e2c197475d3a","leftValue":"={{ $json.properties.function.name }}","rightValue":"get_user_data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"07bec39e-df8d-443c-bd07-4df3cc4f62ff","leftValue":"={{ $json.properties.function.name }}","rightValue":"save_user_data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"save_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5c19fda5-47b4-4ce9-a790-277848d4053d","leftValue":"={{ $json.properties.function.name }}","rightValue":"put_order","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"put_order"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"faa66bf7-b1e4-47a7-8683-8ae6ac9ddd1d","leftValue":"={{ $json.properties.function.name }}","rightValue":"get_payment_link","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_payment_link"}]},"options":{}},"id":"42a416a8-0624-4615-b39e-5fb39a6248d4","name":"Escolhe a tool","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-740,1920]},{"parameters":{"operation":"create","databaseId":107311,"tableId":289299,"fieldsUi":{"fieldValues":[{"fieldId":2069456,"fieldValue":"={{ $('GetUser').item.json.whatsapp }}"},{"fieldId":2069457,"fieldValue":"={{ $('Get Run Status').item.json.thread_id }}"},{"fieldId":2069458,"fieldValue":"={{ $json.cart.split(\"|\")[0] }}"},{"fieldId":2069843,"fieldValue":"={{ $json.cart.split(\"|\")[1] }}"},{"fieldId":2069845,"fieldValue":"={{ $json.cart.split(\"|\")[2].replaceAll(\"R$\",\"\") }}"}]}},"id":"36580960-b82c-4955-aa67-80ee48be06a0","name":"Put Order","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[540,2420],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":107311,"tableId":288182,"rowId":"={{ $('Merge User').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2061134,"fieldValue":"={{ $json.id }}"}]}},"id":"2d0c81e9-5f61-4092-ae59-b7de4187bb7f","name":"Update User","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-3660,2660],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"assignments":{"assignments":[{"id":"898e5ea5-32f5-4c15-b459-8f8883462693","name":"mensagem","value":"={{ $('Webhook').item.json.body.msg }}","type":"string"}]},"options":{}},"id":"4ff96b0a-62cc-49f9-82d1-2b6144496251","name":"Output Texto","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3120,2500]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"mensagem"}]},"options":{}},"id":"524b1366-df98-4cac-a6b8-1c04ab10081b","name":"Agrega Mensagens","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2820,2500]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"queued","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"queued"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8f298867-9fe7-4564-8887-4d8e30d93d33","leftValue":"={{ $json.status }}","rightValue":"in_progress","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"in_progress"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6932f1b4-d0b7-454d-b05e-7f97b04108f6","leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5f3617b1-9b0d-44dd-89ef-d3f6c9ac718a","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a129efd7-a390-4c58-92a0-84d7b3f35357","leftValue":"={{ $json.status }}","rightValue":"expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expired"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c298d202-dc51-453b-8a14-cd082454a9b0","leftValue":"={{ $json.status }}","rightValue":"requires_action","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"requires_action"}]},"options":{}},"id":"00a83da5-54ca-4e67-85ff-1084aebfef88","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1780,2460]},{"parameters":{"assignments":{"assignments":[{"id":"7e0cc371-a8f8-449f-a30f-f01debe0c959","name":"mensagem","value":"={{ $json.content }}","type":"string"}]},"options":{}},"id":"27ab7867-34e9-460e-bf60-3096f6f1c799","name":"Output Image","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3120,2320]},{"parameters":{"assignments":{"assignments":[{"id":"2add5799-4c12-47d6-aaf4-240c358db89c","name":"mensagem","value":"{{ $json.data }}","type":"string"}]},"options":{}},"id":"b9e815a7-9dfd-4c7a-886d-5a17f80ee4e4","name":"Output Audio","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3120,2120]},{"parameters":{"url":"={{ $('Webhook').item.json.body.msg }}","options":{}},"id":"7bc7a4e6-ebd3-44f4-89bf-69c34ed68d85","name":"Download Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3560,2120]},{"parameters":{"httpMethod":"POST","path":"winepoc-botatende","options":{"allowedOrigins":"*"}},"id":"fdf9c21c-2ea3-40fa-bab9-04dd03a3c92c","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5420,2500],"webhookId":"0988c5b3-c261-43a4-8057-d07d01bc5ac6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.type }}","rightValue":"ogg","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ba43770e-6e61-4e53-850c-16fa2bd7ddda","leftValue":"={{ $('Webhook').item.json.body.type }}","rightValue":"jpg","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4b1b0c87-c0f7-43d4-8e3a-ae5070952879","leftValue":"={{ $('Webhook').item.json.body.type }}","rightValue":"txt","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"id":"970e6773-fb59-4d6b-8926-93826a9d8072","name":"Tipo Mensagem","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-3660,2480]},{"parameters":{"resource":"image","operation":"analyze","text":"Você receberá a foto de um rótulo de vinho. Responda apenas com o nome do vinho, uva e safra (se possível). NUNCA USE ASPAS","imageUrls":"={{ $('Webhook').item.json.body.msg }}","options":{}},"id":"bc722e50-f10d-4fbc-afef-121194e7484b","name":"OpenAI Image","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-3380,2320],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"id":"ffac3344-8574-46f3-9c46-aca7642e8ffb","name":"OpenAI Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-3380,2120],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}}],"connections":{"If":{"main":[[{"node":"Merge User","type":"main","index":0}],[{"node":"CreateUser","type":"main","index":0}]]},"GetUser":{"main":[[{"node":"If","type":"main","index":0}]]},"Criar Thread":{"main":[[{"node":"Update User","type":"main","index":0}]]},"CreateUser":{"main":[[{"node":"Merge User","type":"main","index":1}]]},"Merge User":{"main":[[{"node":"Possui Thread","type":"main","index":0}]]},"Possui Thread":{"main":[[{"node":"Tipo Mensagem","type":"main","index":0}],[{"node":"Criar Thread","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Run Assistant":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Get Run Status":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Captura Tool Calls":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Prepare tools output","type":"main","index":0}],[{"node":"Escolhe a tool","type":"main","index":0}]]},"Get Wines":{"main":[[{"node":"Output Wines","type":"main","index":0}]]},"Criar Mensagem":{"main":[[{"node":"Run Assistant","type":"main","index":0}],[{"node":"List Runs","type":"main","index":0}]]},"List Runs":{"main":[[{"node":"Cancel Run","type":"main","index":0}]]},"Cancel Run":{"main":[[{"node":"Criar Mensagem","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Get Resposta":{"main":[[{"node":"Envia Whatsapp","type":"main","index":0}]]},"Output Wines":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Get User":{"main":[[{"node":"Output Get User","type":"main","index":0}]]},"Summarize Action":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Output Get User":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Save User":{"main":[[{"node":"Output Save User","type":"main","index":0}]]},"Output Save User":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Link de Pagamento":{"main":[[{"node":"Output Payment Link","type":"main","index":0}]]},"Output Payment Link":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Prepare tools output":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Input Put Order":{"main":[[{"node":"Split Cart Itens","type":"main","index":0}]]},"Split Cart Itens":{"main":[[{"node":"Loop Over Cart Items","type":"main","index":0}]]},"Loop Over Cart Items":{"main":[[{"node":"Output Put Order","type":"main","index":0}],[{"node":"Put Order","type":"main","index":0}]]},"Escolhe a tool":{"main":[[{"node":"Get Wines","type":"main","index":0}],[{"node":"Get User","type":"main","index":0}],[{"node":"Save User","type":"main","index":0}],[{"node":"Input Put Order","type":"main","index":0}],[{"node":"Link de Pagamento","type":"main","index":0}]]},"Put Order":{"main":[[{"node":"Loop Over Cart Items","type":"main","index":0}]]},"Update User":{"main":[[{"node":"Merge User","type":"main","index":1}]]},"Output Put Order":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Output Texto":{"main":[[{"node":"Agrega Mensagens","type":"main","index":0}]]},"Agrega Mensagens":{"main":[[{"node":"Criar Mensagem","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}],[],[{"node":"Get Resposta","type":"main","index":0}],[],[{"node":"Captura Tool Calls","type":"main","index":0}]]},"Output Image":{"main":[[{"node":"Agrega Mensagens","type":"main","index":0}]]},"Output Audio":{"main":[[{"node":"Agrega Mensagens","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"OpenAI Audio","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"GetUser","type":"main","index":0}]]},"Tipo Mensagem":{"main":[[{"node":"Download Audio","type":"main","index":0}],[{"node":"OpenAI Image","type":"main","index":0}],[{"node":"Output Texto","type":"main","index":0}]]},"OpenAI Image":{"main":[[{"node":"Output Image","type":"main","index":0}]]},"OpenAI Audio":{"main":[[{"node":"Output Audio","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"42d7c42d-06ba-4ed0-a75e-ebb5bd1adcdb","triggerCount":1,"tags":[{"createdAt":"2024-05-08T13:09:05.414Z","updatedAt":"2024-05-08T13:09:05.414Z","id":"geOzNJLre1tq4Ts2","name":"dev"}]}