winepoc---v2---botatende-com-gpt-4o-rlmQjo65VsTAlfmV.json
{"createdAt":"2024-05-15T17:14:48.978Z","updatedAt":"2024-05-17T13:59:53.000Z","id":"rlmQjo65VsTAlfmV","name":"WinePOC - V2 - Botatende com GPT-4o","active":true,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"85462951-b2ed-48cc-92bc-85acc872a1b4","leftValue":"={{ $json.whatsapp }}","rightValue":"={{ $('Webhook').item.json.body.phone }}","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"dd7a6a90-6fa2-4d8e-9733-1d2dfa169597","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5140,2500]},{"parameters":{"operation":"create","databaseId":107311,"tableId":288182,"fieldsUi":{"fieldValues":[{"fieldId":2061130,"fieldValue":"={{ $('Webhook').item.json.body.phone }}"}]}},"id":"fcc22fea-7b06-4425-b455-9d46c420ca6c","name":"CreateUser","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-4900,2620],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"65efe87c-0ea6-4ebc-bca7-694be55f0c97","name":"Criar Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4080,2660],"alwaysOutputData":true,"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{},"id":"dedd6038-4454-49b1-93b5-e0eaceec43e1","name":"Merge User","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-4620,2500],"alwaysOutputData":true,"executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"968ee1b3-fb37-4e94-8282-d1875dce9811","leftValue":"={{ $json.thread_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"6b935126-3a4c-4b5c-bdc2-c42bbb4fe897","name":"Possui Thread","type":"n8n-nodes-base.if","typeVersion":2,"position":[-4260,2500],"alwaysOutputData":false},{"parameters":{"amount":2},"id":"9ad7c38b-a6ae-47b6-a83b-33dc47760147","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-880,2260],"webhookId":"b673c392-f4b9-439a-8930-02aba4c0cba6"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/runs/{{ $json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"32b020bb-dd91-483e-a9b5-15145cc7378f","name":"Get Run Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1580,2480],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"12a5740e-ff1b-40d0-8e4d-ea9b20902d12","name":"tool_calls","value":"={{ $json.required_action.submit_tool_outputs.tool_calls }}","type":"array"}]},"options":{}},"id":"f79ea731-87d4-4e51-bc86-19e5bdb0e1f2","name":"Captura Tool Calls","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1100,1920]},{"parameters":{"fieldToSplitOut":"tool_calls","include":"allOtherFields","options":{"destinationFieldName":"properties"}},"id":"5522a7f3-08f6-4191-9441-1578b24805e8","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-880,1920]},{"parameters":{"options":{}},"id":"6f706867-fa36-42be-90c5-65c321c6170e","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-660,1920]},{"parameters":{"method":"POST","url":"https://chatbot.smart.botatende.com/api/integrations/send-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ASUXZjJDMNxSjaFOWcsyNnhos7fC4ONLak5g0FsblcYojmym3KqNwogBsJqduFio"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.data[0].content[0].text.value }}"},{"name":"phone","value":"={{ $('Webhook').item.json.body.phone }}"}]},"options":{}},"id":"5487479e-1af6-418b-8344-5f0c8432852e","name":"Envia Whatsapp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-660,2480]},{"parameters":{"databaseId":107311,"tableId":288426,"returnAll":true,"additionalOptions":{}},"id":"e3ec3820-297a-4eba-841f-44095e2a1f2b","name":"Get Wines","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[260,1700],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"databaseId":107311,"tableId":288182,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2061130,"value":"={{ $('Webhook').item.json.body.phone }}"}]}}},"id":"74cfa0b6-285d-4b35-995c-58537c57d3d2","name":"Get User","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[260,1900],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":107311,"tableId":288182,"rowId":"={{ $('GetUser').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2061131,"fieldValue":"={{ $json.properties.function.arguments.parseJson().nome }}"},{"fieldId":2061133,"fieldValue":"={{ $json.properties.function.arguments.parseJson().endereco }}"}]}},"id":"c9732645-15ed-4d35-a1b8-3a0d9acc1bc4","name":"Save User","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[260,2100],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Tipo Mensagem').item.json.thread_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"assistant"},{"name":"content","value":"={{ $('Agrega Mensagens').item.json.mensagem[0] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"3426d962-b84c-40d7-9b47-4598e32e2ac9","name":"Criar Mensagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2520,2500],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Possui Thread').item.json.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"770f1b16-af5d-4eef-b758-7a0760571d2c","name":"List Runs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2740,2160],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Possui Thread').item.json.thread_id }}/runs/{{ $json.id }}/cancel","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"9080b22c-d5a5-4268-8903-cc252a243943","name":"Cancel Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2280,2160],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Get Run Status').item.json.thread_id }}/runs/{{ $('Get Run Status').item.json.id }}/submit_tool_outputs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"tool_outputs","value":"={{ $json.tool_outputs }}"}]},"options":{}},"id":"3b84b07c-8e31-4b4d-9e49-88301b4eaa7e","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[260,1360],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"tool_outputs","options":{}},"id":"c07c7b04-5143-42ea-8d4f-b672c9b43293","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[40,1360]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/messages?order-desc","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"24871cf3-bbbd-4a3b-be9e-ba576a156f25","name":"Get Resposta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-880,2480],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{"outputFormat":"separateItems"}},"id":"1d5a3a75-ebdf-4dd7-baa7-78cf8406ef1c","name":"Summarize Action","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[2520,1900]},{"parameters":{"jsCode":"return {\n  \"link\": \"https://www.userede.com.br/\",\n  \"pix\": \"00020126660014BR.GOV.BCB.PIX0111113593027940229obrigado pela doação no teste52040000530398654040.015802BR5924Victor Hugo Rabelo Neves6009SAO PAULO62140510ZUISFrvsME6304B76F\"\n}"},"id":"26bb9423-5af7-4d98-b768-5699a2785559","name":"Link de Pagamento","type":"n8n-nodes-base.code","typeVersion":2,"position":[260,2560]},{"parameters":{"assignments":{"assignments":[{"id":"12adba31-058a-4496-ab9e-28513217a50a","name":"tool_call_id","value":"={{ $json.tool_output_id }}","type":"string"},{"id":"7b78e22a-8dff-4d5f-8123-4a9ef23d9fa9","name":"output","value":"={{ $json.concatenated_data }}","type":"string"}]},"options":{}},"id":"f65f9a50-f550-4166-9914-c9f53ae1deff","name":"Prepare tools output","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-300,1560]},{"parameters":{"options":{"reset":false}},"id":"9de16109-06bd-457f-bf50-140d9eb1322d","name":"Loop Over Cart Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1220,2300]},{"parameters":{"operation":"update","databaseId":107311,"tableId":288182,"rowId":"={{ $('Merge User').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2061134,"fieldValue":"={{ $json.id }}"}]}},"id":"35710d19-0a07-48f6-8bf1-3f38c37a656b","name":"Update User","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-3900,2660],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"assignments":{"assignments":[{"id":"898e5ea5-32f5-4c15-b459-8f8883462693","name":"mensagem","value":"={{ $('Webhook').item.json.body.msg }}","type":"string"}]},"options":{}},"id":"a4e4887c-dc6d-4235-974d-271f56e68d84","name":"Output Texto","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3360,2500]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"mensagem"}]},"options":{}},"id":"9aaa650c-043e-45e8-8984-80858b5b3393","name":"Agrega Mensagens","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3060,2500]},{"parameters":{"assignments":{"assignments":[{"id":"7e0cc371-a8f8-449f-a30f-f01debe0c959","name":"mensagem","value":"={{ $json.content }}","type":"string"}]},"options":{}},"id":"f8905a07-0f25-46a8-b3d3-b2e63fa461c4","name":"Output Image","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3360,2320]},{"parameters":{"assignments":{"assignments":[{"id":"2add5799-4c12-47d6-aaf4-240c358db89c","name":"mensagem","value":"{{ $json.data }}","type":"string"}]},"options":{}},"id":"c42bce71-d3d6-4cab-bf28-fd8e5fdf2249","name":"Output Audio","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3360,2120]},{"parameters":{"url":"={{ $('Webhook').item.json.body.msg }}","options":{}},"id":"9e32cc7c-41c8-4478-8150-5efa81db26c5","name":"Download Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3820,2120]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.type }}","rightValue":"ogg","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ba43770e-6e61-4e53-850c-16fa2bd7ddda","leftValue":"={{ $('Webhook').item.json.body.type }}","rightValue":"jpg","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4b1b0c87-c0f7-43d4-8e3a-ae5070952879","leftValue":"={{ $('Webhook').item.json.body.type }}","rightValue":"txt","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"id":"7440e67e-2006-4eee-a0d1-1707fd6e8ee8","name":"Tipo Mensagem","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-3900,2480]},{"parameters":{"resource":"image","operation":"analyze","text":"Você receberá a foto de um rótulo de vinho. Responda apenas com o nome do vinho, uva e safra (se possível). NUNCA USE ASPAS","imageUrls":"={{ $('Webhook').item.json.body.msg }}","options":{}},"id":"86b40770-c677-483c-ba7d-cac76b44abb0","name":"OpenAI Image","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-3600,2320],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"id":"801c095c-d6e7-4409-b370-69fdd5381eb9","name":"OpenAI Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-3600,2120],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"databaseId":107311,"tableId":289299,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2069456,"value":"={{ $('Get Open Orders').item.json._id }}"}]}}},"id":"6fa22b96-46eb-456d-a74d-7b8ec77f0f66","name":"Get Order Items","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[480,2740],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"var lista = $('List Runs').first().json.data;\nreturn lista.filter(item => item.status === \"in_progress\" || item.status === \"requires_action\");"},"id":"5b112433-63da-4962-bebd-66902ecac76d","name":"Filter InProgress","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2520,2160]},{"parameters":{"operation":"create","databaseId":107311,"tableId":298215,"fieldsUi":{"fieldValues":[{"fieldId":2138074,"fieldValue":"={{ $json.whatsapp }}"},{"fieldId":2138075,"fieldValue":"={{ $json.threadId }}"},{"fieldId":2138077,"fieldValue":"=false"},{"fieldId":2142405,"fieldValue":"={{ $json.cliente }}"},{"fieldId":2140682,"fieldValue":"={{ $json.total }}"}]}},"id":"7d839167-c442-41c0-a0cb-4f3d5a1222e3","name":"Novo Carrinho","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[480,2300],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"fieldToSplitOut":"=cart","options":{}},"id":"cb530bcf-a8fe-41af-8d32-7b1f3a90eea5","name":"Split Cart Itens","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[960,2300]},{"parameters":{"assignments":{"assignments":[{"id":"dc5b36f1-0d31-4bd4-8ac9-b089850811bf","name":"cart","value":"={{ $('Escolhe a tool').item.json.properties.function.arguments.parseJson().itens.split(\"\\n\") }}","type":"array"}]},"options":{}},"id":"b4f8cef1-3319-4d7b-be7c-c3cbd45e5e79","name":"Input Put Order","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[720,2300]},{"parameters":{"operation":"create","databaseId":107311,"tableId":289299,"fieldsUi":{"fieldValues":[{"fieldId":2069456,"fieldValue":"={{ $('Novo Carrinho').item.json._id }}"},{"fieldId":2069458,"fieldValue":"={{ $json.cart.split(\"|\")[0] }}"},{"fieldId":2069843,"fieldValue":"={{ $json.cart.split(\"|\")[1] }}"},{"fieldId":2069845,"fieldValue":"={{ $json.cart.split(\"|\")[2].replaceAll(\"R$\",\"\") }}"}]}},"id":"ed6189c3-e7c1-470d-be0d-0e717e69a0a3","name":"Put Order Itens","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1420,2380],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.Rotulo }}, {{ $json.Ano }}, {{ $json.Preço }}","type":"string"}]},"options":{}},"id":"a2631e73-418d-4aea-90c2-c1cd374d5e1c","name":"Output Wines","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1660,1700]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"a96c85fb-0e1c-4bc2-9870-37d2a3c2cbc0","name":"Output Save User","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1660,2100]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"00e4a18e-5a75-4ce2-8b10-d40983be1238","name":"Output Put Order","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1660,2280]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"20a8eff1-bcda-4b9c-9a43-c1bae6f239ad","name":"Output Payment Link","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1660,2560]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"c02acc22-edc3-462d-830a-0dd962b6755b","name":"Output Order Items","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1660,2740]},{"parameters":{"databaseId":107311,"tableId":298215,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2138074,"value":"={{ $('Webhook').item.json.body.phone }}"}]}}},"id":"f3af21a4-8c5c-4dba-8bda-3a46a6249c62","name":"Get Open Orders","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[260,2740],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $json.body.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"asst_tKB3auuy3wguoNimGbGnOtwd"}]},"options":{}},"id":"9b900abb-7c27-484a-ab78-ab9869aed0d6","name":"Run Assistant","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1940,2600],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"databaseId":107311,"tableId":288182,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2061130,"value":"={{ $json.body.phone }}"}]}}},"id":"251512cd-dc99-48db-b2e0-1bc463e3d92f","name":"GetUser","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-5400,2500],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $json.body.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"asst_J2K6YPI2ZOexKD5llbK7pA5o"}]},"options":{}},"id":"fa7496d6-f84a-4ad1-ab34-eb5d2e50e84e","name":"Run Assistant Admin","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1940,2380],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"queued","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"queued"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8f298867-9fe7-4564-8887-4d8e30d93d33","leftValue":"={{ $json.status }}","rightValue":"in_progress","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"in_progress"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6932f1b4-d0b7-454d-b05e-7f97b04108f6","leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5f3617b1-9b0d-44dd-89ef-d3f6c9ac718a","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a129efd7-a390-4c58-92a0-84d7b3f35357","leftValue":"={{ $json.status }}","rightValue":"expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expired"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c298d202-dc51-453b-8a14-cd082454a9b0","leftValue":"={{ $json.status }}","rightValue":"requires_action","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"requires_action"}]},"options":{}},"id":"096542f1-89af-4d6b-a48a-75fb27fb6d10","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1340,2460]},{"parameters":{"databaseId":107311,"tableId":298215,"returnAll":true,"additionalOptions":{}},"id":"3120aaba-a6c8-4ce7-a88b-6fbd0039c448","name":"Get ALL Orders","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[260,2920],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n   \"data\":{\n      \"cliente\":\"{{ $json.cliente }}\",\n      \"pedido\":\"{{ $json._id.toString().padStart(6,'0') }}\",\n      \"total\":\"{{ Number($json.total).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}\",\n      \"status\":\"{{ $json.pago === false ? \"Aguardando Pagamento\" : \"Pago\" }}\"\n   }\n}","options":{}},"id":"072a52ae-05da-4d1b-8502-be7547cc230a","name":"Output All Orders","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1660,2920]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ff069968-d0ba-4f5d-b7c0-53ca9ad94547","leftValue":"={{ $('Webhook').item.json.body.phone }}","rightValue":"+5521974894586","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"e4ae89c3-4a81-4368-b2c1-52bf79d7bd63","name":"Is Admin","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2240,2480]},{"parameters":{"assignments":{"assignments":[{"id":"bb3f3d77-4403-43cf-b608-b75b862279df","name":"concatenated_data","value":"={{ $json.concatenated_data }}","type":"string"},{"id":"d836485e-a99c-40b9-ac2e-dcc533667e3c","name":"tool_output_id","value":"={{ $('Escolhe a tool').item.json.properties.id }}","type":"string"}]},"options":{}},"id":"f9e0d75c-74cf-4292-b9a4-b567c96f80c5","name":"Tools Output ID","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2740,1900]},{"parameters":{"jsCode":"return [\n  {\n    \"id\": \"run_fwU6m8ztpAWiB2ty82ZvEiMO\",\n    \"object\": \"thread.run\",\n    \"created_at\": 1715881283,\n    \"assistant_id\": \"asst_tKB3auuy3wguoNimGbGnOtwd\",\n    \"thread_id\": \"thread_jIFhucCOLmoPhjuLNjN36hqm\",\n    \"status\": \"requires_action\",\n    \"started_at\": 1715881288,\n    \"expires_at\": 1715881883,\n    \"cancelled_at\": null,\n    \"failed_at\": null,\n    \"completed_at\": null,\n    \"required_action\": {\n      \"type\": \"submit_tool_outputs\",\n      \"submit_tool_outputs\": {\n        \"tool_calls\": [\n          {\n            \"id\": \"call_eJm3LL4DItu4r4iQ3CjRs2jv\",\n            \"type\": \"function\",\n            \"function\": {\n              \"name\": \"get_order_items\",\n              \"arguments\": \"{\\\"thread_id\\\":\\\"thread_jIFhucCOLmoPhjuLNjN36hqm\\\"}\"\n            }\n          }\n        ]\n      }\n    },\n    \"last_error\": null,\n    \"model\": \"gpt-4o\",\n    \"instructions\": \"Você é um assistente vendedor de vinhos.\\n\\nSeu objetivo é buscar vinhos em um banco de dados e fechar pedidos para seu cliente.\\n\\nSe o cliente já possui algum histórico de conversa, chame-o pelo nome fornecido quando ele se cadastrou, diga que está feliz em conversar novamente com ele e ofereça as opções de ver a lista de vinhos ou saber o status do pedido caso tenha algum.\\n\\nO cliente pode encomendar vinho por rótulo, ano ou preço.\\n\\nVocê pesquisará os vinhos apenas uma vez no banco de dados usando a função get_wines e mostrará os resultados em uma lista recuada e numerada, usando o formato \\\"rótulo - preço\\\". Mantenha esta lista com você.\\n\\nO cliente poderá fazer mais perguntas tentando refinar a busca, como informar a safra/ano, uma característica do vinho como tinto, branco, suave. Isso indica que ele ainda não escolheu o produto.\\n\\n\\t- Quando o cliente perguntar sobre safra, verifique na lista que você salvou, os vinhos que possuem o ano igual ao solicitado.\\n\\t- Quando o cliente perguntar sobre tipo de uva, se é tinto ou branco, verifique na lista que você salvou os vinhos que possuem essa característica no campo rótulo.\\n\\t- Quando o cliente perguntar sobre valores, barato ou caro, verifique na lista que você salvou, os vinhos com base no campo preço.\\n\\t- Caso não tenha o vinho informado pelo cliente, busque na internet as características do vinho solicitado e veja se algum de sua lista é similar. Caso tenha algo similar, oferaça ao cliente como opção.\\n\\nQuando o cliente escolher um vinho memorize o item e a quantidade. Logo em seguida, pergunte se ele deseja adicionar mais algum produto ao seu pedido.\\n\\nCaso o cliente deseje alterar um item já selecionado, substitua a quantidade pelo item informado. Sempre pergunte se o pedido está completo ou se o cliente deseja modificar seus items.\\n\\nCaso o cliente informe novamente o mesmo produto, avise-o que o item já consta em seu pedido e pergunte se deseja mudar a quantidade ou removê-lo da lista.\\n\\nQuando o cliente escolher em definitivo um vinho ou insunuar que o pedido está pronto, você deve verificar se o cliente já possui endereço e nome cadastrados, chamando a function get_user_data.\\n\\nSe o cliente não possui seus dados cadastrais, peça seu nome e endereço e não deixe o cliente finalizar o pedido sem estes dados.\\n\\nAguarde o cliente informar os dados de cadastro. Depois, salve estes dados usando a function save_user_data. Lembre-se de formatar os dados informados pelo cliente em modo título.\\n\\nApós obter os dados de cadastros do cliente, mostre o resumo de pedido com os itens escolhidos e suas quantidades. Mostre também o valor total do pedido. Sempre peça para o cliente verificar e confirmar o resumo do pedido.\\n\\nO pedido será considerado confirmado quando uma destas condições ocorrerem:\\n\\n\\t- Após você mostrar o resumo do pedido ao cliente e a resposta for Sim;\\n\\t- Após você mostrar o resumo do pedido ao cliente e a resposta indicar que o pedido está correto;\\n\\t- Após você mostrar o resumo do pedido ao cliente e a resposta é confirma;\\n\\t- Após você mostrar o resumo do pedido ao cliente e ele responder com palavras tais como Confirmado, OK, Sim, Certo e todas as demais palavras que possuam um sentido de afirmação ao resumo mostrado;\\n\\n\\tSOMENTE QUANDO O CLIENTE CONFIRMAR o pedido, extraia apenas os itens escolhidos, suas quantidades e seu preço e SEMPRE CHAME a function put_order. É obrigatório me retornar um texto vazio se não entender a lista. É obrigatório só me retornar exatamente os itens selecionado pelo cliente. Me retorne uma lista no formato produto|quantidade|preco, sendo que entre cada item da lista deve ter uma quebra de linha. Esse é o argumento que deve ser repassado para a function put_order.\\n\\nApós a confirmação, sempre pergunte qual forma de pagamento o cliente deseja escolher. Ofereça apenas estas 2 opções: Link de pagamento ou Pix. Aguarde a reposta e assim que receber a escolha do cliente, chame a function get_payment_link e mostre a escolha e os dados obtidos na function get_payment_link.\\n\\nNUNCA CHAME MAIS DE UMA FUNCTION NO MESMO RUN.\\n\\nNunca invente informações, sempre peça ao usuário confirmação antes de prosseguir.\\n\\nSempre negue descontos.\",\n    \"tools\": [\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"get_user_data\",\n          \"description\": \"Busca os dados do usuário\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {},\n            \"required\": []\n          }\n        }\n      },\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"save_user_data\",\n          \"description\": \"Salva os dados do usuario\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"nome\": {\n                \"type\": \"string\",\n                \"description\": \"Nome do usuario\"\n              },\n              \"endereco\": {\n                \"type\": \"string\",\n                \"description\": \"Endereco do usuario\"\n              }\n            },\n            \"required\": [\n              \"nome\",\n              \"endereco\"\n            ]\n          }\n        }\n      },\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"get_wines\",\n          \"description\": \"Busca os vinhos no banco de dados\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"rotulo\": {\n                \"type\": \"string\",\n                \"description\": \"Nome/Rotulo do vinho\"\n              },\n              \"ano\": {\n                \"type\": \"number\",\n                \"description\": \"Ano/Safra do vinho\"\n              },\n              \"preco\": {\n                \"type\": \"number\",\n                \"description\": \"Preco do vinho\"\n              }\n            },\n            \"required\": []\n          }\n        }\n      },\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"put_order\",\n          \"description\": \"Salva os dados do pedido\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"itens\": {\n                \"type\": \"string\",\n                \"description\": \"itens\"\n              }\n            },\n            \"required\": []\n          }\n        }\n      },\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"get_payment_link\",\n          \"description\": \"Envia link de pagamento\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"link\": {\n                \"type\": \"string\",\n                \"description\": \"Link de pagamento\"\n              },\n              \"pix\": {\n                \"type\": \"string\",\n                \"description\": \"Pix copia e cola\"\n              }\n            },\n            \"required\": []\n          }\n        }\n      },\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"get_order_items\",\n          \"description\": \"Busca dados de carrinhos no banco de dados\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"cart_id\": {\n                \"type\": \"number\",\n                \"description\": \"Número do pedido, carrinho\"\n              },\n              \"whatsapp\": {\n                \"type\": \"number\",\n                \"description\": \"Número do whatsapp, identificação do usuário\"\n              },\n              \"thread_id\": {\n                \"type\": \"string\",\n                \"description\": \"Thread da conversa com o assistente OPEN AI\"\n              },\n              \"cart_item\": {\n                \"type\": \"string\",\n                \"description\": \"Vinho, Rótulo do produto adicionado\"\n              },\n              \"cart_qtd\": {\n                \"type\": \"number\",\n                \"description\": \"Quantidade do item adicionado\"\n              },\n              \"cart_price\": {\n                \"type\": \"number\",\n                \"description\": \"Preço do item adicionado\"\n              },\n              \"subtotal\": {\n                \"type\": \"number\",\n                \"description\": \"Subtotal do item. Quantidade x Preço\"\n              },\n              \"fechado\": {\n                \"type\": \"boolean\",\n                \"description\": \"Flag que indica se o item do carrinho já está confirmado/fechado e não pode mais ser alterado\"\n              }\n            },\n            \"required\": []\n          }\n        }\n      }\n    ],\n    \"tool_resources\": {},\n    \"metadata\": {},\n    \"temperature\": 1,\n    \"top_p\": 1,\n    \"max_completion_tokens\": null,\n    \"max_prompt_tokens\": null,\n    \"truncation_strategy\": {\n      \"type\": \"auto\",\n      \"last_messages\": null\n    },\n    \"incomplete_details\": null,\n    \"usage\": null,\n    \"response_format\": \"auto\",\n    \"tool_choice\": \"auto\"\n  }\n]"},"id":"eedb298c-63de-41ba-a45a-7d46b622bf63","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1460,1760]},{"parameters":{"jsCode":"var args = JSON.parse($('Escolhe a tool').item.json.properties.function.arguments);\nvar newCart = {};\n\nnewCart.whatsapp = $('GetUser').item.json.whatsapp;\nnewCart.threadId = $('Get Run Status').item.json.thread_id;\nnewCart.cliente = $('GetUser').item.json.nome;\nnewCart.total = args.total;\n\nreturn newCart;"},"id":"e7594453-1760-4957-8542-93951cc1b584","name":"Prepare Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[260,2300]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.properties.function.name }}","rightValue":"get_wines","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_wines"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"bca3495b-7a44-4afd-a12b-e2c197475d3a","leftValue":"={{ $json.properties.function.name }}","rightValue":"get_user_data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"07bec39e-df8d-443c-bd07-4df3cc4f62ff","leftValue":"={{ $json.properties.function.name }}","rightValue":"save_user_data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"save_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5c19fda5-47b4-4ce9-a790-277848d4053d","leftValue":"={{ $json.properties.function.name }}","rightValue":"put_order","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"put_order"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"faa66bf7-b1e4-47a7-8683-8ae6ac9ddd1d","leftValue":"={{ $json.properties.function.name }}","rightValue":"get_payment_link","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_payment_link"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"17a1ab55-7e4d-4ee9-af1f-a112ec868ac7","leftValue":"={{ $json.properties.function.name }}","rightValue":"get_order_items","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_order_items"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"670b8afc-3100-4cb7-a77f-98e90ec96615","leftValue":"={{ $json.properties.function.name }}","rightValue":"get_orders","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_orders"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"75a07c97-b8a1-403e-8b21-a67db5053188","leftValue":"={{ $json.properties.function.name }}","rightValue":"notify_user_payment","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"notify_user_payment"}]},"options":{}},"id":"b581fe34-ea26-47d5-ac63-f83a6e5af8f5","name":"Escolhe a tool","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-300,1840]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"4e843438-03f0-4ac6-ad95-e0d766a553a5","name":"Output Get User","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1660,1900]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"6ec3e069-6286-4711-8533-43a1894bb094","name":"Output Notify User","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1660,3120]},{"parameters":{"databaseId":107311,"tableId":298215,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2138073,"value":"={{ Number($json.properties.function.arguments.parseJson().cart_id) }}"}]}}},"id":"696655fc-378f-4ea1-b964-200a21c15fe4","name":"Get User Cart","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[260,3120],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://chatbot.smart.botatende.com/api/integrations/send-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ASUXZjJDMNxSjaFOWcsyNnhos7fC4ONLak5g0FsblcYojmym3KqNwogBsJqduFio"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.texto }}"},{"name":"phone","value":"={{ $json.whatsapp }}"}]},"options":{}},"id":"e24003b3-c860-4522-9bcf-db394c62b962","name":"Envia Notificação","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,3120]},{"parameters":{"jsCode":"return{\n  \"whatsapp\": $input.first().json.whatsapp,\n  \"texto\": \"Olá \" + $input.first().json.cliente.split(' ')[0] + \", tudo bem!\\n\\nEstou passando aqui para falar sobre o seu pedido Nº \" + $input.first().json.id.toString().padStart(6,'0') + \" no valor de \" +  Number($input.first().json.total).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) + \" pois ele encontra-se ainda aguardando pagamento.\\n\\nCaso tenha alguma dúvida, não deixe de entrar em contato conosco por aqui mesmo, ok? Estamos aguardando ansiosamente para prosseguir com o seu pedido!\\n\\nAte mais! \"\n}"},"id":"2b1f697e-b87f-4168-b340-319719c4a5b5","name":"Formatar Notificação","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,3120]},{"parameters":{"httpMethod":"POST","path":"winepoc-v2-botatende","options":{"allowedOrigins":"*"}},"id":"3a1995b8-f113-40b1-9476-fcdcdbfa1671","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5680,2500],"webhookId":"4fc2f93a-e60a-4ddc-835e-24216ca79b54"}],"connections":{"If":{"main":[[{"node":"Merge User","type":"main","index":0}],[{"node":"CreateUser","type":"main","index":0}]]},"Criar Thread":{"main":[[{"node":"Update User","type":"main","index":0}]]},"CreateUser":{"main":[[{"node":"Merge User","type":"main","index":1}]]},"Merge User":{"main":[[{"node":"Possui Thread","type":"main","index":0}]]},"Possui Thread":{"main":[[{"node":"Tipo Mensagem","type":"main","index":0}],[{"node":"Criar Thread","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Get Run Status":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Captura Tool Calls":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Prepare tools output","type":"main","index":0}],[{"node":"Escolhe a tool","type":"main","index":0}]]},"Get Wines":{"main":[[{"node":"Output Wines","type":"main","index":0}]]},"Criar Mensagem":{"main":[[{"node":"Is Admin","type":"main","index":0}],[{"node":"List Runs","type":"main","index":0}]]},"Cancel Run":{"main":[[{"node":"Criar Mensagem","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Get Resposta":{"main":[[{"node":"Envia Whatsapp","type":"main","index":0}]]},"Get User":{"main":[[{"node":"Output Get User","type":"main","index":0}]]},"Summarize Action":{"main":[[{"node":"Tools Output ID","type":"main","index":0}]]},"Save User":{"main":[[{"node":"Output Save User","type":"main","index":0}]]},"Link de Pagamento":{"main":[[{"node":"Output Payment Link","type":"main","index":0}]]},"Prepare tools output":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Loop Over Cart Items":{"main":[[{"node":"Output Put Order","type":"main","index":0}],[{"node":"Put Order Itens","type":"main","index":0}]]},"Update User":{"main":[[{"node":"Merge User","type":"main","index":1}]]},"Output Texto":{"main":[[{"node":"Agrega Mensagens","type":"main","index":0}]]},"Agrega Mensagens":{"main":[[{"node":"Criar Mensagem","type":"main","index":0}]]},"Output Image":{"main":[[{"node":"Agrega Mensagens","type":"main","index":0}]]},"Output Audio":{"main":[[{"node":"Agrega Mensagens","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"OpenAI Audio","type":"main","index":0}]]},"Tipo Mensagem":{"main":[[{"node":"Download Audio","type":"main","index":0}],[{"node":"OpenAI Image","type":"main","index":0}],[{"node":"Output Texto","type":"main","index":0}]]},"OpenAI Image":{"main":[[{"node":"Output Image","type":"main","index":0}]]},"OpenAI Audio":{"main":[[{"node":"Output Audio","type":"main","index":0}]]},"Get Order Items":{"main":[[{"node":"Output Order Items","type":"main","index":0}]]},"List Runs":{"main":[[{"node":"Filter InProgress","type":"main","index":0}]]},"Filter InProgress":{"main":[[{"node":"Cancel Run","type":"main","index":0}]]},"Novo Carrinho":{"main":[[{"node":"Input Put Order","type":"main","index":0}]]},"Split Cart Itens":{"main":[[{"node":"Loop Over Cart Items","type":"main","index":0}]]},"Input Put Order":{"main":[[{"node":"Split Cart Itens","type":"main","index":0}]]},"Put Order Itens":{"main":[[{"node":"Loop Over Cart Items","type":"main","index":0}]]},"Output Wines":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Output Save User":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Output Put Order":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Output Payment Link":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Output Order Items":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Get Open Orders":{"main":[[{"node":"Get Order Items","type":"main","index":0}]]},"Run Assistant":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"GetUser":{"main":[[{"node":"If","type":"main","index":0}]]},"Run Assistant Admin":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}],[],[{"node":"Get Resposta","type":"main","index":0}],[],[{"node":"Captura Tool Calls","type":"main","index":0}]]},"Get ALL Orders":{"main":[[{"node":"Output All Orders","type":"main","index":0}]]},"Output All Orders":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Is Admin":{"main":[[{"node":"Run Assistant Admin","type":"main","index":0}],[{"node":"Run Assistant","type":"main","index":0}]]},"Tools Output ID":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Prepare Data":{"main":[[{"node":"Novo Carrinho","type":"main","index":0}]]},"Escolhe a tool":{"main":[[{"node":"Get Wines","type":"main","index":0}],[{"node":"Get User","type":"main","index":0}],[{"node":"Save User","type":"main","index":0}],[{"node":"Prepare Data","type":"main","index":0}],[{"node":"Link de Pagamento","type":"main","index":0}],[{"node":"Get Open Orders","type":"main","index":0}],[{"node":"Get ALL Orders","type":"main","index":0}],[{"node":"Get User Cart","type":"main","index":0}]]},"Output Get User":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Output Notify User":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Get User Cart":{"main":[[{"node":"Formatar Notificação","type":"main","index":0}]]},"Envia Notificação":{"main":[[{"node":"Output Notify User","type":"main","index":0}]]},"Formatar Notificação":{"main":[[{"node":"Envia Notificação","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"GetUser","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"de7d6ab0-0b07-42d8-ae95-ec7f831f202c","triggerCount":1,"tags":[{"createdAt":"2024-05-08T13:09:05.414Z","updatedAt":"2024-05-08T13:09:05.414Z","id":"geOzNJLre1tq4Ts2","name":"dev"}]}