winepoc---v3---z-api-com-gpt-4o---estoque-8zGJMCBdOXK292LG.json
{"createdAt":"2024-05-22T14:14:38.673Z","updatedAt":"2024-05-27T17:41:21.000Z","id":"8zGJMCBdOXK292LG","name":"WinePOC - V3 - Z-API com GPT-4o - ESTOQUE","active":true,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"85462951-b2ed-48cc-92bc-85acc872a1b4","leftValue":"={{ $json.whatsapp }}","rightValue":"={{ $('Webhook').item.json.body.phone }}","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"a2ee7126-2593-4849-8be2-97c376dde5c7","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[-4480,2500]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"1bfb5f76-501b-4e45-8d6b-a6fb802618c5","name":"Criar Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3420,2660],"alwaysOutputData":true,"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{},"id":"9c5edd86-6f7d-42be-ad55-3aa6d984ed1a","name":"Merge User","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-3960,2500],"alwaysOutputData":true,"executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"968ee1b3-fb37-4e94-8282-d1875dce9811","leftValue":"={{ $json.thread_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"37a2f71e-634f-4efa-9458-1371f38b05ce","name":"Possui Thread","type":"n8n-nodes-base.if","typeVersion":2,"position":[-3600,2500],"alwaysOutputData":false},{"parameters":{"amount":2},"id":"50f10713-65f2-4117-bcd8-2aa97b2db132","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-160,2280],"webhookId":"ec62e24b-ad39-4980-b3d3-451116e9e87c"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/runs/{{ $json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"fd2d1fb6-a427-4b7d-bb33-ad4faa59750d","name":"Get Run Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-920,2480],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"12a5740e-ff1b-40d0-8e4d-ea9b20902d12","name":"tool_calls","value":"={{ $('Switch').item.json.required_action.submit_tool_outputs.tool_calls }}","type":"array"}]},"options":{}},"id":"65b61ebe-1ee0-40d2-bcfc-744f93848251","name":"Captura Tool Calls","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-160,1840]},{"parameters":{"fieldToSplitOut":"tool_calls","include":"allOtherFields","options":{"destinationFieldName":"properties"}},"id":"bbb5e9a1-8d84-4aaa-9332-00fd984678b7","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[80,1840]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Webhook').item.json.body.phone }}"},{"name":"message","value":"={{ $json.data[0].content[0].text.value }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"8ee3f6a9-8397-42c1-9b6c-3485588f753f","name":"Envia Whatsapp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,2500]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Tipo Mensagem').item.json.thread_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"assistant"},{"name":"content","value":"={{ $('Agrega Mensagens').item.json.mensagem[0] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"f16d2187-d1c2-4a11-a4ad-4e42adf9a258","name":"Criar Mensagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1860,2500],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Possui Thread').item.json.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"70ae4dcb-d42c-43ee-b6d3-e41bece76c8c","name":"List Runs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2080,2160],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Possui Thread').item.json.thread_id }}/runs/{{ $json.id }}/cancel","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"7897b2d8-f6bc-4699-a0e4-42b801e27f37","name":"Cancel Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1600,2160],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Get Run Status').first().json.thread_id }}/runs/{{ $('Get Run Status').first().json.id }}/submit_tool_outputs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"tool_outputs","value":"={{ $json.tool_outputs }}"}]},"options":{}},"id":"fe9c6b00-29cf-4b25-91ff-b66193dea5fc","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3940,2080],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"tool_outputs","options":{}},"id":"1eae7aaa-c38c-4dee-8e51-7dd56b2b3898","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3760,1900]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/messages?order-desc","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"e3ebcf89-7ad5-422d-adb5-697c5a990ace","name":"Get Resposta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,2500],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{"outputFormat":"separateItems"}},"id":"57a4de3b-17f8-45d1-a494-aca34c1bdd22","name":"Summarize Action","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[3180,1900]},{"parameters":{"jsCode":"return {\n  \"link\": \"https://www.userede.com.br/\",\n  \"pix\": \"00020126660014BR.GOV.BCB.PIX0111113593027940229obrigado pela doação no teste52040000530398654040.015802BR5924Victor Hugo Rabelo Neves6009SAO PAULO62140510ZUISFrvsME6304B76F\"\n}"},"id":"cbb3d160-48e9-4721-bd68-bdea6767e2dc","name":"Link de Pagamento","type":"n8n-nodes-base.code","typeVersion":2,"position":[920,2080]},{"parameters":{"assignments":{"assignments":[{"id":"12adba31-058a-4496-ab9e-28513217a50a","name":"tool_call_id","value":"={{ $json.tool_output_id }}","type":"string"},{"id":"7b78e22a-8dff-4d5f-8123-4a9ef23d9fa9","name":"output","value":"={{ $json.concatenated_data }}","type":"string"}]},"options":{}},"id":"75a55b4e-8d1f-44fa-bac5-d2702b505ed7","name":"Prepare tools output","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3580,1900]},{"parameters":{"options":{"reset":false}},"id":"576b57ed-475e-40bb-a9f8-96680f85865e","name":"Loop Over Cart Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1880,1820]},{"parameters":{"assignments":{"assignments":[{"id":"898e5ea5-32f5-4c15-b459-8f8883462693","name":"mensagem","value":"={{ $('Webhook').item.json.body.text.message }}","type":"string"},{"id":"f3b13734-e16b-4861-afda-2eea9741d55d","name":"","value":"","type":"string"}]},"options":{}},"id":"7d620c89-5ed2-4ddb-9396-78b5dc9d7f49","name":"Output Texto","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2700,2500]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"mensagem"}]},"options":{}},"id":"4c82405f-1222-481b-91d4-02b49563c27a","name":"Agrega Mensagens","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2400,2500]},{"parameters":{"assignments":{"assignments":[{"id":"7e0cc371-a8f8-449f-a30f-f01debe0c959","name":"mensagem","value":"={{ $json.content }}","type":"string"}]},"options":{}},"id":"53a359a7-3796-48f0-a2a0-c4b2b3e5327d","name":"Output Image","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2700,2320]},{"parameters":{"assignments":{"assignments":[{"id":"2add5799-4c12-47d6-aaf4-240c358db89c","name":"mensagem","value":"{{ $json.data }}","type":"string"}]},"options":{}},"id":"98cc3370-acab-47fd-b196-801f38fb87e9","name":"Output Audio","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2700,2120]},{"parameters":{"url":"={{ $('Webhook').item.json.body.audio.audioUrl }}","options":{}},"id":"c4a65316-29e3-41a0-804b-533c1d7f9a73","name":"Download Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3160,2120]},{"parameters":{"databaseId":113391,"tableId":301675,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2166751,"value":"={{ $('Get Open Orders').item.json._id }}"}]}}},"id":"9c504e7b-5ca9-402e-b16c-e044ef74949e","name":"Get Order Items","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1140,2280],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"var lista = $('List Runs').first().json.data;\nreturn lista.filter(item => item.status === \"in_progress\" || item.status === \"requires_action\");"},"id":"a5ec1e7b-29e9-4c87-9d53-50b8ba1435c2","name":"Filter InProgress","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1860,2160]},{"parameters":{"operation":"create","databaseId":113391,"tableId":301673,"fieldsUi":{"fieldValues":[{"fieldId":2166736,"fieldValue":"={{ $json.whatsapp }}"},{"fieldId":2166737,"fieldValue":"={{ $json.threadId }}"},{"fieldId":2166745,"fieldValue":"=false"},{"fieldId":2166740,"fieldValue":"={{ $json.cliente }}"},{"fieldId":2166744,"fieldValue":"={{ $json.total }}"}]}},"id":"4d182105-9738-45f1-99d9-c6ddbcbe1a96","name":"Novo Carrinho","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1140,1820],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"fieldToSplitOut":"=cart","options":{}},"id":"b23ba9a3-3b5b-4627-b561-426252d40476","name":"Split Cart Itens","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1620,1820]},{"parameters":{"assignments":{"assignments":[{"id":"dc5b36f1-0d31-4bd4-8ac9-b089850811bf","name":"cart","value":"={{ $('Escolhe a tool').item.json.properties.function.arguments.parseJson().itens.split(\"\\n\") }}","type":"array"}]},"options":{}},"id":"27432cff-36b2-4724-9576-ee6c14611bef","name":"Input Put Order","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1380,1820]},{"parameters":{"operation":"create","databaseId":113391,"tableId":301675,"fieldsUi":{"fieldValues":[{"fieldId":2166751,"fieldValue":"={{ $('Novo Carrinho').item.json._id }}"},{"fieldId":2166752,"fieldValue":"={{ $json.cart.split(\"|\")[0] }}"},{"fieldId":2166753,"fieldValue":"={{ $json.cart.split(\"|\")[1] }}"},{"fieldId":2166762,"fieldValue":"={{ $json.cart.split(\"|\")[2].replaceAll(\"R$\",\"\") }}"}]}},"id":"154fbabb-f2c4-4d85-b56d-d01c85824a2c","name":"Put Order Itens","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2080,1900],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.Rotulo }}, {{ $json.Ano }}, {{ $json.Preço }}","type":"string"}]},"options":{}},"id":"c743faa3-e455-4604-bdfa-3a6d860e9988","name":"Output Wines","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2320,1180]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"489d2370-8642-4561-a9d1-b45e6c45495f","name":"Output Put Order","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2320,1800]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"40542e2a-821d-4158-abaf-34b86b4d11fc","name":"Output Payment Link","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2320,2080]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"159d4922-c835-4006-a6e5-338ea0df2a82","name":"Output Order Items","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2320,2280]},{"parameters":{"databaseId":113391,"tableId":301673,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2166736,"value":"={{ $('Webhook').item.json.body.phone }}"}]}}},"id":"27f5ced2-f70d-4303-a271-390797f2a549","name":"Get Open Orders","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[920,2280],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $json.body.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"asst_J2K6YPI2ZOexKD5llbK7pA5o"}]},"options":{}},"id":"abeec6d8-7c2b-4ee5-909d-12ef0759022c","name":"Run Assistant Admin","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1260,2380],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"databaseId":113391,"tableId":301673,"returnAll":true,"additionalOptions":{}},"id":"0307cd07-a618-4db6-89d2-6dfee2d2cb24","name":"Get ALL Orders","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[920,2460],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n   \"data\":{\n      \"cliente\":\"{{ $json.cliente }}\",\n      \"pedido\":\"{{ $json._id.toString().padStart(6,'0') }}\",\n      \"total\":\"{{ Number($json.total).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}\",\n      \"status\":\"{{ $json.pago === false ? \"Aguardando Pagamento\" : \"Pago\" }}\"\n   }\n}","options":{}},"id":"2337f257-4d47-4ea3-a233-8c118c3acd9e","name":"Output All Orders","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2320,2460]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ff069968-d0ba-4f5d-b7c0-53ca9ad94547","leftValue":"={{ $('Webhook').item.json.body.phone }}","rightValue":"+5521974894586","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"07d18332-de0c-4862-a7d8-2551d50895f0","name":"Is Admin","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1580,2480]},{"parameters":{"assignments":{"assignments":[{"id":"bb3f3d77-4403-43cf-b608-b75b862279df","name":"concatenated_data","value":"={{ $json.concatenated_data }}","type":"string"},{"id":"d836485e-a99c-40b9-ac2e-dcc533667e3c","name":"tool_output_id","value":"={{ $('Escolhe a tool').item.json.properties.id }}","type":"string"}]},"options":{}},"id":"7705acd0-1371-4d1c-83fb-80d025babcb6","name":"Tools Output ID","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3380,1900]},{"parameters":{"jsCode":"var args = JSON.parse($('Escolhe a tool').item.json.properties.function.arguments);\nvar newCart = {};\n\nnewCart.whatsapp = $('GetUser').item.json.whatsapp;\nnewCart.threadId = $('Get Run Status').item.json.thread_id;\nnewCart.cliente = $('GetUser').item.json.nome;\nnewCart.total = args.total;\n\nreturn newCart;"},"id":"430b9ce0-9c8a-4945-ba04-a2e75204bdd5","name":"Prepare Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[920,1820]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"c3171352-f1d6-4e76-bf8f-080e582ea3a9","name":"Output Get User","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2320,1400]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"6d356db1-ffa0-4860-8d34-f8134f2865c4","name":"Output Notify User","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2320,2660]},{"parameters":{"databaseId":113391,"tableId":301673,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2166735,"value":"={{ Number($json.properties.function.arguments.parseJson().cart_id) }}"}]}}},"id":"e0db0e6e-fb05-43b6-912d-4634e2870028","name":"Get User Cart","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[920,2660],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://chatbot.smart.botatende.com/api/integrations/send-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ASUXZjJDMNxSjaFOWcsyNnhos7fC4ONLak5g0FsblcYojmym3KqNwogBsJqduFio"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.texto }}"},{"name":"phone","value":"={{ $json.whatsapp }}"}]},"options":{}},"id":"40050d97-0f15-41e6-b6cd-bfcd000be24c","name":"Envia Notificação","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1380,2660]},{"parameters":{"jsCode":"return{\n  \"whatsapp\": $input.first().json.whatsapp,\n  \"texto\": \"Olá \" + $input.first().json.cliente.split(' ')[0] + \", tudo bem!\\n\\nEstou passando aqui para falar sobre o seu pedido Nº \" + $input.first().json.id.toString().padStart(6,'0') + \" no valor de \" +  Number($input.first().json.total).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) + \" pois ele encontra-se ainda aguardando pagamento.\\n\\nCaso tenha alguma dúvida, não deixe de entrar em contato conosco por aqui mesmo, ok? Estamos aguardando ansiosamente para prosseguir com o seu pedido!\\n\\nAte mais! \"\n}"},"id":"a5b2fcde-bdc8-47e8-b1ae-8531fcc706bf","name":"Formatar Notificação","type":"n8n-nodes-base.code","typeVersion":2,"position":[1140,2660]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"2ba68abb-c322-4523-a7c0-fd86daa7c5ed","leftValue":"={{ $('Webhook').item.json.body.isGroup}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"778b330d-e449-428b-8032-3e822bfa29b6","name":"Mensagem Grupo","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5240,1500]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ec2909cf-6a08-4233-8071-71a4889f8cc4","leftValue":"={{ $('Webhook').item.json.body.text.message }}","rightValue":"#","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"id":"9f0eac34-eb05-46c3-8799-7811db5a9cfc","name":"Palavra Chave","type":"n8n-nodes-base.if","typeVersion":2,"position":[-6500,2060]},{"parameters":{"databaseId":106050,"tableId":299209,"additionalOptions":{"filters":{"fields":[{"field":2145852,"value":"1"}]}}},"id":"acdefd26-42c7-4d57-a977-924f1026d86e","name":"Busca Palavras Chaves","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-5700,1680],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{},"id":"9edc5706-f643-4041-8d6b-f264d83e6230","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5240,1880]},{"parameters":{"options":{}},"id":"96784c89-9686-4b2e-903d-4eeb54c9fcee","name":"Palavra Válida","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5500,1680]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $json.phone }}"},{"name":"message","value":"={{ $json.message }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"a4a97150-373d-4a7d-a7a4-e49b48f18459","name":"Chama no Privado","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4740,1360]},{"parameters":{"jsCode":"return {\n  \"phone\": $('Webhook').item.json.body.participantPhone,\n  \"message\": \"Olá \" + $('Webhook').item.json.body.senderName + \", eu sou o assistente que estará dando prosseguimento ao atendimento!\\nAbri essa conversa em particular para que eu possa lhe mostrar os vinhos disponíveis da campanha .\\n\\nCaso queira, você pode enviar uma mensagem de áudio ou imagem de um rótulo de vinho que irei checar se está em nossa lista. OK?\\n\\nPara começar, deixa eu trazer pra você aqui a nossa lista de vinhos. Um instante...\"\n}"},"id":"5b34511a-7b4d-41a3-8f58-babb08ffbc1a","name":"Mensagem Privada","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4980,1360]},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"id":"9338fa2f-0a59-4eb0-9d6e-2738452994d2","name":"OpenAI Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-2940,2120],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"resource":"image","operation":"analyze","text":"Você receberá a foto de um rótulo de vinho. Responda apenas com o nome do vinho, uva e safra (se possível). NUNCA USE ASPAS","imageUrls":"={{ $('Webhook').item.json.body.image.imageUrl }}","options":{}},"id":"2c5ff66f-8429-4408-b8ac-cbe1d1bac961","name":"OpenAI Image","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-2940,2320],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.audio }}","rightValue":"ogg","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ba43770e-6e61-4e53-850c-16fa2bd7ddda","leftValue":"={{ $('Webhook').item.json.body.image }}","rightValue":"jpg","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4b1b0c87-c0f7-43d4-8e3a-ae5070952879","leftValue":"={{ $('Webhook').item.json.body.text }}","rightValue":"txt","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"id":"8c413ed5-aeef-48f5-967d-58e48eeb8f5a","name":"Tipo Mensagem","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-3240,2480]},{"parameters":{},"id":"24f15d99-95b2-4019-af96-bf6eb9b0f1bb","name":"No Operation","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4740,1820]},{"parameters":{"jsCode":"return {\n  \"phone\": $('Webhook').item.json.body.phone,\n  \"message\": \"O menu abaixo apresenta uma lista de opções para o e-commerce WinePOC.\\n\\nSelecione uma das opções:\",\n  \"optionList\": {\n    \"title\": \"Opções disponíveis\",\n    \"buttonLabel\": \"Abrir lista de opções\",\n    \"options\": [\n      {\n        \"id\": \"1\",\n        \"title\": \"Cadastrar Campanha\",\n        \"description\": \"Cadastra e dispara uma nova campanha\"\n      },\n      {\n        \"id\": \"2\",\n        \"title\": \"Listar Vendas\",        \n        \"description\": \"Lista todos os pedidos realizados\"\n      }\n    ]\n  }\n}"},"id":"5c7fce35-9526-49d9-b63a-d16b97c4d7ea","name":"Menu WinePOC","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4740,1600]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-option-list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $json.phone }}"},{"name":"message","value":"={{ $json.message }}"},{"name":"optionList","value":"={{ $json.optionList }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"832089a5-a319-4962-9c56-1f8e49cdeaa1","name":"Envia Menu","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4500,1600]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.text.message }}","rightValue":"#menu","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"menu"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"75ce9f3c-9078-48d6-be00-0c6347c31392","leftValue":"={{ $('Webhook').item.json.body.text.message }}","rightValue":"#info","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"info"}]},"options":{"fallbackOutput":"extra"}},"id":"56fa04f7-fd40-4819-80c6-8ec74d81459b","name":"Verifica Comando","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-4980,1700]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e9e3dbe9-87a5-4fd4-b3c8-27d34b73e5a0","leftValue":"={{ $json.body.event_type }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"7c08275f-cc45-4f8b-90d4-5d9facfa2a1b","name":"Baserow Event","type":"n8n-nodes-base.if","typeVersion":2,"position":[-6800,1840]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"08e13a21-254c-4614-b66a-edba30254e94","leftValue":"={{ $json.body.event_type }}","rightValue":"rows.created","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"c6ffd425-03f4-4e33-ab60-8b5b1154997d","name":"Criação de Campanha","type":"n8n-nodes-base.if","typeVersion":2,"position":[-6500,1600]},{"parameters":{},"id":"9055af54-71f9-4b20-bef4-043e3ec8bd05","name":"Stop","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-6220,1700]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"735719de-88d2-4136-aac4-199e56430dcb","leftValue":"={{ $('Webhook').item.json.body.listResponseMessage}}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c6693988-4e96-45bd-ba28-06e9e0d43785","name":"É Escolha de Menu","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5700,2480]},{"parameters":{"jsCode":"return {\n  \"phone\": $('Webhook').item.json.body.phone,\n  \"message\": \"Para cadastrar uma nova campanha, utilize o formulário abaixo:\\n\\nhttps://baserow.io/form/4Hn77tcLdW6t8lwFRWEo8xgtCf_PZSsCOAtf7FBF0CU\"\n}"},"id":"573ef23c-7100-4cc7-bf05-6448320193e1","name":"Cadastrar Campanha","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4980,2100]},{"parameters":{"jsCode":"var lista = $('Webhook').first().json.body.items[0].Vinhos;\nvar titulo = $('Webhook').first().json.body.items[0].Titulo;\nvar descricao = $('Webhook').first().json.body.items[0].Descrição;\n\nvar mensagem = \"\\n*\" + titulo + \"*\\n\\n\" + descricao + \"\\n\";\nfor (let prod of lista) {\n  if(prod != 'undefined'){\n    mensagem += \"\\n\" + prod.value;    \n  }\n}\nmensagem += \"\\n\\nPara saber mais digite *#euquero* e iremos lhe atenteder!\";\n\nreturn {\n  \"phone\": \"120363300353141605-group\",\n  \"message\": mensagem,\n  \"image\": \"https://revistaadega.uol.com.br/media/evolucao_do_vinho_tinto.jpeg\",\n  \"linkUrl\": \"https://meusvinhos.com.br\",\n  \"title\": titulo,\n  \"linkDescription\": \"Campanha de Vinhos pelo Whatsapp\"\n};"},"id":"2186bdde-d243-4a88-ae7e-9c0370dd7a95","name":"Dispara Campanha","type":"n8n-nodes-base.code","typeVersion":2,"position":[-6220,1500]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-image","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{"redirect":{"redirect":{}}}},"id":"77e23786-0298-468f-95aa-b27bc8eaf9b5","name":"Envia Campanha","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6000,1500]},{"parameters":{"method":"POST","url":"https://hom-n8n.ctel.living-consultoria.com.br/webhook/winepoc-v2-zapi","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString()}}","options":{"redirect":{"redirect":{}}}},"id":"858b6a75-e2ef-4e40-9b28-b68618c81ee8","name":"Invoca o Assistente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4280,1360]},{"parameters":{"jsCode":"return {\n   \"isGroup\": false,\n   \"phone\": $('Webhook').item.json.body.participantPhone,\n   \"fromMe\":false,\n   \"senderName\": $('Webhook').item.json.body.senderName,\n   \"participantPhone\":$('Webhook').item.json.body.participantPhone,\n   \"text\":{\n      \"message\": \"me mostre a lista de vinhos\"\n   }\n}"},"id":"01ad3a56-72e0-4b64-9fd8-f0a30bdcbe9d","name":"Chama N8N","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4500,1360]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Webhook').item.json.body.phone }}"},{"name":"message","value":"..."}]},"options":{"redirect":{"redirect":{}}}},"id":"9f2aeb90-c7b1-4e9f-b213-8fc6c7d295ea","name":"Envia os ...","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5240,2500]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.listResponseMessage.title}}","rightValue":"Cadastrar","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cadastrar Campanha"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"95514aca-1880-44fa-892e-2ec3d54e86e0","leftValue":"={{ $('Webhook').item.json.body.listResponseMessage.title}}","rightValue":"Listar Vendas","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Listar Vendas"}]},"options":{}},"id":"73074e8e-9aad-4406-9e19-0d57ac2af61b","name":"Menu","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-5240,2200]},{"parameters":{"jsCode":"return {\n  \"phone\": $('Webhook').item.json.body.phone,\n  \"message\": \"Para verificar as suas vendas, utilize o formulário abaixo:\\n\\nhttps://baserow.io/public/gallery/0P0pdHQfWvwMBm_Py1eElNoU8ew5o84TWN-6Hquw4us\"\n}"},"id":"f177ae47-2231-4775-b8eb-169f5a855f71","name":"Listar Vendas","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4980,2300]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $json.phone }}"},{"name":"message","value":"={{ $json.message }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"ee8e7250-39e8-46c2-99f2-bf0482d27aa5","name":"Link Formulário","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4740,2200]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $json.body.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"asst_Em2NdnPyoah1lMD2T5NzYM9r"}]},"options":{}},"id":"94c91848-ccc0-4b36-8885-06c4054d732a","name":"Run Assistant","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1260,2580],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"jsCode":"var vinhos = $('Get Wines').first().json.Vinhos;\nvar precos = $('Get Wines').first().json.Preco;\nvar anos = $('Get Wines').first().json.Ano;\nvar estoques = $('Get Wines').first().json.Estoque;\n\nvar rows = [];\nfor (const item of estoques) {\n  if(item.value > 0){\n    var r = {};\n    r.Estoque = item.value;\n    \n    let v = vinhos.find(x => x.id === item.id);\n    r.Rotulo = v.value;\n  \n    let a = anos.find(x => x.id === item.id);\n    r.Ano = a.value;\n    \n    let p = precos.find(x => x.id === item.id);\n    r.Preço = p.value;\n    \n    rows.push(r);    \n  }\n}\n\nreturn rows;"},"id":"11a74f08-0c14-4dd6-af1f-cf9bfbd306d7","name":"Formatar Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1140,1180],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"create","databaseId":113391,"tableId":301666,"fieldsUi":{"fieldValues":[{"fieldId":2166709,"fieldValue":"={{ $('Webhook').item.json.body.phone }}"}]}},"id":"959b4800-b98d-4092-8f71-e0124ecc4805","name":"CreateUser","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-4240,2620],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"databaseId":113391,"tableId":301666,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2166709,"value":"={{ $('Webhook').item.json.body.phone }}"}]}}},"id":"ca9ddf29-8df0-4bf4-806f-1f6ed8b39a0b","name":"GetUser","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-4740,2500],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"databaseId":113391,"tableId":301662,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2166691,"operator":"date_after","value":"={{ $now }}"}]}}},"id":"70cef075-30f7-49e5-895a-e7371070f68f","name":"Get Wines","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[920,1180],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"databaseId":113391,"tableId":301666,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2166709,"value":"={{ $('Webhook').item.json.body.phone }}"}]}}},"id":"35385acd-5abf-4f85-a3df-0b03c3b9a2eb","name":"Get User","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[920,1400],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":113391,"tableId":301666,"rowId":"={{ $('Merge User').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2166720,"fieldValue":"={{ $json.id }}"}]}},"id":"ee97f120-25e2-4a55-9814-a83392d2c2a7","name":"Update User","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-3240,2660],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.whatsapp }}, {{ $json.nome }}, {{ $json.endereco }}","type":"string"}]},"options":{}},"id":"a197bbff-42fb-4d42-aa55-9324bfdcc5ec","name":"Output Save User","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2320,1600]},{"parameters":{"operation":"update","databaseId":113391,"tableId":301666,"rowId":"={{ $('GetUser').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2166710,"fieldValue":"={{ $json.properties.function.arguments.parseJson().nome }}"},{"fieldId":2166711,"fieldValue":"={{ $json.properties.function.arguments.parseJson().endereco }}"}]}},"id":"aa726aa1-0108-48af-b6a1-a2429cef6d09","name":"Save User","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[920,1600],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"databaseId":113391,"tableId":301589,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2166687,"operator":"higher_than","value":"0"}]}}},"id":"43bc3687-0888-42c7-b70d-95aa18efadeb","name":"Verifica Estoque","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[920,2860],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.Rotulo }}, {{ $json.Estoque }}","type":"string"}]},"options":{}},"id":"4f6c441e-a70d-4a1c-a448-4a17beb97372","name":"Output Estoque","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2320,2860]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"queued","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"queued"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8f298867-9fe7-4564-8887-4d8e30d93d33","leftValue":"={{ $json.status }}","rightValue":"in_progress","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"in_progress"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6932f1b4-d0b7-454d-b05e-7f97b04108f6","leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5f3617b1-9b0d-44dd-89ef-d3f6c9ac718a","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a129efd7-a390-4c58-92a0-84d7b3f35357","leftValue":"={{ $json.status }}","rightValue":"expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expired"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c298d202-dc51-453b-8a14-cd082454a9b0","leftValue":"={{ $json.status }}","rightValue":"requires_action","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"requires_action"}]},"options":{}},"id":"c4f07bcb-17c5-4eb0-9e46-1f96c5a87841","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-540,2460]},{"parameters":{"httpMethod":"POST","path":"winepoc-v3-zapi","options":{}},"id":"4f30869b-555b-4841-8810-ff1c682fbfdd","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-7060,1840],"webhookId":"b213903b-468a-44fc-b549-a076df8abe38"},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Webhook').item.json.body.phone }}"},{"name":"message","value":"={{ $json.required_action.submit_tool_outputs.tool_calls.toJsonString() }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"ac260946-0860-4f35-b162-9a3a760efdf7","name":"Envia Whatsapp1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-540,1840]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"0947e4d7-beb4-4d4f-b24d-14c315cf9fcb","name":"Output Lista de Espera","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2320,3060]},{"parameters":{"jsCode":"var arg = JSON.parse($('Escolhe a tool').item.json.properties.function.arguments);\n\nreturn {\n  \"rotulo\": arg.rotulo,\n  \"quantidade\": arg.quantidade\n};"},"id":"24581aa4-8865-4126-9a63-23cf40d75b62","name":"Prepare Wait Lista Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[920,3060]},{"parameters":{"jsCode":"var arr = [];\nvar arg = JSON.parse( $input.first().json.properties.function.arguments);\nvar vinhos = arg.itens.split('\\n');\n\nfor (let v of vinhos) {\n  let item = {};\n  item.rotulo = v.split('|')[0];\n  item.quantidade = v.split('|')[1];\n  arr.push(item);\n}\n\nreturn arr;"},"id":"4fac4ba8-0bce-4351-9759-a070e2a732af","name":"Prepare Wait Lista Data1","type":"n8n-nodes-base.code","typeVersion":2,"position":[660,3980]},{"parameters":{"operation":"create","databaseId":113391,"tableId":302379,"fieldsUi":{"fieldValues":[{"fieldId":2172619,"fieldValue":"={{ $('GetUser').item.json.whatsapp }}"},{"fieldId":2172620,"fieldValue":"={{ $json.rotulo }}"},{"fieldId":2172621,"fieldValue":"={{ $json.quantidade }}"}]}},"id":"fb5cbc67-4794-4851-90c0-39e098d9fef4","name":"Lista de Espera","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1140,3060],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"jsCode":"return [\n  {\n    \"properties\": {\n      \"id\": \"call_QJ0Uv1VXTBBz3RNUFhayqmRI\",\n      \"type\": \"function\",\n      \"function\": {\n        \"name\": \"reserve_wine\",\n        \"arguments\": \"{\\\"itens\\\":\\\"Don Rafael Tinto 2020|1\\\\nCaparzo Chardonnay 2022|1\\\\nMouchão Reserva Tinto 2016|1\\\"}\"\n      }\n    }\n  }\n]"},"id":"b3d1209d-9314-4d6f-820a-3c9621a66382","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,3980]},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"acabf54a-f197-487a-b6b7-0b9d907aeac8","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-7060,1020]},{"parameters":{"databaseId":113391,"tableId":302379,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2177323,"value":"0"}]}}},"id":"f4e93709-2b91-4e63-b45d-6040738b18ce","name":"Varre Lista de Espera","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-6800,1020],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"databaseId":113391,"tableId":301589,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2165824,"value":"={{ $json.produto }}"}]}}},"id":"1039f309-517c-4655-9f81-e62c1da0c14f","name":"Busca Produto","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-6220,1120],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{},"id":"d01e9fed-b647-4bfd-b872-8d927e7be8d2","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-6220,940]},{"parameters":{"options":{}},"id":"64c2fc75-dc69-4830-8a4e-a373173bbc57","name":"Loop Wait List","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-6520,1020]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c08594f2-bb14-45a7-a3fa-d9b06fc69821","leftValue":"={{ Number($json.Estoque) }}","rightValue":"={{ Number($('Loop Wait List').item.json.quantidade) }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"70208b8b-4a78-42a4-a559-a3d1b6fe6f0c","name":"Verifica Disponibilidade","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5700,960]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8648f16e-e651-4876-8397-9675c0a1cb36","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d733fa84-0b5e-4fa8-8953-d2b008855e58","name":"Existe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-6000,1120]},{"parameters":{"operation":"delete","databaseId":113391,"tableId":302379,"rowId":"={{ $('Loop Wait List').item.json.id }}"},"id":"c5fd7d8b-32aa-498d-9504-f2f89ee9ea7a","name":"Remove da Lista de Espera","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-5700,1240],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{},"id":"91f3ee96-8c9f-4971-bd07-95187227304f","name":"Continua na Lista","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5500,1160]},{"parameters":{"jsCode":"return {\n  \"phone\": $('Varre Lista de Espera').item.json.whatsapp,\n  \"message\": \"Olá, tenho uma excelente notícia!\\nUm ou mais itens da sua lista de espera encontra-se disponível:\\n\\n*\" + $('Verifica Disponibilidade').first().json.Rotulo + \" - \" + $('Verifica Disponibilidade').first().json.Preco + \"*\\n\\nCorra pois a procura está alta!\",\n  \"optionList\": {\n    \"title\": \"Opções disponíveis\",\n    \"buttonLabel\": \"Abrir lista de opções\",\n    \"options\": [\n      {\n        \"id\": \"1\",\n        \"title\": \"Iniciar um novo pedido\",\n        \"description\": \"Inicia um novo pedido com os itens disponíveis\"\n      },\n      {\n        \"id\": \"2\",\n        \"title\": \"Sair da Lista de Espera\",        \n        \"description\": \"Remove um ou todos os itens da sua lista\"\n      }\n    ]\n  }\n}"},"id":"78138041-ccf1-4317-9987-d43d82806b06","name":"Notificação Lista de Espera","type":"n8n-nodes-base.code","typeVersion":2,"position":[-5500,780]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-option-list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $json.phone }}"},{"name":"message","value":"={{ $json.message }}"},{"name":"optionList","value":"={{ $json.optionList }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"a9160b9e-6f08-4b9d-871d-ac00cec2274f","name":"Notifica Disponibilidade","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5240,780]},{"parameters":{"operation":"update","databaseId":113391,"tableId":302379,"rowId":"={{ $('Loop Wait List').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2177323,"fieldValue":"1"}]}},"id":"3597c202-868d-4aaa-b508-6ca4f8310aa8","name":"Atualiza Status Notificado","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-4980,780],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.properties.function.name }}","rightValue":"get_wines","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_wines"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"bca3495b-7a44-4afd-a12b-e2c197475d3a","leftValue":"={{ $json.properties.function.name }}","rightValue":"get_user_data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"07bec39e-df8d-443c-bd07-4df3cc4f62ff","leftValue":"={{ $json.properties.function.name }}","rightValue":"save_user_data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"save_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5c19fda5-47b4-4ce9-a790-277848d4053d","leftValue":"={{ $json.properties.function.name }}","rightValue":"put_order","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"put_order"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"faa66bf7-b1e4-47a7-8683-8ae6ac9ddd1d","leftValue":"={{ $json.properties.function.name }}","rightValue":"get_payment_link","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_payment_link"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6f367688-cd0a-4001-bc2b-553a8f6ff719","leftValue":"={{ $json.properties.function.name }}","rightValue":"check_availability","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"check_availability"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"f480f224-2e36-4c78-9f2b-5b6c72143ab7","leftValue":"={{ $json.properties.function.name }}","rightValue":"wait_list","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"wait_list"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c3c46004-fe83-47b4-965a-f46788c3f216","leftValue":"={{ $json.properties.function.name }}","rightValue":"reserve_wine","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reserve_wine"}]},"options":{}},"id":"52fc4887-9db4-4c7a-8bd0-e16817481098","name":"Escolhe a tool","type":"n8n-nodes-base.switch","typeVersion":3,"position":[360,1800]},{"parameters":{"jsCode":"var arr = [];\nvar arg = JSON.parse( $input.first().json.properties.function.arguments);\nvar vinhos = arg.itens.split('\\n');\n\nfor (let v of vinhos) {\n  let item = {};\n  item.rotulo = v.split('|')[0];\n  item.quantidade = v.split('|')[1];\n  arr.push(item);\n}\n\nreturn arr;"},"id":"2e7868d7-2d6a-439e-8a27-e399836641ae","name":"Prepara Reserva","type":"n8n-nodes-base.code","typeVersion":2,"position":[920,3240]},{"parameters":{"operation":"create","databaseId":113391,"tableId":303124,"fieldsUi":{"fieldValues":[{"fieldId":2179086,"fieldValue":"5521974894586"},{"fieldId":2179087,"fieldValue":"={{ $json.rotulo }}"},{"fieldId":2179088,"fieldValue":"={{ $json.quantidade }}"}]}},"id":"13f99efa-7ec5-4464-9165-43a1cebffd5e","name":"Reserva Vinho","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1380,3340],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.rotulo }}, {{ $json.quantidade }}","type":"string"},{"id":"68a90be0-3ecf-4b1b-b888-371297853855","name":"toolid","value":"={{ $('Escolhe a tool').item.json.properties.id }}","type":"string"}]},"options":{}},"id":"5713f3f6-634a-4af5-af4e-c0ee4adf6458","name":"Output Reserva","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2320,3240]},{"parameters":{"operation":"create","databaseId":113391,"tableId":303124,"fieldsUi":{"fieldValues":[{"fieldId":2179086,"fieldValue":"={{ $('GetUser').item.json.whatsapp }}"},{"fieldId":2179087,"fieldValue":"={{ $json.rotulo }}"},{"fieldId":2179088,"fieldValue":"={{ $json.quantidade }}"}]}},"id":"125cb86c-8c08-49a9-926f-f1e869212dc7","name":"Reserva Vinho1","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1140,4040],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"options":{}},"id":"32d35724-b583-4b23-b817-13f41c5cc05f","name":"Loop Reservas","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1140,3260]},{"parameters":{"jsCode":"return [\n  {\n    \"rotulo\": \"Don Rafael Tinto 2020\",\n    \"quantidade\": \"1\"\n  }\n]"},"id":"c02a6aef-b0e5-4184-afd3-6058af5588eb","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[920,4020]},{"parameters":{"databaseId":113391,"tableId":301589,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2165824,"value":"={{ $json.rotulo }}"}]}}},"id":"3dd66ed3-02ff-417c-b65a-accc92a088b7","name":"Busca Estoque","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1600,3340],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":113391,"tableId":301589,"rowId":"={{ $json.rowid }}","fieldsUi":{"fieldValues":[{"fieldId":2166687,"fieldValue":"={{ $json.saldo }}"}]}},"id":"205143de-3f93-40dc-9f9d-9dd515062e8f","name":"Atualiza Estoque","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2060,3340],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"jsCode":"var estoque = $('Busca Estoque').first().json.Estoque;\nvar reserva = $('Reserva Vinho').first().json.quantidade;\nvar saldo = Number(estoque) - Number(reserva);\nreturn {\n  \"rowid\": $('Busca Estoque').first().json.id,\n  \"saldo\": saldo\n}"},"id":"a1433613-6510-4712-8968-bf99905f84f3","name":"Calcula Saldo","type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,3340]}],"connections":{"If":{"main":[[{"node":"Merge User","type":"main","index":0}],[{"node":"CreateUser","type":"main","index":0}]]},"Criar Thread":{"main":[[{"node":"Update User","type":"main","index":0}]]},"Merge User":{"main":[[{"node":"Possui Thread","type":"main","index":0}]]},"Possui Thread":{"main":[[{"node":"Tipo Mensagem","type":"main","index":0}],[{"node":"Criar Thread","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Get Run Status":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Captura Tool Calls":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Escolhe a tool","type":"main","index":0}]]},"Criar Mensagem":{"main":[[{"node":"Is Admin","type":"main","index":0}],[{"node":"List Runs","type":"main","index":0}]]},"Cancel Run":{"main":[[{"node":"Criar Mensagem","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Get Resposta":{"main":[[{"node":"Envia Whatsapp","type":"main","index":0}]]},"Summarize Action":{"main":[[{"node":"Tools Output ID","type":"main","index":0}]]},"Link de Pagamento":{"main":[[{"node":"Output Payment Link","type":"main","index":0}]]},"Prepare tools output":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Loop Over Cart Items":{"main":[[{"node":"Output Put Order","type":"main","index":0}],[{"node":"Put Order Itens","type":"main","index":0}]]},"Output Texto":{"main":[[{"node":"Agrega Mensagens","type":"main","index":0}]]},"Agrega Mensagens":{"main":[[{"node":"Criar Mensagem","type":"main","index":0}]]},"Output Image":{"main":[[{"node":"Agrega Mensagens","type":"main","index":0}]]},"Output Audio":{"main":[[{"node":"Agrega Mensagens","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"OpenAI Audio","type":"main","index":0}]]},"Get Order Items":{"main":[[{"node":"Output Order Items","type":"main","index":0}]]},"List Runs":{"main":[[{"node":"Filter InProgress","type":"main","index":0}]]},"Filter InProgress":{"main":[[{"node":"Cancel Run","type":"main","index":0}]]},"Novo Carrinho":{"main":[[{"node":"Input Put Order","type":"main","index":0}]]},"Split Cart Itens":{"main":[[{"node":"Loop Over Cart Items","type":"main","index":0}]]},"Input Put Order":{"main":[[{"node":"Split Cart Itens","type":"main","index":0}]]},"Put Order Itens":{"main":[[{"node":"Loop Over Cart Items","type":"main","index":0}]]},"Output Wines":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Output Put Order":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Output Payment Link":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Output Order Items":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Get Open Orders":{"main":[[{"node":"Get Order Items","type":"main","index":0}]]},"Run Assistant Admin":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Get ALL Orders":{"main":[[{"node":"Output All Orders","type":"main","index":0}]]},"Output All Orders":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Is Admin":{"main":[[{"node":"Run Assistant Admin","type":"main","index":0}],[{"node":"Run Assistant","type":"main","index":0}]]},"Prepare Data":{"main":[[{"node":"Novo Carrinho","type":"main","index":0}]]},"Output Get User":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Output Notify User":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Get User Cart":{"main":[[{"node":"Formatar Notificação","type":"main","index":0}]]},"Envia Notificação":{"main":[[{"node":"Output Notify User","type":"main","index":0}]]},"Formatar Notificação":{"main":[[{"node":"Envia Notificação","type":"main","index":0}]]},"Mensagem Grupo":{"main":[[{"node":"Mensagem Privada","type":"main","index":0}],[{"node":"Verifica Comando","type":"main","index":0}]]},"Palavra Chave":{"main":[[{"node":"Busca Palavras Chaves","type":"main","index":0}],[{"node":"É Escolha de Menu","type":"main","index":0}]]},"Busca Palavras Chaves":{"main":[[{"node":"Palavra Válida","type":"main","index":0}]]},"Palavra Válida":{"main":[[{"node":"Mensagem Grupo","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Mensagem Privada":{"main":[[{"node":"Chama no Privado","type":"main","index":0}]]},"OpenAI Audio":{"main":[[{"node":"Output Audio","type":"main","index":0}]]},"OpenAI Image":{"main":[[{"node":"Output Image","type":"main","index":0}]]},"Tipo Mensagem":{"main":[[{"node":"Download Audio","type":"main","index":0}],[{"node":"OpenAI Image","type":"main","index":0}],[{"node":"Output Texto","type":"main","index":0}]]},"Menu WinePOC":{"main":[[{"node":"Envia Menu","type":"main","index":0}]]},"Verifica Comando":{"main":[[{"node":"Menu WinePOC","type":"main","index":0}],[{"node":"No Operation","type":"main","index":0}],[{"node":"No Operation","type":"main","index":0}]]},"Baserow Event":{"main":[[{"node":"Criação de Campanha","type":"main","index":0}],[{"node":"Palavra Chave","type":"main","index":0}]]},"Criação de Campanha":{"main":[[{"node":"Dispara Campanha","type":"main","index":0}],[{"node":"Stop","type":"main","index":0}]]},"É Escolha de Menu":{"main":[[{"node":"Menu","type":"main","index":0}],[{"node":"Envia os ...","type":"main","index":0}]]},"Cadastrar Campanha":{"main":[[{"node":"Link Formulário","type":"main","index":0}]]},"Dispara Campanha":{"main":[[{"node":"Envia Campanha","type":"main","index":0}]]},"Chama no Privado":{"main":[[{"node":"Chama N8N","type":"main","index":0}]]},"Chama N8N":{"main":[[{"node":"Invoca o Assistente","type":"main","index":0}]]},"Envia os ...":{"main":[[{"node":"GetUser","type":"main","index":0}]]},"Menu":{"main":[[{"node":"Cadastrar Campanha","type":"main","index":0}],[{"node":"Listar Vendas","type":"main","index":0}]]},"Listar Vendas":{"main":[[{"node":"Link Formulário","type":"main","index":0}]]},"Run Assistant":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Formatar Output":{"main":[[{"node":"Output Wines","type":"main","index":0}]]},"CreateUser":{"main":[[{"node":"Merge User","type":"main","index":1}]]},"GetUser":{"main":[[{"node":"If","type":"main","index":0}]]},"Get Wines":{"main":[[{"node":"Formatar Output","type":"main","index":0}]]},"Get User":{"main":[[{"node":"Output Get User","type":"main","index":0}]]},"Update User":{"main":[[{"node":"Merge User","type":"main","index":1}]]},"Output Save User":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Save User":{"main":[[{"node":"Output Save User","type":"main","index":0}]]},"Verifica Estoque":{"main":[[{"node":"Output Estoque","type":"main","index":0}]]},"Output Estoque":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}],[],[{"node":"Get Resposta","type":"main","index":0}],[],[{"node":"Captura Tool Calls","type":"main","index":0}]]},"Tools Output ID":{"main":[[{"node":"Prepare tools output","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Baserow Event","type":"main","index":0}]]},"Envia Whatsapp1":{"main":[[]]},"Output Lista de Espera":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Prepare Wait Lista Data":{"main":[[{"node":"Lista de Espera","type":"main","index":0}]]},"Lista de Espera":{"main":[[{"node":"Output Lista de Espera","type":"main","index":0}]]},"Code":{"main":[[{"node":"Prepare Wait Lista Data1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Varre Lista de Espera","type":"main","index":0}]]},"Varre Lista de Espera":{"main":[[{"node":"Loop Wait List","type":"main","index":0}]]},"Loop Wait List":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Busca Produto","type":"main","index":0}]]},"Busca Produto":{"main":[[{"node":"Existe?","type":"main","index":0}]]},"Existe?":{"main":[[{"node":"Verifica Disponibilidade","type":"main","index":0}],[{"node":"Remove da Lista de Espera","type":"main","index":0}]]},"Verifica Disponibilidade":{"main":[[{"node":"Notificação Lista de Espera","type":"main","index":0}],[{"node":"Continua na Lista","type":"main","index":0}]]},"Notificação Lista de Espera":{"main":[[{"node":"Notifica Disponibilidade","type":"main","index":0}]]},"Notifica Disponibilidade":{"main":[[{"node":"Atualiza Status Notificado","type":"main","index":0}]]},"Escolhe a tool":{"main":[[{"node":"Get Wines","type":"main","index":0}],[{"node":"Get User","type":"main","index":0}],[{"node":"Save User","type":"main","index":0}],[{"node":"Prepare Data","type":"main","index":0}],[{"node":"Link de Pagamento","type":"main","index":0}],[{"node":"Verifica Estoque","type":"main","index":0}],[{"node":"Prepare Wait Lista Data","type":"main","index":0}],[{"node":"Prepara Reserva","type":"main","index":0}]]},"Prepara Reserva":{"main":[[{"node":"Loop Reservas","type":"main","index":0}]]},"Reserva Vinho":{"main":[[{"node":"Busca Estoque","type":"main","index":0}]]},"Output Reserva":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Loop Reservas":{"main":[[{"node":"Output Reserva","type":"main","index":0}],[{"node":"Reserva Vinho","type":"main","index":0}]]},"Busca Estoque":{"main":[[{"node":"Calcula Saldo","type":"main","index":0}]]},"Atualiza Estoque":{"main":[[{"node":"Loop Reservas","type":"main","index":0}]]},"Calcula Saldo":{"main":[[{"node":"Atualiza Estoque","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e89dc80b-b6ad-447e-9982-c38833ad82f6","triggerCount":2,"tags":[{"createdAt":"2024-05-08T13:09:05.414Z","updatedAt":"2024-05-08T13:09:05.414Z","id":"geOzNJLre1tq4Ts2","name":"dev"}]}