winepoc---v2---z-api-com-gpt-4o-Mk6bVBgYDUZ84NK6.json
{"createdAt":"2024-05-19T15:20:39.440Z","updatedAt":"2024-05-24T14:33:32.000Z","id":"Mk6bVBgYDUZ84NK6","name":"WinePOC - V2 - Z-API com GPT-4o","active":true,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"85462951-b2ed-48cc-92bc-85acc872a1b4","leftValue":"={{ $json.whatsapp }}","rightValue":"={{ $('Webhook').item.json.body.phone }}","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c8319190-272f-4ccb-a730-46bb5b02720d","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[-4480,2500]},{"parameters":{"operation":"create","databaseId":107311,"tableId":288182,"fieldsUi":{"fieldValues":[{"fieldId":2061130,"fieldValue":"={{ $('Webhook').item.json.body.phone }}"}]}},"id":"b6b76b97-1f18-47ff-81c6-123e88f8c8af","name":"CreateUser","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-4240,2620],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"db2ab71e-79f4-42cb-ac18-eedad2d8a24b","name":"Criar Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3420,2660],"alwaysOutputData":true,"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{},"id":"f628e95e-3df4-4f90-8beb-31905584a4c3","name":"Merge User","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-3960,2500],"alwaysOutputData":true,"executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"968ee1b3-fb37-4e94-8282-d1875dce9811","leftValue":"={{ $json.thread_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"5bbab1dd-2182-48a1-b5eb-e90fa65e8856","name":"Possui Thread","type":"n8n-nodes-base.if","typeVersion":2,"position":[-3600,2500],"alwaysOutputData":false},{"parameters":{"amount":2},"id":"08cc9f31-48c2-423a-bfcb-9fc589d39848","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-220,2260],"webhookId":"9423bc41-7725-4657-82b0-963b8f83cda3"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/runs/{{ $json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"ff1280e5-6165-4d75-8b7b-96341280f1bf","name":"Get Run Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-920,2480],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"12a5740e-ff1b-40d0-8e4d-ea9b20902d12","name":"tool_calls","value":"={{ $json.required_action.submit_tool_outputs.tool_calls }}","type":"array"}]},"options":{}},"id":"0954106f-a025-4eb4-afc5-764604858ed5","name":"Captura Tool Calls","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-440,1920]},{"parameters":{"fieldToSplitOut":"tool_calls","include":"allOtherFields","options":{"destinationFieldName":"properties"}},"id":"dd52e00b-39be-4c45-bd65-732328b41582","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-220,1920]},{"parameters":{"options":{}},"id":"c1463d2b-19ab-4376-9824-88ef6416f076","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,1920]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Webhook').item.json.body.phone }}"},{"name":"message","value":"={{ $json.data[0].content[0].text.value }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"19cded63-8195-4b1e-a320-8deaf689e51e","name":"Envia Whatsapp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,2480]},{"parameters":{"databaseId":107311,"tableId":288182,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2061130,"value":"={{ $('Webhook').item.json.body.phone }}"}]}}},"id":"5d59874d-f679-4c3d-956a-0be391b1e48f","name":"Get User","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[920,1900],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":107311,"tableId":288182,"rowId":"={{ $('GetUser').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2061131,"fieldValue":"={{ $json.properties.function.arguments.parseJson().nome }}"},{"fieldId":2061133,"fieldValue":"={{ $json.properties.function.arguments.parseJson().endereco }}"}]}},"id":"bb16ea51-8c6a-47e3-84b3-7b3f24d72ef4","name":"Save User","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[920,2100],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Tipo Mensagem').item.json.thread_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"assistant"},{"name":"content","value":"={{ $('Agrega Mensagens').item.json.mensagem[0] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"b0c68cdf-70d1-4ade-817f-7f8512a7d9f3","name":"Criar Mensagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1860,2500],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Possui Thread').item.json.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"21868e62-dc2f-474f-a609-baae72b3a6c9","name":"List Runs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2080,2160],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Possui Thread').item.json.thread_id }}/runs/{{ $json.id }}/cancel","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"51aa933e-8303-4734-bc2b-becc8cc4e41c","name":"Cancel Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1600,2160],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Get Run Status').item.json.thread_id }}/runs/{{ $('Get Run Status').item.json.id }}/submit_tool_outputs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"tool_outputs","value":"={{ $json.tool_outputs }}"}]},"options":{}},"id":"b1fdf630-5b0a-4d49-b9d4-9b2085a840c6","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,1340],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"tool_outputs","options":{}},"id":"8c915a73-5c46-47a4-a1fc-928bd168a166","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[700,1340]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/messages?order-desc","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"f94e2c61-f0aa-4084-aa14-169881a43b96","name":"Get Resposta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-220,2480],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{"outputFormat":"separateItems"}},"id":"6a7e573d-b6a2-4d02-9982-9195ed9d9703","name":"Summarize Action","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[3180,1900]},{"parameters":{"jsCode":"return {\n  \"link\": \"https://www.userede.com.br/\",\n  \"pix\": \"00020126660014BR.GOV.BCB.PIX0111113593027940229obrigado pela doação no teste52040000530398654040.015802BR5924Victor Hugo Rabelo Neves6009SAO PAULO62140510ZUISFrvsME6304B76F\"\n}"},"id":"c1778f29-711a-4b94-a00f-79240b26e921","name":"Link de Pagamento","type":"n8n-nodes-base.code","typeVersion":2,"position":[920,2560]},{"parameters":{"assignments":{"assignments":[{"id":"12adba31-058a-4496-ab9e-28513217a50a","name":"tool_call_id","value":"={{ $json.tool_output_id }}","type":"string"},{"id":"7b78e22a-8dff-4d5f-8123-4a9ef23d9fa9","name":"output","value":"={{ $json.concatenated_data }}","type":"string"}]},"options":{}},"id":"1f767f3d-1e8b-450e-9445-9283ef1615be","name":"Prepare tools output","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[360,1540]},{"parameters":{"options":{"reset":false}},"id":"51445c26-1ea0-4b99-a6ec-6bde2ede926b","name":"Loop Over Cart Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1880,2300]},{"parameters":{"operation":"update","databaseId":107311,"tableId":288182,"rowId":"={{ $('Merge User').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2061134,"fieldValue":"={{ $json.id }}"}]}},"id":"150c16af-063c-4957-a6d9-360f8f51da7c","name":"Update User","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-3240,2660],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"assignments":{"assignments":[{"id":"898e5ea5-32f5-4c15-b459-8f8883462693","name":"mensagem","value":"={{ $('Webhook').item.json.body.text.message }}","type":"string"},{"id":"f3b13734-e16b-4861-afda-2eea9741d55d","name":"","value":"","type":"string"}]},"options":{}},"id":"84080b9f-1f6f-4649-9923-05d08259c474","name":"Output Texto","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2700,2500]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"mensagem"}]},"options":{}},"id":"425f6ce3-99dc-4712-88c7-3c96b7d51286","name":"Agrega Mensagens","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2400,2500]},{"parameters":{"assignments":{"assignments":[{"id":"7e0cc371-a8f8-449f-a30f-f01debe0c959","name":"mensagem","value":"={{ $json.content }}","type":"string"}]},"options":{}},"id":"db5f3c9e-8d8d-4311-b47f-e1d775315e92","name":"Output Image","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2700,2320]},{"parameters":{"assignments":{"assignments":[{"id":"2add5799-4c12-47d6-aaf4-240c358db89c","name":"mensagem","value":"{{ $json.data }}","type":"string"}]},"options":{}},"id":"dc42f7d4-1a08-4fba-8f71-813ba6f4cd7a","name":"Output Audio","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2700,2120]},{"parameters":{"url":"={{ $('Webhook').item.json.body.audio.audioUrl }}","options":{}},"id":"8c2f5213-ee4e-4b42-8dea-4581630647fb","name":"Download Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3160,2120]},{"parameters":{"databaseId":107311,"tableId":289299,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2069456,"value":"={{ $('Get Open Orders').item.json._id }}"}]}}},"id":"422404e8-bfde-4789-b311-0cd4b4d227e4","name":"Get Order Items","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1140,2740],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"var lista = $('List Runs').first().json.data;\nreturn lista.filter(item => item.status === \"in_progress\" || item.status === \"requires_action\");"},"id":"9826811a-20a9-4ee8-87c0-f3f000f712aa","name":"Filter InProgress","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1860,2160]},{"parameters":{"operation":"create","databaseId":107311,"tableId":298215,"fieldsUi":{"fieldValues":[{"fieldId":2138074,"fieldValue":"={{ $json.whatsapp }}"},{"fieldId":2138075,"fieldValue":"={{ $json.threadId }}"},{"fieldId":2138077,"fieldValue":"=false"},{"fieldId":2142405,"fieldValue":"={{ $json.cliente }}"},{"fieldId":2140682,"fieldValue":"={{ $json.total }}"}]}},"id":"6748a2f4-628d-4ff3-9d29-851e7742a0cc","name":"Novo Carrinho","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1140,2300],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"fieldToSplitOut":"=cart","options":{}},"id":"8671f74e-0e18-4073-b5fe-2618237af7bc","name":"Split Cart Itens","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1620,2300]},{"parameters":{"assignments":{"assignments":[{"id":"dc5b36f1-0d31-4bd4-8ac9-b089850811bf","name":"cart","value":"={{ $('Escolhe a tool').item.json.properties.function.arguments.parseJson().itens.split(\"\\n\") }}","type":"array"}]},"options":{}},"id":"eeecb7de-b7fb-4583-a3f6-f34197ec43d0","name":"Input Put Order","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1380,2300]},{"parameters":{"operation":"create","databaseId":107311,"tableId":289299,"fieldsUi":{"fieldValues":[{"fieldId":2069456,"fieldValue":"={{ $('Novo Carrinho').item.json._id }}"},{"fieldId":2069458,"fieldValue":"={{ $json.cart.split(\"|\")[0] }}"},{"fieldId":2069843,"fieldValue":"={{ $json.cart.split(\"|\")[1] }}"},{"fieldId":2069845,"fieldValue":"={{ $json.cart.split(\"|\")[2].replaceAll(\"R$\",\"\") }}"}]}},"id":"16b0a3d4-d05c-4606-b1cf-b1cb26afd781","name":"Put Order Itens","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2080,2380],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.Rotulo }}, {{ $json.Ano }}, {{ $json.Preço }}","type":"string"}]},"options":{}},"id":"60eb6d4f-ea90-4af2-a9aa-fdf938a24ee3","name":"Output Wines","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2320,1700]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"c501783b-dc46-4a3a-b1b3-8213c9a4bfa2","name":"Output Save User","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2320,2100]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"13ff2af0-2b5a-4720-a4d4-98f65eaccf70","name":"Output Put Order","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2320,2280]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"dfad15c0-15fd-4f25-8ae2-741a2077bdd2","name":"Output Payment Link","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2320,2560]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"953a887b-acb7-4efe-bb6d-2efbfcb55fa0","name":"Output Order Items","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2320,2740]},{"parameters":{"databaseId":107311,"tableId":298215,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2138074,"value":"={{ $('Webhook').item.json.body.phone }}"}]}}},"id":"8d34256e-52c4-4ae0-81c5-83452a536ada","name":"Get Open Orders","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[920,2740],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $json.body.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"asst_tKB3auuy3wguoNimGbGnOtwd"}]},"options":{}},"id":"d94fb75b-8326-4143-bf5f-79c8a972dbe8","name":"Run Assistant","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1260,2580],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"databaseId":107311,"tableId":288182,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2061130,"value":"={{ $('Webhook').item.json.body.phone }}"}]}}},"id":"7c3844cc-29ba-438b-8456-d339eddfc2a7","name":"GetUser","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-4740,2500],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $json.body.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"asst_J2K6YPI2ZOexKD5llbK7pA5o"}]},"options":{}},"id":"f81cb5b0-c868-481f-b0cf-d8ccf35c5b38","name":"Run Assistant Admin","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1260,2380],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"queued","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"queued"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8f298867-9fe7-4564-8887-4d8e30d93d33","leftValue":"={{ $json.status }}","rightValue":"in_progress","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"in_progress"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6932f1b4-d0b7-454d-b05e-7f97b04108f6","leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5f3617b1-9b0d-44dd-89ef-d3f6c9ac718a","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a129efd7-a390-4c58-92a0-84d7b3f35357","leftValue":"={{ $json.status }}","rightValue":"expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expired"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c298d202-dc51-453b-8a14-cd082454a9b0","leftValue":"={{ $json.status }}","rightValue":"requires_action","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"requires_action"}]},"options":{}},"id":"9c6adb14-7912-40a0-b532-347abcb6e36c","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-680,2460]},{"parameters":{"databaseId":107311,"tableId":298215,"returnAll":true,"additionalOptions":{}},"id":"a7ac1e80-9c90-4f74-924c-430c09998694","name":"Get ALL Orders","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[920,2920],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n   \"data\":{\n      \"cliente\":\"{{ $json.cliente }}\",\n      \"pedido\":\"{{ $json._id.toString().padStart(6,'0') }}\",\n      \"total\":\"{{ Number($json.total).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}\",\n      \"status\":\"{{ $json.pago === false ? \"Aguardando Pagamento\" : \"Pago\" }}\"\n   }\n}","options":{}},"id":"0dc845be-f91a-45ee-9026-c83aaf5b29db","name":"Output All Orders","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2320,2920]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ff069968-d0ba-4f5d-b7c0-53ca9ad94547","leftValue":"={{ $('Webhook').item.json.body.phone }}","rightValue":"+5521974894586","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"a3a0dea2-cfb8-4791-856a-64ba868c7e75","name":"Is Admin","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1600,2480]},{"parameters":{"assignments":{"assignments":[{"id":"bb3f3d77-4403-43cf-b608-b75b862279df","name":"concatenated_data","value":"={{ $json.concatenated_data }}","type":"string"},{"id":"d836485e-a99c-40b9-ac2e-dcc533667e3c","name":"tool_output_id","value":"={{ $('Escolhe a tool').item.json.properties.id }}","type":"string"}]},"options":{}},"id":"081c0c5a-44ce-457b-aa42-1182d3a061a7","name":"Tools Output ID","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3400,1900]},{"parameters":{"jsCode":"var args = JSON.parse($('Escolhe a tool').item.json.properties.function.arguments);\nvar newCart = {};\n\nnewCart.whatsapp = $('GetUser').item.json.whatsapp;\nnewCart.threadId = $('Get Run Status').item.json.thread_id;\nnewCart.cliente = $('GetUser').item.json.nome;\nnewCart.total = args.total;\n\nreturn newCart;"},"id":"5329043d-2a15-4de3-9ee4-0dc4979365c8","name":"Prepare Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[920,2300]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.properties.function.name }}","rightValue":"get_wines","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_wines"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"bca3495b-7a44-4afd-a12b-e2c197475d3a","leftValue":"={{ $json.properties.function.name }}","rightValue":"get_user_data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"07bec39e-df8d-443c-bd07-4df3cc4f62ff","leftValue":"={{ $json.properties.function.name }}","rightValue":"save_user_data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"save_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5c19fda5-47b4-4ce9-a790-277848d4053d","leftValue":"={{ $json.properties.function.name }}","rightValue":"put_order","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"put_order"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"faa66bf7-b1e4-47a7-8683-8ae6ac9ddd1d","leftValue":"={{ $json.properties.function.name }}","rightValue":"get_payment_link","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_payment_link"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"17a1ab55-7e4d-4ee9-af1f-a112ec868ac7","leftValue":"={{ $json.properties.function.name }}","rightValue":"get_order_items","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_order_items"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"670b8afc-3100-4cb7-a77f-98e90ec96615","leftValue":"={{ $json.properties.function.name }}","rightValue":"get_orders","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_orders"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"75a07c97-b8a1-403e-8b21-a67db5053188","leftValue":"={{ $json.properties.function.name }}","rightValue":"notify_user_payment","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"notify_user_payment"}]},"options":{}},"id":"5c9ad9d6-fcad-4f24-9779-c3fae2707442","name":"Escolhe a tool","type":"n8n-nodes-base.switch","typeVersion":3,"position":[360,1840]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"e3e5a2a6-08e8-4b91-915e-b918b84e5121","name":"Output Get User","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2320,1900]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"51b75db5-f73a-4c43-b9df-eb3ce10c894e","name":"Output Notify User","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2320,3120]},{"parameters":{"databaseId":107311,"tableId":298215,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2138073,"value":"={{ Number($json.properties.function.arguments.parseJson().cart_id) }}"}]}}},"id":"5e158bc5-0b4e-4af4-bdc2-6e7ab61fddf7","name":"Get User Cart","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[920,3120],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://chatbot.smart.botatende.com/api/integrations/send-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ASUXZjJDMNxSjaFOWcsyNnhos7fC4ONLak5g0FsblcYojmym3KqNwogBsJqduFio"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.texto }}"},{"name":"phone","value":"={{ $json.whatsapp }}"}]},"options":{}},"id":"b3d7cbc0-3604-4083-b3fb-78c114bab28c","name":"Envia Notificação","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1380,3120]},{"parameters":{"jsCode":"return{\n  \"whatsapp\": $input.first().json.whatsapp,\n  \"texto\": \"Olá \" + $input.first().json.cliente.split(' ')[0] + \", tudo bem!\\n\\nEstou passando aqui para falar sobre o seu pedido Nº \" + $input.first().json.id.toString().padStart(6,'0') + \" no valor de \" +  Number($input.first().json.total).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) + \" pois ele encontra-se ainda aguardando pagamento.\\n\\nCaso tenha alguma dúvida, não deixe de entrar em contato conosco por aqui mesmo, ok? Estamos aguardando ansiosamente para prosseguir com o seu pedido!\\n\\nAte mais! \"\n}"},"id":"58a1065e-23c4-4c0c-9531-36b15e0bc397","name":"Formatar Notificação","type":"n8n-nodes-base.code","typeVersion":2,"position":[1140,3120]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"2ba68abb-c322-4523-a7c0-fd86daa7c5ed","leftValue":"={{ $('Webhook').item.json.body.isGroup}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"56fab672-3c35-4d79-827a-99009035a733","name":"Mensagem Grupo","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5240,1500]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ec2909cf-6a08-4233-8071-71a4889f8cc4","leftValue":"={{ $('Webhook').item.json.body.text.message }}","rightValue":"#","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"id":"7f2dd0c2-25b7-4d7c-b22d-29cf870b696e","name":"Palavra Chave","type":"n8n-nodes-base.if","typeVersion":2,"position":[-6500,2060]},{"parameters":{"databaseId":106050,"tableId":299209,"additionalOptions":{"filters":{"fields":[{"field":2145852,"value":"1"}]}}},"id":"7abf8bd6-2faa-471d-9d44-9201cdfeded0","name":"Busca Palavras Chaves","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-5700,1680],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{},"id":"c3babc5a-bb99-4043-b6ae-0524012e1414","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5240,1880]},{"parameters":{"options":{}},"id":"eaef2105-cc73-4fb4-b44e-8912494dc9be","name":"Palavra Válida","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5500,1680]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $json.phone }}"},{"name":"message","value":"={{ $json.message }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"61862f3e-df30-483b-81a5-240fa7c23e73","name":"Chama no Privado","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4740,1360]},{"parameters":{"jsCode":"return {\n  \"phone\": $('Webhook').item.json.body.participantPhone,\n  \"message\": \"Olá \" + $('Webhook').item.json.body.senderName + \", eu sou o assistente que estará dando prosseguimento ao atendimento!\\nAbri essa conversa em particular para que eu possa lhe mostrar os vinhos disponíveis da campanha .\\n\\nCaso queira, você pode enviar uma mensagem de áudio ou imagem de um rótulo de vinho que irei checar se está em nossa lista. OK?\\n\\nPara começar, deixa eu trazer pra você aqui a nossa lista de vinhos. Um instante...\"\n}"},"id":"636a50d7-29a9-4aa5-bc82-ef275c5d16f9","name":"Mensagem Privada","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4980,1360]},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"id":"4f7a2c88-3320-4eda-b881-bee2942806a9","name":"OpenAI Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-2940,2120],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"resource":"image","operation":"analyze","text":"Você receberá a foto de um rótulo de vinho. Responda apenas com o nome do vinho, uva e safra (se possível). NUNCA USE ASPAS","imageUrls":"={{ $('Webhook').item.json.body.image.imageUrl }}","options":{}},"id":"ad3a1fbc-6e20-4b41-b33f-f4f5e5bf1024","name":"OpenAI Image","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-2940,2320],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.audio }}","rightValue":"ogg","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ba43770e-6e61-4e53-850c-16fa2bd7ddda","leftValue":"={{ $('Webhook').item.json.body.image }}","rightValue":"jpg","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4b1b0c87-c0f7-43d4-8e3a-ae5070952879","leftValue":"={{ $('Webhook').item.json.body.text }}","rightValue":"txt","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"id":"f3a5ebf7-af0f-4653-8532-5d3acbad89ae","name":"Tipo Mensagem","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-3240,2480]},{"parameters":{},"id":"1d93ee6f-5d08-4b9b-b0e5-f8bf60d8c0f8","name":"No Operation","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4740,1820]},{"parameters":{"jsCode":"return {\n  \"phone\": $('Webhook').item.json.body.phone,\n  \"message\": \"O menu abaixo apresenta uma lista de opções para o e-commerce WinePOC.\\n\\nSelecione uma das opções:\",\n  \"optionList\": {\n    \"title\": \"Opções disponíveis\",\n    \"buttonLabel\": \"Abrir lista de opções\",\n    \"options\": [\n      {\n        \"id\": \"1\",\n        \"title\": \"Cadastrar Vinhos\",\n        \"description\": \"Cadastre um vinho, preço e estoque\"\n      },\n      {\n        \"id\": \"2\",\n        \"title\": \"Cadastrar Campanha\",\n        \"description\": \"Cadastra e dispara uma nova campanha\"\n      },\n      {\n        \"id\": \"3\",\n        \"title\": \"Listar Vendas\",        \n        \"description\": \"Lista todos os pedidos realizados\"\n      }\n    ]\n  }\n}"},"id":"1f09f8d2-5470-4e6a-b329-076d37dbc489","name":"Menu WinePOC","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4740,1600]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-option-list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $json.phone }}"},{"name":"message","value":"={{ $json.message }}"},{"name":"optionList","value":"={{ $json.optionList }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"a42fe7db-7a22-4619-9e35-ff94384a98f0","name":"Envia Menu","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4500,1600]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.text.message }}","rightValue":"#menu","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"menu"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"75ce9f3c-9078-48d6-be00-0c6347c31392","leftValue":"={{ $('Webhook').item.json.body.text.message }}","rightValue":"#info","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"info"}]},"options":{"fallbackOutput":"extra"}},"id":"bd0395e2-e2fb-49d2-af15-57b7a1a9330a","name":"Verifica Comando","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-4980,1700]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e9e3dbe9-87a5-4fd4-b3c8-27d34b73e5a0","leftValue":"={{ $json.body.event_type }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"8165f795-db3d-4d15-b87a-1f3a6db508b6","name":"Baserow Event","type":"n8n-nodes-base.if","typeVersion":2,"position":[-6800,1840]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"08e13a21-254c-4614-b66a-edba30254e94","leftValue":"={{ $json.body.event_type }}","rightValue":"rows.created","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"ba9c644a-fbfa-42b3-8712-e1ba36d7d7e5","name":"Criação de Campanha","type":"n8n-nodes-base.if","typeVersion":2,"position":[-6500,1600]},{"parameters":{},"id":"0ea977fa-fb66-4b30-9ec5-0b5854f476e0","name":"Stop","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-6220,1700]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"735719de-88d2-4136-aac4-199e56430dcb","leftValue":"={{ $('Webhook').item.json.body.listResponseMessage}}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"930349e8-fc0b-4001-b890-e9cf226d4dbf","name":"É Escolha de Menu","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5700,2480]},{"parameters":{"jsCode":"return {\n  \"phone\": $('Webhook').item.json.body.phone,\n  \"message\": \"Para cadastrar uma nova campanha, utilize o formulário abaixo:\\n\\nhttps://baserow.io/form/4Hn77tcLdW6t8lwFRWEo8xgtCf_PZSsCOAtf7FBF0CU\"\n}"},"id":"cf63cf1b-9b12-488e-b794-289b24a613d5","name":"Cadastrar Campanha","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4980,2040]},{"parameters":{"jsCode":"var lista = $('Webhook').first().json.body.items[0].Vinhos;\nvar titulo = $('Webhook').first().json.body.items[0].Titulo;\nvar descricao = $('Webhook').first().json.body.items[0].Descrição;\n\nvar mensagem = \"\\n*\" + titulo + \"*\\n\\n\" + descricao + \"\\n\";\nfor (let prod of lista) {\n  if(prod != 'undefined'){\n    mensagem += \"\\n\" + prod.value;    \n  }\n}\nmensagem += \"\\n\\nPara saber mais digite *#euquero* e iremos lhe atenteder!\";\n\nreturn {\n  \"phone\": \"120363295629232541-group\",\n  \"message\": mensagem,\n  \"image\": \"https://revistaadega.uol.com.br/media/evolucao_do_vinho_tinto.jpeg\",\n  \"linkUrl\": \"https://meusvinhos.com.br\",\n  \"title\": titulo,\n  \"linkDescription\": \"Campanha de Vinhos pelo Whatsapp\"\n};"},"id":"7d19252a-e546-41b3-8a05-3f501d61d220","name":"Dispara Campanha","type":"n8n-nodes-base.code","typeVersion":2,"position":[-6220,1500]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-image","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString() }}","options":{"redirect":{"redirect":{}}}},"id":"2fc8e281-64e2-4427-886b-36b51c82bf35","name":"Envia Campanha","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6000,1500]},{"parameters":{"method":"POST","url":"https://hom-n8n.ctel.living-consultoria.com.br/webhook/winepoc-v2-zapi","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toJsonString()}}","options":{"redirect":{"redirect":{}}}},"id":"7532193f-7e74-456f-b5b5-8a26031b33ea","name":"Invoca o Assistente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4280,1360]},{"parameters":{"jsCode":"return {\n   \"isGroup\": false,\n   \"phone\": $('Webhook').item.json.body.participantPhone,\n   \"fromMe\":false,\n   \"senderName\": $('Webhook').item.json.body.senderName,\n   \"participantPhone\":$('Webhook').item.json.body.participantPhone,\n   \"text\":{\n      \"message\": \"me mostre a lista de vinhos\"\n   }\n}"},"id":"f353251a-e5af-4c31-affb-04b579366420","name":"Chama N8N","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4500,1360]},{"parameters":{"jsCode":"var vinhos = $('Get Wines').first().json.Vinhos;\nvar precos = $('Get Wines').first().json.Preço;\nvar anos = $('Get Wines').first().json.Anos;\n\nvar rows = [];\nfor (const item of vinhos) {\n  var r = {};\n  r.Rotulo = item.value;\n\n  let a = anos.find(x => x.id === item.id);\n  r.Ano = a.value;\n  \n  let p = precos.find(x => x.id === item.id);\n  r.Preço = p.value;\n  rows.push(r);\n}\n\nreturn rows;"},"id":"1fa71079-0371-4791-8f2a-da0fe237fca5","name":"Formatar Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1140,1700]},{"parameters":{"databaseId":107311,"tableId":298853,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2142782,"operator":"date_after","value":"={{ $now }}"}]}}},"id":"4f51d601-fb79-474d-8ba9-7d9b8b6a032f","name":"Get Wines","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[920,1700],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Webhook').item.json.body.phone }}"},{"name":"message","value":"..."}]},"options":{"redirect":{"redirect":{}}}},"id":"971ea53c-33d9-4c97-bb5c-9d9a6d7d85b1","name":"Envia os ...","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5240,2500]},{"parameters":{"jsCode":"return {\n  \"phone\": $('Webhook').item.json.body.phone,\n  \"message\": \"Para verificar as suas vendas, utilize o formulário abaixo:\\n\\nhttps://baserow.io/public/gallery/0P0pdHQfWvwMBm_Py1eElNoU8ew5o84TWN-6Hquw4us\"\n}"},"id":"c18ec99f-033f-471f-888f-32c55cb8924f","name":"Listar Vendas","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4980,2200]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $json.phone }}"},{"name":"message","value":"={{ $json.message }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"4ca93fbe-2b8b-427f-8772-ef65ba8637c7","name":"Link Formulário","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4740,2200]},{"parameters":{"httpMethod":"POST","path":"winepoc-v2-zapi","options":{"allowedOrigins":"*"}},"id":"99b3ca00-aa1b-4c13-b6ca-ef7c6ff3abae","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-7060,1840],"webhookId":"cf2313dc-df2c-495d-b070-119023ea953f"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.listResponseMessage.title}}","rightValue":"Cadastrar Campanha","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cadastrar Campanha"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"95514aca-1880-44fa-892e-2ec3d54e86e0","leftValue":"={{ $('Webhook').item.json.body.listResponseMessage.title}}","rightValue":"Listar Vendas","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Listar Vendas"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"55204e22-8a70-4848-8a72-e8650f69ef65","leftValue":"={{ $('Webhook').item.json.body.listResponseMessage.title}}","rightValue":"Cadastrar Vinhos","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cadastrar Vinhos"}]},"options":{}},"id":"69f1d691-07b0-4b9b-abc7-357491f90897","name":"Menu","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-5240,2200]},{"parameters":{"jsCode":"return {\n  \"phone\": $('Webhook').item.json.body.phone,\n  \"message\": \"Para cadastrar um novo vinho, utilize o formulário abaixo:\\n\\nhttps://baserow.io/form/tFXz8-ZWJw-Fp-T7Y1hJ8WSi1SZeratGpkOF3n2gxHA\"\n}"},"id":"df6864ab-15d0-4693-a1b0-bda19afd756c","name":"Cadastrar Vinhos","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4980,2360]}],"connections":{"If":{"main":[[{"node":"Merge User","type":"main","index":0}],[{"node":"CreateUser","type":"main","index":0}]]},"Criar Thread":{"main":[[{"node":"Update User","type":"main","index":0}]]},"CreateUser":{"main":[[{"node":"Merge User","type":"main","index":1}]]},"Merge User":{"main":[[{"node":"Possui Thread","type":"main","index":0}]]},"Possui Thread":{"main":[[{"node":"Tipo Mensagem","type":"main","index":0}],[{"node":"Criar Thread","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Get Run Status":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Captura Tool Calls":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Prepare tools output","type":"main","index":0}],[{"node":"Escolhe a tool","type":"main","index":0}]]},"Criar Mensagem":{"main":[[{"node":"Is Admin","type":"main","index":0}],[{"node":"List Runs","type":"main","index":0}]]},"Cancel Run":{"main":[[{"node":"Criar Mensagem","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Get Resposta":{"main":[[{"node":"Envia Whatsapp","type":"main","index":0}]]},"Get User":{"main":[[{"node":"Output Get User","type":"main","index":0}]]},"Summarize Action":{"main":[[{"node":"Tools Output ID","type":"main","index":0}]]},"Save User":{"main":[[{"node":"Output Save User","type":"main","index":0}]]},"Link de Pagamento":{"main":[[{"node":"Output Payment Link","type":"main","index":0}]]},"Prepare tools output":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Loop Over Cart Items":{"main":[[{"node":"Output Put Order","type":"main","index":0}],[{"node":"Put Order Itens","type":"main","index":0}]]},"Update User":{"main":[[{"node":"Merge User","type":"main","index":1}]]},"Output Texto":{"main":[[{"node":"Agrega Mensagens","type":"main","index":0}]]},"Agrega Mensagens":{"main":[[{"node":"Criar Mensagem","type":"main","index":0}]]},"Output Image":{"main":[[{"node":"Agrega Mensagens","type":"main","index":0}]]},"Output Audio":{"main":[[{"node":"Agrega Mensagens","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"OpenAI Audio","type":"main","index":0}]]},"Get Order Items":{"main":[[{"node":"Output Order Items","type":"main","index":0}]]},"List Runs":{"main":[[{"node":"Filter InProgress","type":"main","index":0}]]},"Filter InProgress":{"main":[[{"node":"Cancel Run","type":"main","index":0}]]},"Novo Carrinho":{"main":[[{"node":"Input Put Order","type":"main","index":0}]]},"Split Cart Itens":{"main":[[{"node":"Loop Over Cart Items","type":"main","index":0}]]},"Input Put Order":{"main":[[{"node":"Split Cart Itens","type":"main","index":0}]]},"Put Order Itens":{"main":[[{"node":"Loop Over Cart Items","type":"main","index":0}]]},"Output Wines":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Output Save User":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Output Put Order":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Output Payment Link":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Output Order Items":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Get Open Orders":{"main":[[{"node":"Get Order Items","type":"main","index":0}]]},"Run Assistant":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"GetUser":{"main":[[{"node":"If","type":"main","index":0}]]},"Run Assistant Admin":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}],[],[{"node":"Get Resposta","type":"main","index":0}],[],[{"node":"Captura Tool Calls","type":"main","index":0}]]},"Get ALL Orders":{"main":[[{"node":"Output All Orders","type":"main","index":0}]]},"Output All Orders":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Is Admin":{"main":[[{"node":"Run Assistant Admin","type":"main","index":0}],[{"node":"Run Assistant","type":"main","index":0}]]},"Tools Output ID":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Prepare Data":{"main":[[{"node":"Novo Carrinho","type":"main","index":0}]]},"Escolhe a tool":{"main":[[{"node":"Get Wines","type":"main","index":0}],[{"node":"Get User","type":"main","index":0}],[{"node":"Save User","type":"main","index":0}],[{"node":"Prepare Data","type":"main","index":0}],[{"node":"Link de Pagamento","type":"main","index":0}],[{"node":"Get Open Orders","type":"main","index":0}],[{"node":"Get ALL Orders","type":"main","index":0}],[{"node":"Get User Cart","type":"main","index":0}]]},"Output Get User":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Output Notify User":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Get User Cart":{"main":[[{"node":"Formatar Notificação","type":"main","index":0}]]},"Envia Notificação":{"main":[[{"node":"Output Notify User","type":"main","index":0}]]},"Formatar Notificação":{"main":[[{"node":"Envia Notificação","type":"main","index":0}]]},"Mensagem Grupo":{"main":[[{"node":"Mensagem Privada","type":"main","index":0}],[{"node":"Verifica Comando","type":"main","index":0}]]},"Palavra Chave":{"main":[[{"node":"Busca Palavras Chaves","type":"main","index":0}],[{"node":"É Escolha de Menu","type":"main","index":0}]]},"Busca Palavras Chaves":{"main":[[{"node":"Palavra Válida","type":"main","index":0}]]},"Palavra Válida":{"main":[[{"node":"Mensagem Grupo","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Mensagem Privada":{"main":[[{"node":"Chama no Privado","type":"main","index":0}]]},"OpenAI Audio":{"main":[[{"node":"Output Audio","type":"main","index":0}]]},"OpenAI Image":{"main":[[{"node":"Output Image","type":"main","index":0}]]},"Tipo Mensagem":{"main":[[{"node":"Download Audio","type":"main","index":0}],[{"node":"OpenAI Image","type":"main","index":0}],[{"node":"Output Texto","type":"main","index":0}]]},"Menu WinePOC":{"main":[[{"node":"Envia Menu","type":"main","index":0}]]},"Verifica Comando":{"main":[[{"node":"Menu WinePOC","type":"main","index":0}],[{"node":"No Operation","type":"main","index":0}],[{"node":"No Operation","type":"main","index":0}]]},"Baserow Event":{"main":[[{"node":"Criação de Campanha","type":"main","index":0}],[{"node":"Palavra Chave","type":"main","index":0}]]},"Criação de Campanha":{"main":[[{"node":"Dispara Campanha","type":"main","index":0}],[{"node":"Stop","type":"main","index":0}]]},"É Escolha de Menu":{"main":[[{"node":"Menu","type":"main","index":0}],[{"node":"Envia os ...","type":"main","index":0}]]},"Cadastrar Campanha":{"main":[[{"node":"Link Formulário","type":"main","index":0}]]},"Dispara Campanha":{"main":[[{"node":"Envia Campanha","type":"main","index":0}]]},"Chama no Privado":{"main":[[{"node":"Chama N8N","type":"main","index":0}]]},"Chama N8N":{"main":[[{"node":"Invoca o Assistente","type":"main","index":0}]]},"Formatar Output":{"main":[[{"node":"Output Wines","type":"main","index":0}]]},"Get Wines":{"main":[[{"node":"Formatar Output","type":"main","index":0}]]},"Envia os ...":{"main":[[{"node":"GetUser","type":"main","index":0}]]},"Listar Vendas":{"main":[[{"node":"Link Formulário","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Baserow Event","type":"main","index":0}]]},"Menu":{"main":[[{"node":"Cadastrar Campanha","type":"main","index":0}],[{"node":"Listar Vendas","type":"main","index":0}],[{"node":"Cadastrar Vinhos","type":"main","index":0}]]},"Cadastrar Vinhos":{"main":[[{"node":"Link Formulário","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"caaacd13-c13c-45e8-8107-e568a540973f","triggerCount":1,"tags":[{"createdAt":"2024-05-08T13:09:05.414Z","updatedAt":"2024-05-08T13:09:05.414Z","id":"geOzNJLre1tq4Ts2","name":"dev"}]}