winepoc---2-0WZ1tjUoL4VkaCOq.json
{"createdAt":"2024-05-09T14:35:32.275Z","updatedAt":"2024-05-09T14:35:32.275Z","id":"0WZ1tjUoL4VkaCOq","name":"WinePOC - 2","active":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"85462951-b2ed-48cc-92bc-85acc872a1b4","leftValue":"={{ $json.whatsapp }}","rightValue":"={{ $('Webhook').item.json.body.phone }}","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"862d2bfd-a960-4093-b209-8680f8e15ff2","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[-4900,2500]},{"parameters":{"databaseId":107311,"tableId":288182,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2061130,"value":"={{ $json.body.phone }}"}]}}},"id":"a8ae5c0f-1d99-4a61-9d77-7105c41cb2c7","name":"GetUser","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-5140,2500],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":107311,"tableId":288182,"fieldsUi":{"fieldValues":[{"fieldId":2061130,"fieldValue":"={{ $('Webhook').item.json.body.phone }}"}]}},"id":"034444da-2135-4c6c-9746-54e0a1321581","name":"CreateUser","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-4660,2620],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"de0db784-98c9-4d09-962a-001c4a37cd9d","name":"Criar Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3840,2660],"alwaysOutputData":true,"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{},"id":"1f7cf053-a0d5-4da2-8af2-83ed89b0ffd1","name":"Merge User","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-4380,2500],"alwaysOutputData":true,"executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"968ee1b3-fb37-4e94-8282-d1875dce9811","leftValue":"={{ $json.thread_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"aa333657-f944-463a-8bf0-e83dd2ac1b7a","name":"Possui Thread","type":"n8n-nodes-base.if","typeVersion":2,"position":[-4020,2500],"alwaysOutputData":false},{"parameters":{"amount":2},"id":"9ac434a7-acf3-4ce5-b31a-296ff9e7819d","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1560,2280],"webhookId":"3e67e320-a726-4eac-8c26-9960729a5b90"},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $json.body.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"asst_WFAGWLqHBtmcQaMNQGOVJdmf"}]},"options":{}},"id":"f84205bd-53bb-4c0d-a828-360cb6c287e4","name":"Run Assistant","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2240,2480],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/runs/{{ $json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"27b8672e-b206-4328-9c11-2f3e6b665ae5","name":"Get Run Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2020,2480],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"12a5740e-ff1b-40d0-8e4d-ea9b20902d12","name":"tool_calls","value":"={{ $json.required_action.submit_tool_outputs.tool_calls }}","type":"array"}]},"options":{}},"id":"08a6b095-9d22-49b8-bb9b-66f677db3e53","name":"Captura Tool Calls","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1540,1920]},{"parameters":{"fieldToSplitOut":"tool_calls","include":"allOtherFields","options":{"destinationFieldName":"properties"}},"id":"cb1d4d39-3ba5-4d3f-963e-9659f9325db4","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1320,1920]},{"parameters":{"options":{}},"id":"6b339408-50e9-4a32-95c1-550ecd3cbdd5","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1100,1920]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.data[0].content[0].text.value }}"},{"name":"phone","value":"={{ $('Webhook').item.json.body.phone }}"}]},"options":{}},"id":"ad8df1ed-c439-4ab6-be31-f1fdce0eb99f","name":"Envia Whatsapp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1100,2480]},{"parameters":{"databaseId":107311,"tableId":288426,"returnAll":true,"additionalOptions":{}},"id":"d492af86-e855-4df5-bacd-446dd74cdc95","name":"Get Wines","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-300,1680],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"databaseId":107311,"tableId":288182,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2061130,"value":"={{ $('Webhook').item.json.body.phone }}"}]}}},"id":"57f3b92e-8261-4bb4-9cd1-2e4b763a1415","name":"Get User","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-300,1900],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":107311,"tableId":288182,"rowId":"={{ $('GetUser').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2061131,"fieldValue":"={{ $json.properties.function.arguments.parseJson().nome }}"},{"fieldId":2061133,"fieldValue":"={{ $json.properties.function.arguments.parseJson().endereco }}"}]}},"id":"d7640d35-3d8a-4283-aa3f-80c502f69241","name":"Save User","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-300,2100],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Tipo Mensagem').item.json.thread_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"assistant"},{"name":"content","value":"={{ $json.mensagem[0] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"199685a2-3bee-4f75-b3d2-bd0924b8d659","name":"Criar Mensagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2480,2500],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Possui Thread').item.json.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"cd89bf8f-b793-4798-b7e7-7e3d03c237e3","name":"List Runs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2580,2160],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Possui Thread').item.json.thread_id }}/runs/{{ $json.first_id }}/cancel","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"fff5dd53-5b13-4950-8498-dbf8732bc206","name":"Cancel Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2320,2160],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Run Assistant').item.json.thread_id }}/runs/{{ $('Run Assistant').item.json.id }}/submit_tool_outputs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"tool_outputs","value":"={{ $json.tool_outputs }}"}]},"options":{}},"id":"48f72419-a5e1-4ab9-b986-83a9a3f6d46b","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-300,1360],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"tool_outputs","options":{}},"id":"3adf84cb-01a5-4e58-98ef-bb7aee11a15a","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-520,1360]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/messages?order-desc","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"bbada852-37af-4b0d-b046-6d5e79a58789","name":"Get Resposta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1320,2480],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.Rotulo }}, {{ $json.Ano }}, {{ $json.Preço }}","type":"string"}]},"options":{}},"id":"97a1315d-381a-4baf-9ac8-ad9e429918ad","name":"Output Wines","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-80,1680]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{"outputFormat":"separateItems"}},"id":"23d3061e-a4f2-42f2-81e9-e6206c1dcdab","name":"Summarize Action","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[840,1900]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"0f0d980c-b86e-4d8d-b4f6-fa543ac3e0a8","name":"Output Get User","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-80,1900]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"67f6f016-ec2f-42a9-9cbf-6d589b1e6e88","name":"Output Save User","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-80,2100]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"286b646d-2724-4ac7-a457-2a94e2892dd3","name":"Output Put Order","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[540,2220]},{"parameters":{"jsCode":"return {\n  \"link\": \"https://www.userede.com.br/\",\n  \"pix\": \"00020126660014BR.GOV.BCB.PIX0111113593027940229obrigado pela doação no teste52040000530398654040.015802BR5924Victor Hugo Rabelo Neves6009SAO PAULO62140510ZUISFrvsME6304B76F\"\n}"},"id":"c4a5b3c8-8e27-44fe-8083-9ec3a5266aec","name":"Link de Pagamento","type":"n8n-nodes-base.code","typeVersion":2,"position":[-300,2500]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"4cd0a72d-05c6-4579-8b14-318377667c6b","name":"Output Payment Link","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-80,2500]},{"parameters":{"assignments":{"assignments":[{"id":"12adba31-058a-4496-ab9e-28513217a50a","name":"tool_call_id","value":"={{ $('Split Out').item.json.properties.id }}","type":"string"},{"id":"7b78e22a-8dff-4d5f-8123-4a9ef23d9fa9","name":"output","value":"={{ $json.concatenated_data }}","type":"string"}]},"options":{}},"id":"3794bee9-326a-400e-b10f-8dad6d699713","name":"Prepare tools output","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-740,1560]},{"parameters":{"fieldToSplitOut":"cart","options":{}},"id":"b1a735b1-1e74-42c9-b051-994c1fc12908","name":"Split Cart Itens","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-80,2300]},{"parameters":{"assignments":{"assignments":[{"id":"dc5b36f1-0d31-4bd4-8ac9-b089850811bf","name":"cart","value":"={{ $json.properties.function.arguments.parseJson().itens.split(\"\\n\") }}","type":"array"}]},"options":{}},"id":"042b8aae-fc95-4fc9-aa4d-40893bff096d","name":"Input Put Order","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-300,2300]},{"parameters":{"options":{"reset":false}},"id":"da7d5be2-40cc-45a6-9313-abcb4c5c6d20","name":"Loop Over Cart Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,2300]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.properties.function.name }}","rightValue":"get_wines","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_wines"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"bca3495b-7a44-4afd-a12b-e2c197475d3a","leftValue":"={{ $json.properties.function.name }}","rightValue":"get_user_data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"07bec39e-df8d-443c-bd07-4df3cc4f62ff","leftValue":"={{ $json.properties.function.name }}","rightValue":"save_user_data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"save_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5c19fda5-47b4-4ce9-a790-277848d4053d","leftValue":"={{ $json.properties.function.name }}","rightValue":"put_order","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"put_order"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"faa66bf7-b1e4-47a7-8683-8ae6ac9ddd1d","leftValue":"={{ $json.properties.function.name }}","rightValue":"get_payment_link","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_payment_link"}]},"options":{}},"id":"53d2f48d-ab02-4897-ba19-8decc27532c9","name":"Escolhe a tool","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-740,1920]},{"parameters":{"operation":"create","databaseId":107311,"tableId":289299,"fieldsUi":{"fieldValues":[{"fieldId":2069456,"fieldValue":"={{ $('GetUser').item.json.whatsapp }}"},{"fieldId":2069457,"fieldValue":"={{ $('Get Run Status').item.json.thread_id }}"},{"fieldId":2069458,"fieldValue":"={{ $json.cart.split(\"|\")[0] }}"},{"fieldId":2069843,"fieldValue":"={{ $json.cart.split(\"|\")[1] }}"},{"fieldId":2069845,"fieldValue":"={{ $json.cart.split(\"|\")[2].replaceAll(\"R$\",\"\") }}"}]}},"id":"1a8be998-22f0-4237-bbfe-27335425fa50","name":"Put Order","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[540,2420],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":107311,"tableId":288182,"rowId":"={{ $('Merge User').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2061134,"fieldValue":"={{ $json.id }}"}]}},"id":"0f91fe15-ff3f-4eee-a4c0-746f1365e816","name":"Update User","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-3660,2660],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"assignments":{"assignments":[{"id":"898e5ea5-32f5-4c15-b459-8f8883462693","name":"mensagem","value":"={{ $('Webhook').item.json.body.text.message }}","type":"string"}]},"options":{}},"id":"4524208b-7f4a-4658-aa51-136d9e7b06ff","name":"Output Texto","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3120,2500]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"mensagem"}]},"options":{}},"id":"49ec969c-ef0f-48d0-9624-607e84b86c0d","name":"Agrega Mensagens","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2820,2500]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"queued","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"queued"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8f298867-9fe7-4564-8887-4d8e30d93d33","leftValue":"={{ $json.status }}","rightValue":"in_progress","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"in_progress"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6932f1b4-d0b7-454d-b05e-7f97b04108f6","leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5f3617b1-9b0d-44dd-89ef-d3f6c9ac718a","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a129efd7-a390-4c58-92a0-84d7b3f35357","leftValue":"={{ $json.status }}","rightValue":"expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expired"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c298d202-dc51-453b-8a14-cd082454a9b0","leftValue":"={{ $json.status }}","rightValue":"requires_action","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"requires_action"}]},"options":{}},"id":"5406c4e7-2bb1-436d-99df-b4689c661468","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1780,2460]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ac6731f7-9845-4801-9944-348ce6cb4d9c","leftValue":"={{ $json.body.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"08c8260a-9dc2-493f-b0be-c30149d0a0f0","name":"Mensagem de Grupo","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5400,2500]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"0e886eba-afc9-4eb0-af8b-66b9a0f494f4","leftValue":"={{ $json.body.text.message }}","rightValue":"#euquero","operator":{"type":"string","operation":"contains"}},{"id":"61fcc707-4b30-44a6-8969-7c2019d0add6","leftValue":"={{ $json.body.text.message }}","rightValue":"eu quero","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"da1b9c0d-552e-422e-9b55-781bda0108b3","name":"Palavra Chave","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5140,2280]},{"parameters":{},"id":"fd87063d-b191-4f20-af3b-5625df3174a8","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4900,2280]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Webhook').item.json.body.participantPhone }}\",\n  \"message\": \"Olá {{ $('Webhook').item.json.body.senderName }}, eu sou o assistente que estará dando prosseguimento ao atendimento!\\nAbri essa conversa em particular para que eu possa lhe mostrar os vinhos disponíveis da campanha .\\n\\nCaso queira, você pode enviar uma mensagem de áudio ou imagem de um rótulo de vinho que irei checar se está em nossa lista. OK?\\n\\nPodemos começar?\"\n}","options":{}},"id":"db6d1af1-f12a-4d0b-84e5-4d3a4afb744d","name":"Chama no Particular","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4900,2080]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.audio }}","rightValue":"ogg","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ba43770e-6e61-4e53-850c-16fa2bd7ddda","leftValue":"={{ $('Webhook').item.json.body.image }}","rightValue":"jpg","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4b1b0c87-c0f7-43d4-8e3a-ae5070952879","leftValue":"={{ $('Webhook').item.json.body.text }}","rightValue":"txt","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"id":"24a4a293-5ab4-49d0-87c1-7a04452b5e2b","name":"Tipo Mensagem","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-3660,2480]},{"parameters":{"assignments":{"assignments":[{"id":"7e0cc371-a8f8-449f-a30f-f01debe0c959","name":"mensagem","value":"={{ $json.content }}","type":"string"}]},"options":{}},"id":"3352c622-a943-463d-bb56-f6a87aa45191","name":"Output Image","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3120,2320]},{"parameters":{"assignments":{"assignments":[{"id":"2add5799-4c12-47d6-aaf4-240c358db89c","name":"mensagem","value":"{{ $json.data }}","type":"string"}]},"options":{}},"id":"874d708a-d7b8-406d-ad80-3d300eebf3aa","name":"Output Audio","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3120,2120]},{"parameters":{"url":"={{ $('Webhook').item.json.body.audio.audioUrl }}","options":{}},"id":"b4db40bc-a39c-4d53-8cae-0a2b9a299cd5","name":"Download Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3560,2120]},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"id":"1cb5cf24-64be-41b5-b8bc-91ad41ccf8a5","name":"OpenAI Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-3380,2120],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"resource":"image","operation":"analyze","text":"Você receberá a foto de um rótulo de vinho. Responda apenas com o nome do vinho, uva e safra (se possível). NUNCA USE ASPAS","imageUrls":"={{ $('Webhook').item.json.body.image.imageUrl }}","options":{}},"id":"1a21f723-7790-40e2-948f-7fc474096f23","name":"OpenAI Image","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-3380,2320],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"winepoc-zapi","options":{"allowedOrigins":"*"}},"id":"8106591e-5947-4897-b15b-bf351e85f5aa","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5620,2500],"webhookId":"cb73fcfe-da82-4b69-a0a7-997e6b84d774"}],"connections":{"If":{"main":[[{"node":"Merge User","type":"main","index":0}],[{"node":"CreateUser","type":"main","index":0}]]},"GetUser":{"main":[[{"node":"If","type":"main","index":0}]]},"Criar Thread":{"main":[[{"node":"Update User","type":"main","index":0}]]},"CreateUser":{"main":[[{"node":"Merge User","type":"main","index":1}]]},"Merge User":{"main":[[{"node":"Possui Thread","type":"main","index":0}]]},"Possui Thread":{"main":[[{"node":"Tipo Mensagem","type":"main","index":0}],[{"node":"Criar Thread","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Run Assistant":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Get Run Status":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Captura Tool Calls":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Prepare tools output","type":"main","index":0}],[{"node":"Escolhe a tool","type":"main","index":0}]]},"Get Wines":{"main":[[{"node":"Output Wines","type":"main","index":0}]]},"Criar Mensagem":{"main":[[{"node":"Run Assistant","type":"main","index":0}],[{"node":"List Runs","type":"main","index":0}]]},"List Runs":{"main":[[{"node":"Cancel Run","type":"main","index":0}]]},"Cancel Run":{"main":[[{"node":"Criar Mensagem","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Get Resposta":{"main":[[{"node":"Envia Whatsapp","type":"main","index":0}]]},"Output Wines":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Get User":{"main":[[{"node":"Output Get User","type":"main","index":0}]]},"Summarize Action":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Output Get User":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Save User":{"main":[[{"node":"Output Save User","type":"main","index":0}]]},"Output Save User":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Link de Pagamento":{"main":[[{"node":"Output Payment Link","type":"main","index":0}]]},"Output Payment Link":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Prepare tools output":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Input Put Order":{"main":[[{"node":"Split Cart Itens","type":"main","index":0}]]},"Split Cart Itens":{"main":[[{"node":"Loop Over Cart Items","type":"main","index":0}]]},"Loop Over Cart Items":{"main":[[{"node":"Output Put Order","type":"main","index":0}],[{"node":"Put Order","type":"main","index":0}]]},"Escolhe a tool":{"main":[[{"node":"Get Wines","type":"main","index":0}],[{"node":"Get User","type":"main","index":0}],[{"node":"Save User","type":"main","index":0}],[{"node":"Input Put Order","type":"main","index":0}],[{"node":"Link de Pagamento","type":"main","index":0}]]},"Put Order":{"main":[[{"node":"Loop Over Cart Items","type":"main","index":0}]]},"Update User":{"main":[[{"node":"Merge User","type":"main","index":1}]]},"Output Put Order":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Output Texto":{"main":[[{"node":"Agrega Mensagens","type":"main","index":0}]]},"Agrega Mensagens":{"main":[[{"node":"Criar Mensagem","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}],[],[{"node":"Get Resposta","type":"main","index":0}],[],[{"node":"Captura Tool Calls","type":"main","index":0}]]},"Mensagem de Grupo":{"main":[[{"node":"Palavra Chave","type":"main","index":0}],[{"node":"GetUser","type":"main","index":0}]]},"Palavra Chave":{"main":[[{"node":"Chama no Particular","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Tipo Mensagem":{"main":[[{"node":"Download Audio","type":"main","index":0}],[{"node":"OpenAI Image","type":"main","index":0}],[{"node":"Output Texto","type":"main","index":0}]]},"Output Image":{"main":[[{"node":"Agrega Mensagens","type":"main","index":0}]]},"Output Audio":{"main":[[{"node":"Agrega Mensagens","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"OpenAI Audio","type":"main","index":0}]]},"OpenAI Audio":{"main":[[{"node":"Output Audio","type":"main","index":0}]]},"OpenAI Image":{"main":[[{"node":"Output Image","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Mensagem de Grupo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dcc6b022-33bb-42f3-b279-b3ed2962f135","triggerCount":1,"tags":[{"createdAt":"2024-05-08T13:09:05.414Z","updatedAt":"2024-05-08T13:09:05.414Z","id":"geOzNJLre1tq4Ts2","name":"dev"}]}