winepoc---chatbot-opções-z-api-QW3iNaLk6pTZ0ZCi.json
{"createdAt":"2024-05-07T14:11:53.265Z","updatedAt":"2024-05-19T15:17:51.000Z","id":"QW3iNaLk6pTZ0ZCi","name":"WinePOC - Chatbot Opções Z-API","active":true,"nodes":[{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-option-list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Merge Phone').first().json.phone }}"},{"name":"message","value":"Clique no botão abaixo para acessar nosso catálogo"},{"name":"optionList","value":"={{ $json.opcoes }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"c5084469-457a-40e3-9cb1-568d17874fee","name":"Enviar Catalogo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4920,1380]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"256fe6e0-764b-4254-9108-5a22d9405140","leftValue":"={{ $('Webhook').item.json.body.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"9b5eb032-00d4-41aa-b66e-6a120647a41f","name":"Mensagem Grupo","type":"n8n-nodes-base.if","typeVersion":2,"position":[-7680,1300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ec182eca-09e3-4605-9b12-f6d8b40e2db5","leftValue":"={{ $('Webhook').item.json.body.msg }}","rightValue":"#euquero","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e93a3d74-5678-47c7-9205-b35fb630f997","leftValue":"={{ $('Webhook').item.json.body.msg }}","rightValue":"eu quero","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"3defc707-2ba8-4313-8f86-e82f326d787d","name":"Palavra Chave","type":"n8n-nodes-base.if","typeVersion":2,"position":[-7460,1140]},{"parameters":{"databaseId":107311,"tableId":288182,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2061130,"value":"={{ $json.body.participantPhone }}"}]}}},"id":"afbd4ef5-746e-4642-8791-575e84093586","name":"GetUser","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-7180,900],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"databaseId":107311,"tableId":295819,"returnAll":true,"additionalOptions":{}},"id":"5e11a9e1-45a2-4115-97b1-692a599c4944","name":"GetCatalogo","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-5280,1380],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Webhook').item.json.body.participantPhone }}\",\n  \"message\": \"Olá {{ $('Webhook').item.json.body.senderName }}, eu sou o assistente que estará dando prosseguimento ao atendimento!\\nAbri essa conversa em particular para que eu possa lhe mostrar os vinhos disponíveis da campanha .\\n\\nCaso queira, você pode enviar uma mensagem de áudio ou imagem de um rótulo de vinho que irei checar se está em nossa lista. OK?\\n\\nPodemos começar?\"\n}","options":{"redirect":{"redirect":{}}}},"id":"25c327ac-c91f-449a-bef8-79458856e1bb","name":"Chama no Particular","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6500,880]},{"parameters":{"httpMethod":"POST","path":"winepoc","options":{"allowedOrigins":"*","rawBody":true}},"id":"30c326da-cfc4-4a36-850d-f4e3281463b7","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-7900,1300],"webhookId":"bf9f84f2-0592-4abd-aeca-9d61e9f2c64d"},{"parameters":{},"id":"e4774591-61ff-45e1-92ae-7da729d5e259","name":"Mensagem do Grupo sem palavra chave","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-7180,1260]},{"parameters":{"amount":1},"id":"67946321-2855-4a9b-a4de-2bd6fba99d50","name":"1s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-6260,880],"webhookId":"90b6be02-8207-4d63-96f3-cbac846efecf"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"85462951-b2ed-48cc-92bc-85acc872a1b4","leftValue":"={{ $('Webhook').item.json.body.listResponseMessage }}","rightValue":"={{ $('Webhook').item.json.body.phone }}","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"0d4e696a-6f34-482e-babe-65080bd3427a","name":"Verifica se é opção selecionada","type":"n8n-nodes-base.if","typeVersion":2,"position":[-7460,1800]},{"parameters":{"jsCode":"var catalog = [];\nfor (const item of $('GetCatalogo').all()) {\n  var wine = {};\n  wine.id = Number(item.json.order);\n  wine.title = item.json.Rotulo;\n  wine.description = \"Ano \" + item.json.Ano + \" - Preço: R$\" + item.json.Preco.replaceAll('.', ',');\n  catalog.push(wine);\n}\n\nreturn {\n  \"opcoes\": {\n    \"title\": \"Produtos disponíveis\",\n    \"buttonLabel\": \"Visualizar catálogo\",\n    \"options\": catalog\n  }\n}\n"},"id":"c28819fe-c322-4bbc-9b29-d03fc8de0630","name":"ListaCatalogo","type":"n8n-nodes-base.code","typeVersion":2,"position":[-5100,1380]},{"parameters":{"jsCode":"var price = $('Adiciona ao Carrinho').first().json.cart_price;\nvar catalog = [];\n\nfor (let index = 1; index < 11; index++) {\n  var wine = {};\n  wine.id = index;\n  wine.title = index + \" garrafa(s)\";\n  wine.description = \"Subtotal \" + (price * index).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });\n  catalog.push(wine);  \n}\n\nreturn {\n  \"opcoes\": {\n    \"title\": \"Selecionando a quantidade\",\n    \"buttonLabel\": \"Informe a quantidade\",\n    \"options\": catalog\n  }\n}\n"},"id":"22237a49-6225-4f44-8554-2979e3b17917","name":"ListaQuantidade","type":"n8n-nodes-base.code","typeVersion":2,"position":[-6500,1300]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-option-list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"5521974894586"},{"name":"message","value":"=Ótimo! Agora vamos escolher a quantidade desejada para o *{{ $('Adiciona ao Carrinho').item.json.cart_item }}* "},{"name":"optionList","value":"={{ $json.opcoes }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"54258b46-fe49-472f-ad8c-bef2407c543a","name":"Pergunta Quantidade","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6300,1300]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-option-list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"5521974894586"},{"name":"message","value":"=Desculpe, não entendi. No momento, preciso que você siga o caminho selecionando as informações conforme mostrado na tela. Ainda não estou preparado para responder perguntas fora dos menus apresentados."},{"name":"optionList","value":"={{ $json.opcoes }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"3f4f80c1-fc17-494b-a736-106c941ebcd1","name":"Mensagem fora do Menu","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6700,3020]},{"parameters":{"operation":"create","databaseId":107311,"tableId":289299,"fieldsUi":{"fieldValues":[{"fieldId":2069456,"fieldValue":"={{ $('Webhook').item.json.body.phone }}"},{"fieldId":2069457,"fieldValue":"={{ $('Webhook').item.json.body.referenceMessageId }}"},{"fieldId":2069458,"fieldValue":"={{ $('Webhook').item.json.body.listResponseMessage.title }}"},{"fieldId":2069843,"fieldValue":"0"},{"fieldId":2069845,"fieldValue":"={{ $('Webhook').item.json.body.listResponseMessage.message.split('$')[1].replaceAll(',','.') }}"}]}},"id":"fd43bcf0-e897-4369-a838-d67dcb2ddc49","name":"Adiciona ao Carrinho","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-6700,1300],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-option-list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Webhook').item.json.body.phone }}"},{"name":"message","value":"=Deseja adicionar mais algum item em seu carrinho?"},{"name":"optionList","value":"={{ $json.opcoes }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"44b9adab-6d78-47db-af5f-cf6519601317","name":"Pergunta se quer outro produto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6060,1500]},{"parameters":{"databaseId":107311,"tableId":289299,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2069456,"value":"={{ $('Webhook').item.json.body.phone }}"},{"field":2069843,"value":"0"}]}}},"id":"c109b1be-a3dc-4a2d-bc78-c01e1542b720","name":"Pega Item Carrinho","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-6700,1500],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":107311,"tableId":289299,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2069843,"fieldValue":"={{ $('Tipo Opcao Selecionada').item.json.body.listResponseMessage.title.split(' ')[0] }}"}]}},"id":"d420ce8a-0b26-44cc-8f95-642af8cace4c","name":"Atualiza Carrinho","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-6500,1500],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"assignments":{"assignments":[{"id":"3b6a993f-c2d9-4cd0-9a13-0b186c5c551d","name":"phone","value":"={{ $('Webhook').item.json.body.participantPhone }}","type":"string"}]},"options":{}},"id":"f5cfad5c-46af-4d6b-a8a1-5b2ff0c60e58","name":"Participant Phone","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-5680,1200]},{"parameters":{"assignments":{"assignments":[{"id":"3b6a993f-c2d9-4cd0-9a13-0b186c5c551d","name":"phone","value":"={{ $('Webhook').item.json.body.phone }}","type":"string"}]},"options":{}},"id":"0f860d83-8814-45c0-9cc5-fc1a5dfc56d6","name":"Contact Phone","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-5680,1620]},{"parameters":{"jsCode":"return {\n  \"opcoes\": {\n    \"title\": \"O que deseja fazer?\",\n    \"buttonLabel\": \"Opções\",\n    \"options\": [\n      {\n        \"id\": 0,\n        \"title\": \"Claro! Quero mais!\",\n        \"description\": \"Abrir catálogo para escolher mais itens\"\n      },\n      {\n        \"id\": 1,\n        \"title\": \"Tudo pronto! Ir pra o checkout\",\n        \"description\": \"Mostrar o carrinho e finalizar a compra\"\n      }\n    ]\n  }\n}\n"},"id":"a12e1b3f-bc7d-4104-bdd6-240f938782f4","name":"Menu Adicionar Ou Fechar","type":"n8n-nodes-base.code","typeVersion":2,"position":[-6300,1500]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Webhook').item.json.body.phone }}\",\n  \"message\": \"Maravilha!\\n\\nUm instante enquanto busco o catálogo novamente...\"\n}","options":{"redirect":{"redirect":{}}}},"id":"c9487265-ad24-45dd-bbe4-6ed9c972d6f9","name":"Mensagem Antes do Catálogo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6060,1720]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $json.phone }}"},{"name":"message","value":"={{ $json.data }}"},{"name":"optionList","value":"={{ $json.opcoes }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"560f9d98-f395-4f8a-ad36-59e7fb22b586","name":"Resumo Carrinho","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6280,1880]},{"parameters":{"jsCode":"var msg = \"Ok, vamos lá. Segue abaixo o resumo de seu pedido:\\n\\n\";\nvar carTotal = 0;\nfor (const item of $input.all()) {\n  var sub = Number(item.json.subtotal).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }); \n  msg += `${item.json.cart_item} - Qtd: ${item.json.cart_qtd} - Subtotal: ${sub}\\n`;\n  carTotal += Number(item.json.subtotal);\n}\n\nmsg += `\\nTotal do pedido: *${carTotal.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}*`\n\nreturn {\n  \"phone\": $('Webhook').first().json.body.phone,\n  \"data\": msg,\n  \"opcoes\": {\n    \"title\": \"Então, vamos finalizar?\",\n    \"buttonLabel\": \"Opções\",\n    \"options\": [\n      {\n        \"id\": 0,\n        \"title\": \"Sim, vamos fechar!\",\n        \"description\": \"Meu carrinho está correto\"\n      },\n      {\n        \"id\": 1,\n        \"title\": \"Ainda não...\",\n        \"description\": \"Ainda não decidi pela compra\"\n      }\n    ]\n  }\n};"},"id":"ca2359b5-0409-485c-bfc7-cbb5ff182919","name":"Resumo","type":"n8n-nodes-base.code","typeVersion":2,"position":[-6480,1880]},{"parameters":{"databaseId":107311,"tableId":289299,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2069456,"value":"={{ $('Webhook').item.json.body.phone }}"},{"field":2069843,"operator":"not_equal","value":"0"}]}}},"id":"73c3839f-3f70-4039-974e-a7378db403b9","name":"Lista Carrinho","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-6700,1880],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ec9ac189-787f-45ac-81c1-b5c1900585c4","leftValue":"={{ $json.endereco }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"412c4f8e-3048-4dc9-aa34-9dce34b6c3ac","name":"Possui Endereço","type":"n8n-nodes-base.if","typeVersion":2,"position":[-6480,2120]},{"parameters":{"databaseId":107311,"tableId":288182,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2061130,"value":"={{ $('Webhook').item.json.body.phone }}"}]}}},"id":"903a5a53-5898-4c78-be79-cb0b60b2bfb1","name":"Verifica Endereço","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-6700,2120],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Webhook').item.json.body.phone }}\",\n  \"message\": \"{{ $('Webhook').item.json.body.senderName.split(' ')[0] }}, para continuar precisamos cadastar o seu endereço. Por favor, me forneça o seu CEP\"\n} ","options":{"redirect":{"redirect":{}}}},"id":"f1530004-824d-4cd5-9baf-2afee5468e42","name":"Pede para cadastrar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6280,2260]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c4ed1202-f10b-4a60-adf0-c99e10c47a50","leftValue":"={{ $('Verifica se é opção selecionada').item.json.body.text.message }}","rightValue":"/^\\d{5}-?\\d{3}$/","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"id":"ebcc04ca-9120-4300-9327-7f93c4bdf564","name":"Verifica se é CEP","type":"n8n-nodes-base.if","typeVersion":2,"position":[-7160,2920]},{"parameters":{"url":"=https://viacep.com.br/ws/{{ $json.cep }}/json","options":{}},"id":"842e12b8-e6ca-43bc-88df-6f46550aff01","name":"Busca CEP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6700,2840],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"8597b6d1-4821-4824-887d-2f1062fcfcce","name":"cep","value":"={{ $json.body.text.message.replaceAll('-','') }}","type":"string"}]},"options":{}},"id":"61ed2419-6567-401e-9fe8-82f21fdf4340","name":"Formata CEP","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-6920,2840]},{"parameters":{"operation":"update","databaseId":107311,"tableId":288182,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2061133,"fieldValue":"={{ $('Busca CEP').item.json.logradouro }} -  {{ $('Busca CEP').item.json.bairro }} -  {{ $('Busca CEP').item.json.localidade }}/{{ $('Busca CEP').item.json.uf }}"},{"fieldId":2061131,"fieldValue":"={{ $('Webhook').item.json.body.senderName }}"}]}},"id":"c29e40b0-56e4-423f-b830-f2abba80b4d2","name":"Atualiza Cadastro","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-6280,2840],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"databaseId":107311,"tableId":288182,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2061130,"value":"={{ $('Webhook').item.json.body.phone }}"}]}}},"id":"d602da02-8619-423d-8fcc-9600260ec584","name":"Pega Registro","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-6480,2840],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-option-list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Webhook').item.json.body.phone }}"},{"name":"message","value":"={{ $('Webhook').item.json.body.senderName.split(' ')[0] }}, seu endereço de entrega é *{{ $('Merge Endereco').item.json.endereco }}*. Agora vamos ao pagamento. Escolha como deseja pagar"},{"name":"optionList","value":"={{ $json.opcoes }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"dbc16126-d738-4a4c-8ac7-09257ea00e21","name":"Pergunta Forma de Pagamento","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5280,2260]},{"parameters":{},"id":"36efd5cb-48bb-4200-b62d-5627f275757a","name":"Merge Phone","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-5480,1380]},{"parameters":{},"id":"2aaa8aae-2adb-47da-b724-07455e0f8b16","name":"Merge Endereco","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-5660,2260]},{"parameters":{"assignments":{"assignments":[{"id":"766577fa-d50a-492b-9c8e-e6d6e4bdf9bb","name":"endereco","value":"={{ $json.endereco }}","type":"string"}]},"options":{}},"id":"3a0ad5af-dd09-423a-8db0-b12b0e239604","name":"Endereco Atual","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-6060,2100]},{"parameters":{"assignments":{"assignments":[{"id":"67e1944d-9ce6-4d6b-8b3f-bc354306ce3d","name":"endereco","value":"={{ $json.endereco }}","type":"string"}]},"options":{}},"id":"cfc0f721-6287-4326-a001-ae57b0785818","name":"Endereco Cadastrado","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-6060,2840]},{"parameters":{"jsCode":"return {\n  \"opcoes\": {\n    \"title\": \"Escolha uma opção\",\n    \"buttonLabel\": \"Formas de pagamento\",\n    \"options\": [\n      {\n        \"id\": 0,\n        \"title\": \"Link de pagamento\",\n        \"description\": \"Pagamento com cartão de crédito e débito\"\n      },\n      {\n        \"id\": 1,\n        \"title\": \"PIX\",\n        \"description\": \"Pagamento com PIX Copia e Cola\"\n      }\n    ]\n  }\n}\n"},"id":"2ff70ab8-1cc2-485f-8182-1b912a43b65e","name":"Opçoes de Pagamento","type":"n8n-nodes-base.code","typeVersion":2,"position":[-5480,2260]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Verifica se é opção selecionada').item.json.body.listResponseMessage.message }}","rightValue":"Preço","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Produto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"3ed5272c-4b83-4703-a061-d69bd4b6345f","leftValue":"={{ $('Verifica se é opção selecionada').item.json.body.listResponseMessage.message }}","rightValue":"Subtotal","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Quantidade"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"f12c67b1-7442-43c2-aa9f-c2556183bb33","leftValue":"={{ $('Verifica se é opção selecionada').item.json.body.listResponseMessage.title }}","rightValue":"mais!","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Adicionar Itens"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"336b9f3d-1cd5-4955-a565-5906f52ba403","leftValue":"={{ $('Verifica se é opção selecionada').item.json.body.listResponseMessage.title }}","rightValue":"checkout","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Resumo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"1efae891-5bef-4792-aaf7-b4fa1d135fac","leftValue":"={{ $('Verifica se é opção selecionada').item.json.body.listResponseMessage.title }}","rightValue":"fechar!","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Fechar Pedido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"37dc4001-80d3-4be7-844a-6eed29978f5d","leftValue":"={{ $('Verifica se é opção selecionada').item.json.body.listResponseMessage.message }}","rightValue":"Pagamento","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pagamento"}]},"options":{}},"id":"99f57205-5db8-4a82-90f2-70426e2c429e","name":"Tipo Opcao Selecionada","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-7180,1700]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Verifica se é opção selecionada').item.json.body.listResponseMessage.title }}","rightValue":"PIX","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PIX"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"2068c099-cd9d-44b9-b540-ea0beb1480f3","leftValue":"={{ $('Verifica se é opção selecionada').item.json.body.listResponseMessage.title }}","rightValue":"Link","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Link"}]},"options":{}},"id":"38b760f7-497b-4672-b5e5-8bbe7bf5b16b","name":"Escolha Pagamento","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-6920,2580]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Webhook').item.json.body.phone }}\",\n  \"message\": \"Segue o pix copia e cola:\\n\\n{{ $('PIX Copia e Cola').item.json.pix }}\\n\\n*Muito obrigado por sua compra!*\"\n}","options":{"redirect":{"redirect":{}}}},"id":"41d2dd5a-02f7-4d6c-9e15-4c509d8f8fe9","name":"Mensagem PIX","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6480,2500]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Webhook').item.json.body.phone }}\",\n  \"message\": \"Segue o link para pagamento:\\n\\nhttp://userede.com.br\\n\\n*Muito obrigado por sua compra!*\"\n}","options":{"redirect":{"redirect":{}}}},"id":"9abf91db-3480-49cc-b57d-0431df889bad","name":"Mensagem Link","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6700,2660]},{"parameters":{"jsCode":"return {\n  \"pix\": \"00020126660014BR.GOV.BCB.PIX0111113593027940229obrigado pela doação no teste52040000530398654040.015802BR5924Victor Hugo Rabelo Neves6009SAO PAULO62140510ZUISFrvsME6304B76F\"\n}"},"id":"5697d150-ed0d-430f-8706-33262e52385f","name":"PIX Copia e Cola","type":"n8n-nodes-base.code","typeVersion":2,"position":[-6700,2500]},{"parameters":{"amount":2},"id":"9484dc43-87de-4b57-8754-739ba5e55bed","name":"2s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-6920,3020],"webhookId":"251f3954-3cb4-44fe-bfed-1c1132ac2c10"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"aa8dba4d-27a0-463c-aac7-a11bae13d084","leftValue":"={{ $json.whatsapp }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"26da1743-ba5a-4a1c-942f-9f57831b91e7","name":"Verifica se Existe","type":"n8n-nodes-base.if","typeVersion":2,"position":[-6900,900]},{"parameters":{"operation":"create","databaseId":107311,"tableId":288182,"fieldsUi":{"fieldValues":[{"fieldId":2061130,"fieldValue":"={{ $('Webhook').item.json.body.participantPhone }}"},{"fieldId":2061131,"fieldValue":"={{ $('Webhook').item.json.body.senderName }}"}]}},"id":"e20834c6-5aac-45bb-896d-707abaf4e300","name":"Cria Usuario","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-6700,1080],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}}],"connections":{"Mensagem Grupo":{"main":[[{"node":"Palavra Chave","type":"main","index":0}],[{"node":"Verifica se é opção selecionada","type":"main","index":0}]]},"GetUser":{"main":[[{"node":"Verifica se Existe","type":"main","index":0}]]},"GetCatalogo":{"main":[[{"node":"ListaCatalogo","type":"main","index":0}]]},"Palavra Chave":{"main":[[{"node":"GetUser","type":"main","index":0}],[{"node":"Mensagem do Grupo sem palavra chave","type":"main","index":0}]]},"Chama no Particular":{"main":[[{"node":"1s","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Mensagem Grupo","type":"main","index":0}]]},"1s":{"main":[[{"node":"Participant Phone","type":"main","index":0}]]},"Verifica se é opção selecionada":{"main":[[{"node":"Tipo Opcao Selecionada","type":"main","index":0}],[{"node":"Verifica se é CEP","type":"main","index":0}]]},"ListaCatalogo":{"main":[[{"node":"Enviar Catalogo","type":"main","index":0}]]},"ListaQuantidade":{"main":[[{"node":"Pergunta Quantidade","type":"main","index":0}]]},"Adiciona ao Carrinho":{"main":[[{"node":"ListaQuantidade","type":"main","index":0}]]},"Pega Item Carrinho":{"main":[[{"node":"Atualiza Carrinho","type":"main","index":0}]]},"Atualiza Carrinho":{"main":[[{"node":"Menu Adicionar Ou Fechar","type":"main","index":0}]]},"Participant Phone":{"main":[[{"node":"Merge Phone","type":"main","index":0}]]},"Contact Phone":{"main":[[{"node":"Merge Phone","type":"main","index":1}]]},"Menu Adicionar Ou Fechar":{"main":[[{"node":"Pergunta se quer outro produto","type":"main","index":0}]]},"Mensagem Antes do Catálogo":{"main":[[{"node":"Contact Phone","type":"main","index":0}]]},"Resumo":{"main":[[{"node":"Resumo Carrinho","type":"main","index":0}]]},"Lista Carrinho":{"main":[[{"node":"Resumo","type":"main","index":0}]]},"Verifica Endereço":{"main":[[{"node":"Possui Endereço","type":"main","index":0}]]},"Possui Endereço":{"main":[[{"node":"Endereco Atual","type":"main","index":0}],[{"node":"Pede para cadastrar","type":"main","index":0}]]},"Verifica se é CEP":{"main":[[{"node":"Formata CEP","type":"main","index":0}],[{"node":"2s","type":"main","index":0}]]},"Formata CEP":{"main":[[{"node":"Busca CEP","type":"main","index":0}]]},"Busca CEP":{"main":[[{"node":"Pega Registro","type":"main","index":0}]]},"Pega Registro":{"main":[[{"node":"Atualiza Cadastro","type":"main","index":0}]]},"Merge Phone":{"main":[[{"node":"GetCatalogo","type":"main","index":0}]]},"Merge Endereco":{"main":[[{"node":"Opçoes de Pagamento","type":"main","index":0}]]},"Endereco Atual":{"main":[[{"node":"Merge Endereco","type":"main","index":0}]]},"Atualiza Cadastro":{"main":[[{"node":"Endereco Cadastrado","type":"main","index":0}]]},"Endereco Cadastrado":{"main":[[{"node":"Merge Endereco","type":"main","index":1}]]},"Opçoes de Pagamento":{"main":[[{"node":"Pergunta Forma de Pagamento","type":"main","index":0}]]},"Tipo Opcao Selecionada":{"main":[[{"node":"Adiciona ao Carrinho","type":"main","index":0}],[{"node":"Pega Item Carrinho","type":"main","index":0}],[{"node":"Mensagem Antes do Catálogo","type":"main","index":0}],[{"node":"Lista Carrinho","type":"main","index":0}],[{"node":"Verifica Endereço","type":"main","index":0}],[{"node":"Escolha Pagamento","type":"main","index":0}]]},"Escolha Pagamento":{"main":[[{"node":"PIX Copia e Cola","type":"main","index":0}],[{"node":"Mensagem Link","type":"main","index":0}]]},"PIX Copia e Cola":{"main":[[{"node":"Mensagem PIX","type":"main","index":0}]]},"2s":{"main":[[{"node":"Mensagem fora do Menu","type":"main","index":0}]]},"Verifica se Existe":{"main":[[{"node":"Chama no Particular","type":"main","index":0}],[{"node":"Cria Usuario","type":"main","index":0}]]},"Cria Usuario":{"main":[[{"node":"Chama no Particular","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"008ef9a0-580c-4b80-84b9-77629a6f421b","triggerCount":1,"tags":[{"createdAt":"2024-05-08T13:09:05.414Z","updatedAt":"2024-05-08T13:09:05.414Z","id":"geOzNJLre1tq4Ts2","name":"dev"}]}