winepoc---campanha-whatsapp---sem-cadastro-srW7zcw2vSsBgVoK.json
{"createdAt":"2024-05-08T21:58:41.524Z","updatedAt":"2024-05-15T12:25:11.000Z","id":"srW7zcw2vSsBgVoK","name":"WinePOC - Campanha Whatsapp - Sem Cadastro","active":true,"nodes":[{"parameters":{"path":"campanha","formTitle":"WinePOC Campanha","formDescription":"Disparo de Campanha através de grupo de Whatsapp","formFields":{"values":[{"fieldLabel":"Título da Campanha","requiredField":true},{"fieldLabel":"Url da Imagem","requiredField":true},{"fieldLabel":"Descrição","fieldType":"textarea","requiredField":true}]},"options":{}},"id":"03755c70-41f5-4ca0-a09a-90d4c1a7cca3","name":"Formulario Campanha","type":"n8n-nodes-base.formTrigger","typeVersion":2,"position":[40,260],"webhookId":"186017de-c66d-4378-9042-76f283813192"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"216f1952-fdf1-4f80-83fd-0e63dcb45ab3","leftValue":"={{ $json['Url Imagem'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"02aab4dd-08e6-4067-a3bd-3293bc7dcadf","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[560,260]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-image","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"120363295629232541-group"},{"name":"image","value":"={{ $json['Url Imagem'] }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"d7609a5c-28d3-4760-8e36-3655365025b3","name":"Imagem Campanha","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,100]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-option-list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"120363295629232541-group\",\n  \"message\": \"*{{ $('Formulario Campanha').item.json['Título da Campanha'] }}*\\n\\n{{ $('Formulario Campanha').item.json.Descrição }}\",\n  \"optionList\": {\n    \"title\": \"Opções disponíveis\",\n    \"buttonLabel\": \"Abrir lista de opções\",\n    \"options\": [\n      {\n        \"id\": \"1\",\n        \"description\": \"Ver a lista de vinhos desta campanha\",\n        \"title\": \"Quero conhecer!\"\n      },\n      {\n        \"id\": \"2\",\n        \"description\": \"Venha nos conhecer melhor\",\n        \"title\": \"Visitar o site\"\n      }\n    ]\n  }\n}","options":{"redirect":{"redirect":{}}}},"id":"0be9b178-f9b8-4de2-9688-de77d02eb0c8","name":"Enviando Opções","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,360]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-image","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"120363295629232541-group\",\n  \"message\": \"\\n*{{ $('Formulario Campanha').item.json['Título da Campanha'] }}*\\n\\n{{ $('Formulario Campanha').item.json.Descrição }}\\n\\n- Caparzo Chardonnay 2022 - caixa c/ 6 - R$ 425.00\\n- Caparzo Sangiovese 2021 - caixa c/ 6 - R$ 425.00\\n- Don Rafael Tinto 2020 - R$ 95.00\\n- Don Rafael Tinto Magnum 2019 - R$ 170.00\\n- Ponte do Mouchão Branco 2022 - R$ 160.00\\n- Ponte do Mouchão Tinto 2017 - R$ 160.00\\n- Ponte do Mouchão Tinto Magnum 2019 - R$ 310.00\\n- Mouchão Reserva Tinto 2016 - R$ 355.00\\n\\nPara saber mais digite *#euquero* e iremos lhe atenteder!\",\n  \"image\": \"{{ $('Formulario Campanha').item.json['Url Imagem'] }}\",\n  \"linkUrl\": \"https://meusvinhos.com.br\",\n  \"title\": \"{{ $('Formulario Campanha').item.json['Título da Campanha'] }}\",\n  \"linkDescription\": \"Campanha de Vinhos pelo Whatsapp\"\n}","options":{"redirect":{"redirect":{}}}},"id":"b75b471d-a5ab-483a-afc2-6620125983f9","name":"Mensagem Grupo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,260]}],"connections":{"Formulario Campanha":{"main":[[{"node":"Mensagem Grupo","type":"main","index":0}]]},"If":{"main":[[{"node":"Imagem Campanha","type":"main","index":0}],[{"node":"Enviando Opções","type":"main","index":0}]]},"Imagem Campanha":{"main":[[{"node":"Enviando Opções","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b3d8fa13-5bc5-405b-9759-7d9d099f8158","triggerCount":2,"tags":[{"createdAt":"2024-05-08T13:09:05.414Z","updatedAt":"2024-05-08T13:09:05.414Z","id":"geOzNJLre1tq4Ts2","name":"dev"}]}