winepoc---fluxo-no-grupo-whatsapp-com-openai---audio-e-imagem-bQtMGX5Dt8SBPuJs.json
{"createdAt":"2024-05-08T13:09:08.281Z","updatedAt":"2024-05-13T14:40:38.000Z","id":"bQtMGX5Dt8SBPuJs","name":"WinePOC - Fluxo no Grupo Whatsapp com OpenAI - Audio e Imagem","active":true,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"85462951-b2ed-48cc-92bc-85acc872a1b4","leftValue":"={{ $json.whatsapp }}","rightValue":"={{ $('Webhook').item.json.body.phone }}","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d5eb4fd4-1441-4a48-979f-4030363573e0","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[-4900,2500]},{"parameters":{"databaseId":107311,"tableId":288182,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2061130,"value":"={{ $json.body.phone }}"}]}}},"id":"57c46293-0323-4538-a279-f9d933d28165","name":"GetUser","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-5140,2500],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"operation":"create","databaseId":107311,"tableId":288182,"fieldsUi":{"fieldValues":[{"fieldId":2061130,"fieldValue":"={{ $('Webhook').item.json.body.phone }}"}]}},"id":"2d27ab7c-0de6-487d-964e-a10c0d8d2465","name":"CreateUser","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-4660,2620],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"3383305c-8a42-48ae-a632-31f8f4777196","name":"Criar Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3840,2660],"alwaysOutputData":true,"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{},"id":"776cce86-c62f-4393-89d2-3fe65f574850","name":"Merge User","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-4380,2500],"alwaysOutputData":true,"executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"968ee1b3-fb37-4e94-8282-d1875dce9811","leftValue":"={{ $json.thread_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"de92060f-ffe4-45ca-81b0-95671c98732e","name":"Possui Thread","type":"n8n-nodes-base.if","typeVersion":2,"position":[-4020,2500],"alwaysOutputData":false},{"parameters":{"amount":2},"id":"d9c3e9f3-d8c7-4e6b-a12e-822cf4855e4f","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1560,2280],"webhookId":"95a81d67-7322-4a78-a253-b937ff572db1"},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $json.body.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"asst_WFAGWLqHBtmcQaMNQGOVJdmf"}]},"options":{}},"id":"b29b7579-c5b7-4c10-86f4-74775c4f20fb","name":"Run Assistant","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2240,2480],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/runs/{{ $json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"8f1cfbcc-5f73-4ff3-9e8c-750d806a0516","name":"Get Run Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2020,2480],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"12a5740e-ff1b-40d0-8e4d-ea9b20902d12","name":"tool_calls","value":"={{ $json.required_action.submit_tool_outputs.tool_calls }}","type":"array"}]},"options":{}},"id":"fa6ef4dd-0f29-4d52-a859-b2b68fdc0cee","name":"Captura Tool Calls","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1540,1920]},{"parameters":{"fieldToSplitOut":"tool_calls","include":"allOtherFields","options":{"destinationFieldName":"properties"}},"id":"bf6321b4-236c-452c-afc0-aa56e3499867","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1320,1920]},{"parameters":{"options":{}},"id":"27025232-7dbf-4ac5-aa7a-3c712bf9c6de","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1100,1920]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.data[0].content[0].text.value }}"},{"name":"phone","value":"={{ $('Webhook').item.json.body.phone }}"}]},"options":{}},"id":"14b18c3c-7635-46b5-a929-14a2ad03a1be","name":"Envia Whatsapp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1100,2480]},{"parameters":{"databaseId":107311,"tableId":288426,"returnAll":true,"additionalOptions":{}},"id":"ba7c8b2a-9b52-4cc8-aea9-c0517c3e8819","name":"Get Wines","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-300,1680],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"databaseId":107311,"tableId":288182,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2061130,"value":"={{ $('Webhook').item.json.body.phone }}"}]}}},"id":"5b4de425-11e2-45fa-9675-b686538a43f5","name":"Get User","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-300,1900],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":107311,"tableId":288182,"rowId":"={{ $('GetUser').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2061131,"fieldValue":"={{ $json.properties.function.arguments.parseJson().nome }}"},{"fieldId":2061133,"fieldValue":"={{ $json.properties.function.arguments.parseJson().endereco }}"}]}},"id":"59c1b469-ec82-46d7-84ac-7983ee886ffa","name":"Save User","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-300,2100],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Tipo Mensagem').item.json.thread_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"assistant"},{"name":"content","value":"={{ $json.mensagem[0] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"5496364a-ce05-40b4-be18-0a9970f7cf02","name":"Criar Mensagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2480,2500],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Possui Thread').item.json.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"1043b45d-2047-4191-a4ab-1fe931b8ece0","name":"List Runs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2580,2160],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Possui Thread').item.json.thread_id }}/runs/{{ $json.first_id }}/cancel","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"32b6b80b-e532-41b3-80dc-a0476124d0df","name":"Cancel Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2320,2160],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Run Assistant').item.json.thread_id }}/runs/{{ $('Run Assistant').item.json.id }}/submit_tool_outputs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"tool_outputs","value":"={{ $json.tool_outputs }}"}]},"options":{}},"id":"56c40e6a-9c56-42d4-ad5e-fea5fe408d90","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-300,1360],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"tool_outputs","options":{}},"id":"db69e21c-a18c-4709-b11f-8364c7c7b407","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-520,1360]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/messages?order-desc","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"70828218-3ddc-4372-8813-404a310c7736","name":"Get Resposta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1320,2480],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.Rotulo }}, {{ $json.Ano }}, {{ $json.Preço }}","type":"string"}]},"options":{}},"id":"d1146891-2982-4648-9363-a5c4e7e6b6ae","name":"Output Wines","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-80,1680]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{"outputFormat":"separateItems"}},"id":"74e04f14-910a-433b-85ee-66c50d3141a5","name":"Summarize Action","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[840,1900]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"be47712c-cd7e-41f0-ab69-58a7c3ea9cf3","name":"Output Get User","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-80,1900]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"736cc171-8d88-4399-85b4-624fd192bf69","name":"Output Save User","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-80,2100]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"a288ed3c-8a09-4120-b81a-44ed1d929489","name":"Output Put Order","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[540,2220]},{"parameters":{"jsCode":"return {\n  \"link\": \"https://www.userede.com.br/\",\n  \"pix\": \"00020126660014BR.GOV.BCB.PIX0111113593027940229obrigado pela doação no teste52040000530398654040.015802BR5924Victor Hugo Rabelo Neves6009SAO PAULO62140510ZUISFrvsME6304B76F\"\n}"},"id":"d65d3f4f-6b25-422f-8997-999420c207c1","name":"Link de Pagamento","type":"n8n-nodes-base.code","typeVersion":2,"position":[-300,2500]},{"parameters":{"assignments":{"assignments":[{"id":"4e067dbd-0250-4332-a81c-ae87047ca7d3","name":"data","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"id":"199c9a07-c211-40f1-8577-e01fc7968b6e","name":"Output Payment Link","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-80,2500]},{"parameters":{"assignments":{"assignments":[{"id":"12adba31-058a-4496-ab9e-28513217a50a","name":"tool_call_id","value":"={{ $('Split Out').item.json.properties.id }}","type":"string"},{"id":"7b78e22a-8dff-4d5f-8123-4a9ef23d9fa9","name":"output","value":"={{ $json.concatenated_data }}","type":"string"}]},"options":{}},"id":"d4ecac54-6bae-48d9-aeb7-7528aa92d03d","name":"Prepare tools output","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-740,1560]},{"parameters":{"fieldToSplitOut":"cart","options":{}},"id":"47ee60e8-710d-4cac-bb8c-d8c6e4c19bf2","name":"Split Cart Itens","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-80,2300]},{"parameters":{"assignments":{"assignments":[{"id":"dc5b36f1-0d31-4bd4-8ac9-b089850811bf","name":"cart","value":"={{ $json.properties.function.arguments.parseJson().itens.split(\"\\n\") }}","type":"array"}]},"options":{}},"id":"b6c6a6b8-a87f-4bd9-968f-3d569dfdcdc2","name":"Input Put Order","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-300,2300]},{"parameters":{"options":{"reset":false}},"id":"3cb16865-706e-45d4-bbf5-7545a39ffeb5","name":"Loop Over Cart Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,2300]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.properties.function.name }}","rightValue":"get_wines","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_wines"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"bca3495b-7a44-4afd-a12b-e2c197475d3a","leftValue":"={{ $json.properties.function.name }}","rightValue":"get_user_data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"07bec39e-df8d-443c-bd07-4df3cc4f62ff","leftValue":"={{ $json.properties.function.name }}","rightValue":"save_user_data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"save_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5c19fda5-47b4-4ce9-a790-277848d4053d","leftValue":"={{ $json.properties.function.name }}","rightValue":"put_order","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"put_order"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"faa66bf7-b1e4-47a7-8683-8ae6ac9ddd1d","leftValue":"={{ $json.properties.function.name }}","rightValue":"get_payment_link","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_payment_link"}]},"options":{}},"id":"a4973b5d-97d8-47f3-82d2-68f5ab7326a7","name":"Escolhe a tool","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-740,1920]},{"parameters":{"operation":"create","databaseId":107311,"tableId":289299,"fieldsUi":{"fieldValues":[{"fieldId":2069456,"fieldValue":"={{ $('GetUser').item.json.whatsapp }}"},{"fieldId":2069457,"fieldValue":"={{ $('Get Run Status').item.json.thread_id }}"},{"fieldId":2069458,"fieldValue":"={{ $json.cart.split(\"|\")[0] }}"},{"fieldId":2069843,"fieldValue":"={{ $json.cart.split(\"|\")[1] }}"},{"fieldId":2069845,"fieldValue":"={{ $json.cart.split(\"|\")[2].replaceAll(\"R$\",\"\") }}"}]}},"id":"238dd612-401a-4718-b2ef-986d57978d0d","name":"Put Order","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[540,2420],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"operation":"update","databaseId":107311,"tableId":288182,"rowId":"={{ $('Merge User').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2061134,"fieldValue":"={{ $json.id }}"}]}},"id":"8e9227bc-975c-4d6f-a6a7-52a60b825606","name":"Update User","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-3660,2660],"credentials":{"baserowApi":{"id":"iNXnsCHBe6ExygX6","name":"Baserow account"}}},{"parameters":{"assignments":{"assignments":[{"id":"898e5ea5-32f5-4c15-b459-8f8883462693","name":"mensagem","value":"={{ $('Webhook').item.json.body.text.message }}","type":"string"}]},"options":{}},"id":"b4acff83-3d8e-441a-9735-083d9c72d370","name":"Output Texto","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3120,2500]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"mensagem"}]},"options":{}},"id":"2716d34d-f7aa-470a-a392-5e94d2964c3e","name":"Agrega Mensagens","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2820,2500]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"queued","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"queued"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8f298867-9fe7-4564-8887-4d8e30d93d33","leftValue":"={{ $json.status }}","rightValue":"in_progress","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"in_progress"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6932f1b4-d0b7-454d-b05e-7f97b04108f6","leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5f3617b1-9b0d-44dd-89ef-d3f6c9ac718a","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a129efd7-a390-4c58-92a0-84d7b3f35357","leftValue":"={{ $json.status }}","rightValue":"expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expired"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c298d202-dc51-453b-8a14-cd082454a9b0","leftValue":"={{ $json.status }}","rightValue":"requires_action","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"requires_action"}]},"options":{}},"id":"3c20a61d-2e05-4a98-baca-4d2ffd3c7c95","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1780,2460]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ac6731f7-9845-4801-9944-348ce6cb4d9c","leftValue":"={{ $json.body.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"b7631f68-152c-4a8a-9515-25968dc089bb","name":"Mensagem de Grupo","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5400,2500]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"0e886eba-afc9-4eb0-af8b-66b9a0f494f4","leftValue":"={{ $json.body.text.message }}","rightValue":"#euquero","operator":{"type":"string","operation":"contains"}},{"id":"61fcc707-4b30-44a6-8969-7c2019d0add6","leftValue":"={{ $json.body.text.message }}","rightValue":"eu quero","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"e35f217c-999e-48ad-8d8d-67864d306c08","name":"Palavra Chave","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5140,2280]},{"parameters":{},"id":"7c1a0f5a-aa35-425f-86b0-c8ced2ca3250","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4900,2280]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CEEA0A6BCD2D0E49FB9D6E96DCD545E/token/ECF5B6F24C278CF3BFB55D3C/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"client-token","value":"F141ea19bb9ca40c981694b3c825d73f6S"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Webhook').item.json.body.participantPhone }}\",\n  \"message\": \"Olá {{ $('Webhook').item.json.body.senderName }}, eu sou o assistente que estará dando prosseguimento ao atendimento!\\nAbri essa conversa em particular para que eu possa lhe mostrar os vinhos disponíveis da campanha .\\n\\nCaso queira, você pode enviar uma mensagem de áudio ou imagem de um rótulo de vinho que irei checar se está em nossa lista. OK?\\n\\nPodemos começar?\"\n}","options":{}},"id":"31737a2c-8e32-4931-b928-29abfa92d341","name":"Chama no Particular","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4900,2080]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.audio }}","rightValue":"ogg","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ba43770e-6e61-4e53-850c-16fa2bd7ddda","leftValue":"={{ $('Webhook').item.json.body.image }}","rightValue":"jpg","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4b1b0c87-c0f7-43d4-8e3a-ae5070952879","leftValue":"={{ $('Webhook').item.json.body.text }}","rightValue":"txt","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"id":"1f4f67e1-ecdd-49ce-aeef-61e79f0cae18","name":"Tipo Mensagem","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-3660,2480]},{"parameters":{"assignments":{"assignments":[{"id":"7e0cc371-a8f8-449f-a30f-f01debe0c959","name":"mensagem","value":"={{ $json.content }}","type":"string"}]},"options":{}},"id":"2a9ea3b7-df1c-48d9-b654-972230959f01","name":"Output Image","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3120,2320]},{"parameters":{"assignments":{"assignments":[{"id":"2add5799-4c12-47d6-aaf4-240c358db89c","name":"mensagem","value":"{{ $json.data }}","type":"string"}]},"options":{}},"id":"78d9b5d2-29c1-4352-baf9-bd47412622cb","name":"Output Audio","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3120,2120]},{"parameters":{"url":"={{ $('Webhook').item.json.body.audio.audioUrl }}","options":{}},"id":"2ca39d92-778c-4def-86dc-96559940a787","name":"Download Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3560,2120]},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"id":"90e2dae1-1d21-4452-af52-4f372e83359e","name":"OpenAI Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-3380,2120],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"resource":"image","operation":"analyze","text":"Você receberá a foto de um rótulo de vinho. Responda apenas com o nome do vinho, uva e safra (se possível). NUNCA USE ASPAS","imageUrls":"={{ $('Webhook').item.json.body.image.imageUrl }}","options":{}},"id":"cc70656d-d11e-489a-a9da-a0ea011b74b8","name":"OpenAI Image","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-3380,2320],"credentials":{"openAiApi":{"id":"48NMU328PE895MLL","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"winepoc-zapi","options":{"allowedOrigins":"*"}},"id":"a67b28d3-c7ca-4ba0-9a1f-bc28ceef995b","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5620,2500],"webhookId":"0276e071-9737-4161-8fbf-b701b7bcee48"}],"connections":{"If":{"main":[[{"node":"Merge User","type":"main","index":0}],[{"node":"CreateUser","type":"main","index":0}]]},"GetUser":{"main":[[{"node":"If","type":"main","index":0}]]},"Criar Thread":{"main":[[{"node":"Update User","type":"main","index":0}]]},"CreateUser":{"main":[[{"node":"Merge User","type":"main","index":1}]]},"Merge User":{"main":[[{"node":"Possui Thread","type":"main","index":0}]]},"Possui Thread":{"main":[[{"node":"Tipo Mensagem","type":"main","index":0}],[{"node":"Criar Thread","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Run Assistant":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Get Run Status":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Captura Tool Calls":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Prepare tools output","type":"main","index":0}],[{"node":"Escolhe a tool","type":"main","index":0}]]},"Get Wines":{"main":[[{"node":"Output Wines","type":"main","index":0}]]},"Criar Mensagem":{"main":[[{"node":"Run Assistant","type":"main","index":0}],[{"node":"List Runs","type":"main","index":0}]]},"List Runs":{"main":[[{"node":"Cancel Run","type":"main","index":0}]]},"Cancel Run":{"main":[[{"node":"Criar Mensagem","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Get Resposta":{"main":[[{"node":"Envia Whatsapp","type":"main","index":0}]]},"Output Wines":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Get User":{"main":[[{"node":"Output Get User","type":"main","index":0}]]},"Summarize Action":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Output Get User":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Save User":{"main":[[{"node":"Output Save User","type":"main","index":0}]]},"Output Save User":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Link de Pagamento":{"main":[[{"node":"Output Payment Link","type":"main","index":0}]]},"Output Payment Link":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Prepare tools output":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Input Put Order":{"main":[[{"node":"Split Cart Itens","type":"main","index":0}]]},"Split Cart Itens":{"main":[[{"node":"Loop Over Cart Items","type":"main","index":0}]]},"Loop Over Cart Items":{"main":[[{"node":"Output Put Order","type":"main","index":0}],[{"node":"Put Order","type":"main","index":0}]]},"Escolhe a tool":{"main":[[{"node":"Get Wines","type":"main","index":0}],[{"node":"Get User","type":"main","index":0}],[{"node":"Save User","type":"main","index":0}],[{"node":"Input Put Order","type":"main","index":0}],[{"node":"Link de Pagamento","type":"main","index":0}]]},"Put Order":{"main":[[{"node":"Loop Over Cart Items","type":"main","index":0}]]},"Update User":{"main":[[{"node":"Merge User","type":"main","index":1}]]},"Output Put Order":{"main":[[{"node":"Summarize Action","type":"main","index":0}]]},"Output Texto":{"main":[[{"node":"Agrega Mensagens","type":"main","index":0}]]},"Agrega Mensagens":{"main":[[{"node":"Criar Mensagem","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}],[],[{"node":"Get Resposta","type":"main","index":0}],[],[{"node":"Captura Tool Calls","type":"main","index":0}]]},"Mensagem de Grupo":{"main":[[{"node":"Palavra Chave","type":"main","index":0}],[{"node":"GetUser","type":"main","index":0}]]},"Palavra Chave":{"main":[[{"node":"Chama no Particular","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Tipo Mensagem":{"main":[[{"node":"Download Audio","type":"main","index":0}],[{"node":"OpenAI Image","type":"main","index":0}],[{"node":"Output Texto","type":"main","index":0}]]},"Output Image":{"main":[[{"node":"Agrega Mensagens","type":"main","index":0}]]},"Output Audio":{"main":[[{"node":"Agrega Mensagens","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"OpenAI Audio","type":"main","index":0}]]},"OpenAI Audio":{"main":[[{"node":"Output Audio","type":"main","index":0}]]},"OpenAI Image":{"main":[[{"node":"Output Image","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Mensagem de Grupo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c3cf9f6d-f847-4c18-ad4a-81a1592ad01f","triggerCount":1,"tags":[{"createdAt":"2024-05-08T13:09:05.414Z","updatedAt":"2024-05-08T13:09:05.414Z","id":"geOzNJLre1tq4Ts2","name":"dev"}]}